<div class="root_container">

    <!-- container 1 -->

    <div class="container_1">
        <div class="con_1_head"> 
            <img src="../../assets/homeopathy/con_1_icon.png" alt="">   
            <p class="con_1_head_txt">About Homeopathy</p>
        </div>
        <p class="con_1_para">The word 'Homeopathy' is derived from two Greek words, 'Homeos' means'similar' and'Pathos' means'suffering'. It is based on the natural law of healing "Similia Similibus Curantur" which means "likes are cured by likes". Dr. Samuel Hahnemann (1755 - 1843) gave it a scientific basis in the early 19th century. Homeopathy is an ideal and gentle therapeutic method that offers rapid permanent restoration of health by removing and eradicating the disease to its whole extent in the most harmless way. Homeopathy is a system of medicine in which medicine is chosen based on the individual peculiarities of the patient. The medicine is not selected based only on the disease or diagnosis. Homeopaths consider the totality of symptoms or the total of all symptoms in an individual with the physical and mental constitution of the patient to reach a medicine, that has properties similar to that of the symptom total in the patient or minimum.</p>
    </div>

    <!-- container 2 -->
    <div class="con_2_head">
        <p class="con_2_head_txt">How It Work</p>
    </div>
    <div class="container_2">
        <p class="con_2_para">Homeopathy operates on the principle of treating the individual, not just the disease, using natural remedies to stimulate the body's innate healing ability. It emphasizes the importance of understanding the unique mental, emotional and physical aspects of each person's health. By selecting remedies based on symptom similarity and individual characteristics, homeopathy aims to address the underlying cause of illness rather than just alleviating symptoms. This personalized approach allows for tailored treatment plans that consider the specific needs of each patient, promoting holistic well-being.</p>
        <p class="con_2_para">Furthermore, homeopathy acknowledges the profound link between mental and physical health, recognizing that emotional stress and psychological factors can manifest as physical symptoms. By addressing these underlying emotional imbalances, homeopathy seeks to restore harmony and balance within the body, promoting overall wellness. Its efficacy extends beyond humans, as it can also be safely and effectively used to treat animals, reflecting its versatility and holistic approach to healing.</p>
    </div>

    <!-- container 3 -->
    <div class="con_3_head">
        <img src="../../assets/homeopathy/con_3_icon.png" alt="">
        <p class="con_3_head_txt">SERVICES PROVIDED</p>
    </div>
    <div class="container_3">
        <div class="box_1">
            <div class="con_3_box_1_img">
                <img src="../../assets/homeopathy/con_3_img.png" alt="">
            </div>
            <div class="content">
                <div class="box_1_head">
                    <p class="box_1_head">Paediatric:</p>
                </div>
                <div class="box_1_contents">
                    <!-- column 1 -->
                    <ul class="content_col_1">
                        <li class="col_1_list_item">Repeated cold & cough</li>
                        <li class="col_1_list_item">Allergic Rhinitis</li>
                        <li class="col_1_list_item">Constipation</li>
                        <li class="col_1_list_item">Diarrhea</li>
                        <li class="col_1_list_item">Delayed Milestones</li>
                        <li class="col_1_list_item">Improve appetite & digestion</li>
                        <li class="col_1_list_item">Improve Immunity</li>
                    </ul>
                    <!-- column 2 -->
                    <ul class="content_col_1 content_col_2">
                        <li class="col_1_list_item">Adenoids</li>
                        <li class="col_1_list_item">Earache</li>
                        <li class="col_1_list_item">Sore throat</li>
                        <li class="col_1_list_item">Fever</li>
                        <li class="col_1_list_item">Asthma</li>
                        <li class="col_1_list_item">UTI</li>
                        <li class="col_1_list_item">Malnutrition</li>
                    </ul>
                    <!-- column 3 -->
                    <ul class="content_col_1 content_col_3">
                        <li class="col_1_list_item">Skin infection</li>
                        <li class="col_1_list_item">Tonsilitis</li>
                        <li class="col_1_list_item">Anxiety</li>
                        <li class="col_1_list_item">Colic</li>
                        <li class="col_1_list_item">Gastritis</li>
                        <li class="col_1_list_item">Worms</li>
                        <li class="col_1_list_item">Headache</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- container 4 -->

    <div class="container_4">
        <div class="con_4_contents">
            <div class="con_4_head">
                <p class="con_4_head_txt">Women's Health:</p>
            </div>
            <div class="con_4_ul_flex">
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items">PCOD</li>
                        <li class="con_4_list_items">Fibroid</li>
                        <li class="con_4_list_items">PMS</li>
                        <li class="con_4_list_items">Menopause</li>
                        <li class="con_4_list_items">Irregular Menses</li>
                        <li class="con_4_list_items">Abnormal uterine bleeding</li>
                        <li class="con_4_list_items">Dysmenorrhoea</li>
                    </ul>
                </div>
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items">Infertility</li>
                        <li class="con_4_list_items">Thyroid diseases</li>
                        <li class="con_4_list_items">UTI</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="con_4_img">
            <img src="../../assets/homeopathy/con_4_img.png" alt="">
        </div>
    </div>

    <!-- container 5 -->

    <div class="container_4 container_5">
        <div class="con_4_contents">
            <div class="con_4_head">
                <p class="con_4_head_txt">Acute conditions: (Adults)</p>
            </div>
            <div class="con_4_ul_flex">
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items">Common Cold & Cough</li>
                        <li class="con_4_list_items">Flu</li>
                        <li class="con_4_list_items">Acute Bronchitis</li>
                        <li class="con_4_list_items">Menopause Gastritis</li>
                        <li class="con_4_list_items">Headache [Migraine]</li>
                        <li class="con_4_list_items">Constipation</li>
                        <li class="con_4_list_items">Sore throat
                        </li>
                    </ul>
                </div>
                <div class="lists_box">
                    <ul class="con_4_lists">
                        <li class="con_4_list_items">Diarrhea</li>
                        <li class="con_4_list_items">Nausea & Vomiting</li>
                        <li class="con_4_list_items">Sinusitis</li>
                        <li class="con_4_list_items">Menorrhagia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="con_4_img">
            <img src="../../assets/homeopathy/con_5_img.png" alt="">
        </div>
    </div>

    <!-- container 6 -->

    <div class="container_6 container_3">
        <div class="box_1 box_2">
            <div class="con_3_box_1_img">
                <img src="../../assets/homeopathy/con_6_img.png" alt="">
            </div>
            <div class="content">
                <div class="box_1_head">
                    <p class="box_1_head">Chronic conditions:</p>
                </div>
                <div class="box_1_contents">
                    <!-- column 1 -->
                    <ul class="content_col_1">
                        <li class="col_1_list_item">Rheumatoid Arthritis</li>
                        <li class="col_1_list_item">GERD</li>
                        <li class="col_1_list_item">Osteoarthritis</li>
                        <li class="col_1_list_item">Gout</li>
                        <li class="col_1_list_item">Asthma</li>
                        <li class="col_1_list_item">Hemorrhoids</li>
                        <li class="col_1_list_item">Diabetes</li>
                        <li class="col_1_list_item">PCOD</li>
                    </ul>
                    <!-- column 2 -->
                    <ul class="content_col_1 content_col_2 content_col_2_res">
                        <li class="col_1_list_item">Fissure in ano</li>
                        <li class="col_1_list_item">Hypertension</li>
                        <li class="col_1_list_item">Migraine</li>
                        <li class="col_1_list_item">Ulcerative colitis IBS</li>
                        <li class="col_1_list_item">Thyroid Problem</li>
                        <li class="col_1_list_item">Hyperlipidaemia</li>
                        <li class="col_1_list_item">Menopause</li>
                        <li class="col_1_list_item">Fibroid</li>
                    </ul>
                    <!-- column 3 -->
                    <ul class="content_col_1 content_col_3">
                        <li class="col_1_list_item">Eczema</li>
                        <li class="col_1_list_item">Psoriasis</li>
                        <li class="col_1_list_item">Renal Calcul</li>
                        <li class="col_1_list_item">Anxiety</li>
                        <li class="col_1_list_item">Depression</li>
                        <li class="col_1_list_item">Chronic Respiratory disease</li>
                        <li class="col_1_list_item">Epilepsy</li>
                        <li class="col_1_list_item">Anaemia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- container 7 -->

    <div class="heading">
        <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
    </div>

    <div class="doc_container">
        <div class="doctors_flex">
          <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
            <div class="doc_1">
              <img [src]="slide.image" alt="{{ slide.name }}" />
              <p class="doc_name">{{ slide.name }}</p>
              <p class="section">{{ slide.section }}</p>
              <p class="designation">{{ slide.designation }}</p>
              <p class="exp">Years of Experience: {{slide.experience}}</p>
            </div>
          </div>
        </div>
      </div>
      
    <!-- view all button -->

    <div class="view_all">
        <app-arrow-btn></app-arrow-btn>
    </div>
</div>
