<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/neurology-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/neurology-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Neuro Hospital in Bangalore - Advanced Neurology and Nerve Care</h1>
            <div class="para_image">
                <div class="s_content">
                    <!-- <h2 class="s_subheadings">Comprehensive Neurology Services for Brain, Spine & Nerve Disorders</h2> -->
                    <p class="s_para">Every movement, thought and memory begins in your nervous system. When it’s affected - whether by a stroke, constant migraine headaches, a brain tumor, or unexplained nerve pain - daily life can quickly become overwhelming. Simple tasks feel harder and uncertainty grows.</p>
                    <p class="s_para">At Rashtrotthana Hospital, our Neurosciences Department for advanced neurological care in Bangalore is built to give you answers and relief. Here, experienced neurologists, neurosurgeons and nerve specialists work together to diagnose problems accurately and treat them with precision and compassion.</p>
                    <p class="s_para">We are known as one of the best hospitals for brain tumor and stroke treatment in Bangalore, offering care that combines advanced technology with a compassionate, patient-first approach.</p>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-neurologist-near-me.png" alt="Best neurologist near me RR Nagar Bangalore">
                </div>
            </div>

            <div class="para_image container-margin row-reverse">
                <div class="s_image">
                    <img src="../../assets/top-neurology-doctors-in-bangalore.png" alt="Best neurologist RR Nagar Bangalore">
                </div>
                <div class="s_content">
                    <h2 class="s_subheadings">Comprehensive Neurology & Neurosurgery Services</h2>
                    <p class="s_para">Our neurology in Bangalore team provides solutions for both acute and chronic neurological problems, including:</p>
                    <ul class="grid">
                        <li class="s_para">Comprehensive stroke and migraine treatment by neurologists in Bangalore</li>
                        <li class="s_para">Affordable migraine treatments and headache care in Bangalore with long-term relief plans</li>
                        <li class="s_para">Brain tumor treatment in Bangalore and advanced neurology care for brain tumor and cancer in Bangalore</li>
                        <li class="s_para">Radiculopathy treatment and nerve doctors for radiculopathy and spine disorders in Bangalore</li>
                        <li class="s_para">Seizure management and epilepsy care</li>
                        <li class="s_para">Peripheral neuropathy, neuralgia and carpal tunnel syndrome care</li>
                        <li class="s_para">Spinal cord injury and nerve compression disorders</li>
                        <li class="s_para">Behavioral, memory and cognitive issues caused by neuro conditions</li>
                    </ul>
                    <p class="s_para">Whether you need a neuro physician near me or an experienced neurosurgeon for brain cancer surgery in Bangalore, our specialists are equipped to manage every neurological challenge.</p>
                </div>
            </div>

            <div class="para_image container-margin">
                <div class="s_content">
                    <h2 style = "margin-bottom: 20px;" class="s_subheadings">Advanced Diagnostics for Brain, Nerve & Spine Disorders</h2>
                    <p class="s_para">Early and accurate diagnosis is critical in neurosciences. Our neuro hospital near me for nerve and brain disorders in Bangalore offers:</p>
                    <ul class="grid">
                        <li class="s_para"><b>MRI Brain and CT scans</b>: Essential for detecting strokes, tumors and trauma</li>
                        <li class="s_para"><b>EEG scans</b>: Analyze brain activity for seizure and epilepsy management</li>
                        <li class="s_para"><b>EMG and NCV tests</b>: Assess nerve and muscle function for radiculopathy and neuropathies</li>
                        <li class="s_para"><b>Comprehensive neurological evaluations</b>: For conditions like migraine headache and neuralgia</li>
                    </ul>
                    <p class="s_para">These tests help us detect conditions early and personalize care plans.</p>
                </div>
                <div class="s_image">
                    <img src="../../assets/peripheral-neuropathy-nerve-treatment-in-rr-nagar-bangalore.png" alt="best pediatrics neurologist RR Nagar Bangalore">
                </div>
            </div> 
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Brain Tumor and Brain Cancer Treatment</h2>
            <p class="s_para">Our brain tumor treatment in Bangalore program provides advanced care for patients diagnosed with benign or malignant tumors. Led by an experienced neurosurgeon for brain cancer surgery in Bangalore, we offer:</p>
            <ul class="grid">
                <li class="s_para">Minimally invasive brain tumor surgeries for safer, quicker recovery</li>
                <li class="s_para">Post-surgical rehabilitation for speech, memory and mobility</li>
                <li class="s_para">Advanced neurology care for brain tumor and cancer in Bangalore, ensuring continuous follow-up and monitoring</li>
            </ul>
        </div>
        <div class="s_image">
            <img src="../../assets/stroke-specialist-in-bangalore.png" alt="Top neurology doctors RR Nagar Bangalore">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/neurologist-in-bangalore.png" alt="Neurologist in RR Nagar Bangalore">
            <img src="../../assets/ct-scan-and-mri-for-neuro-disorders.png" alt="paediatric neurologist in Rajajeshwari Nagar Bangalore">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings">Stroke Care & Rehabilitation</h2>
            <p class="s_para">When every second counts, our stroke treatment in Bangalore protocols ensure fast intervention. We specialize in:</p>
            <ul class="grid">
                <li class="s_para">Immediate care for ischemic and hemorrhagic strokes</li>
                <li class="s_para">Advanced imaging for quick and precise diagnosis</li>
                <li class="s_para">Post-stroke rehabilitation for movement, balance and speech recovery</li>
                <li class="s_para">Ongoing prevention plans to reduce recurrence</li>
            </ul>
            <p class="s_para">Our hospital is widely recognized as the best hospital for brain tumor and stroke treatment in Bangalore.</p>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Migraine and Headache Management</h2>
            <p class="s_para">Migraines aren’t “just headaches” - they affect concentration, sleep and daily living. We provide affordable migraine treatments and headache care in Bangalore including:</p>
            <ul class="grid">
                <li class="s_para">Detailed evaluations to identify migraine triggers</li>
                <li class="s_para">Preventive therapies and lifestyle guidance</li>
                <li class="s_para">Acute migraine treatments for flare-ups</li>
                <li class="s_para">Ongoing support for chronic migraine headache patients</li>
            </ul>
            <p class="s_para">If you’re searching for the best neuroscience doctor for migraine headache and nerve pain in Bangalore, our specialists provide targeted solutions that bring lasting relief.</p>
        </div>
        <div class="s_image">
            <img src="../../assets/carpal-tunnel-syndrome.png" alt="Spinal Cord Injury">
            <img src="../../assets/nerve-specialist-in-rr-nagar.png" alt="top neurologist in Rajarajeshwari nagar Bangalore">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/nerve-damage-after-injury-treatment-rr-nagar.png" alt="Nerve specialist in RR Nagar Bangalore">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings">Radiculopathy & Nerve Disordersr</h2>
            <p class="s_para">Radiculopathy - nerve pain radiating from the spine - can cause numbness, tingling, or weakness. Our nerve doctors for radiculopathy and spine disorders in Bangalore offer:</p>
            <!-- <div class="s_para"><b>We provide</b></div> -->
            <ul class="grid">
                <li class="s_para">Conservative management with medications and physiotherapy</li>
                <li class="s_para">Advanced diagnostics like EMG and NCV tests for nerve function</li>
                <li class="s_para">Surgical options for severe nerve compression and spinal cord injuries</li>
            </ul>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Pediatric Neurology Care</h2>
            <p class="s_para">Children with seizures, developmental delays, or congenital brain and nerve disorders require specialized care. Our pediatric neurology services include:</p>
            <ul class="grid">
                <li class="s_para">Evaluation for learning disorders and behavioral concerns</li>
                <li class="s_para">Treatment of pediatric migraines and epilepsy</li>
                <li class="s_para">Monitoring of neuromuscular disorders and congenital conditions</li>
            </ul>
            <p class="s_para">Families looking for a pediatric neurologist near by me trust our team for gentle, family-focused care.</p>
        </div>
        <div class="s_image">
            <img src="../../assets/best-hospital-for-nerve-pain-treatment-in-rr-nagar.png" alt="Stroke treatment in RR Nagar Bangalore">
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_image">
            <img src="../../assets/stroke-treatment-in-rr-nagar.png" alt="Stroke specialist in Rajarajeshwari Nagar Bangalore">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings">Why Choose Our Neurosciences Department?</h2>
            <p class="s_para">Recognized for having top <a href="https://en.wikipedia.org/wiki/Neurology" target="_blank"></a>neurology doctors in Bangalore</p>
            <ul class="grid">
                <li class="s_para">Recognized neuro hospital in Bangalore with expertise in brain, spine and nerve disorders</li>
                <li class="s_para">Specialists in comprehensive stroke and migraine treatment by neurologists in Bangalore</li>
                <li class="s_para">Access to an experienced neurosurgeon for brain cancer surgery in Bangalore</li>
                <li class="s_para">Full range of diagnostics - MRI, CT, EEG, EMG, NCV - for accurate neurological assessments</li>
                <li class="s_para">Integrated care: neurosurgery, neurology and rehabilitation under one roof</li>
                <li class="s_para">Trusted by patients searching for a neuro hospital near me for nerve and brain disorders in Bangalore</li>
            </ul>
        </div>
    </div>

    <div class="form-container container-padding">
        <!-- <div class="form-image">
            <img src="../../assets/sunday.jpeg" alt="">
        </div> -->
        <div class="form">
            <app-speciality-form [doctor]="formDoctors" />
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>

    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>