<div style="margin-top: 18vh">
  <img class="banner-image" src="../../assets/insurance-bg.png" />
</div>
<div class="heading">Medical Insurance & TPA Services</div>
<div class="facility">
  <div class="facility-content">
    <div class="heading-container">Medical Insurance & TPA Services</div>
    <div>
      <p-accordion [activeIndex]="0">
        <p-accordionTab
          class="checkup-accordion"
          style="text-decoration: none"
          header="Pre-Admission & Admission Requirements"
        >
          <div class="accordion-heading">Pre-Authorization Procedure</div>
          <p class="reimbursement">
            In the case of a planned admission, you would have first consulted a
            doctor, who in turn would have advised you on the probable date of
            hospitalization. In such a case, you must apply for approval of the
            estimated hospital expenses directly from your TPA at least 4-5 days
            prior to the date of hospitalization. In case you have not applied
            for pre-authorization sufficiently in advance or if the doctor
            treating you advises you to get hospitalized immediately after the
            consultation, our Insurance Help Desk (Phone: 080-69239999) will
            assist you through the pre-authorization procedure. Normal working
            hours are from 8:00 a.m. to 8:00 p.m., Monday through Saturday and
            on Sundays and hospital holidays, from 9:00 a.m. to 5:00 p.m.
          </p>
          <div class="accordion-heading">
            However, the Rashtrotthana Insurance Help Desk is only a facilitator
            and can in no way influence the decision on approval. Your TPA may
            not grant approval due to any of the following reasons:
          </div>
          <p class="reimbursement">
            In the case of a planned admission, you would have first consulted a
            doctor, who in turn would have advised you on the probable date of
            hospitalization. In such a case, you must apply for approval of the
            estimated hospital expenses directly from your TPA at least 4-5 days
            prior to the date of hospitalization. In case you have not applied
            for pre-authorization sufficiently in advance or if the doctor
            treating you advises you to get hospitalized immediately after the
            consultation, our Insurance Help Desk (Phone: 080-69239999) will
            assist you through the pre-authorization procedure. Normal working
            hours are from 8:00 a.m. to 8:00 p.m., Monday through Saturday and
            on Sundays and hospital holidays, from 9:00 a.m. to 5:00 p.m.
          </p>
          <ul>
            <li>
              If the ailment for which you are hospitalized is not covered by
              your policy.
            </li>
            <li>
              If the information contained in the pre-authorization form is
              insufficient to approve the request, most of the time the TPA will
              request the hospital if additional information is needed.
            </li>
            <li>If you have exhausted the sum assured for that year.</li>
          </ul>
          <div class="accordion-heading">
            The Pre-Authorization Procedure is Detailed Below:
          </div>
          <ol>
            <li>
              Establish contact with the Insurance Help Desk at the hospital, or
              please refer here for all the information related to cashless
              processing or reimbursement.
            </li>
            <li>
              Collect the pre-authorization forms pertaining to your TPA, TPA
              checklist and TPA undertaking form from our Insurance Help desk
              or download all these forms. Please present your health insurance
              card for the staff to assist you appropriately.
            </li>
            <li>
              Form Filling: Your pre-authorization form will have two sections:
            </li>
            <li>
              General details on the health insurance policy are to be filled in
              by you (the Insurance Help Desk will assist you in case you have
              any difficulty).
            </li>
            <li>
              The treatment recommended for you is to be filled out and duly
              signed by the doctor who is treating you (do not attempt to fill
              out this section; contact the TPA Help Desk in case of any
              difficulty). The TPA checklist and TPA undertaking forms are
              self-explanatory.
            </li>
            <li>
              Return the completed form (filled out and signed) along with
              copies of the documents mentioned in the TPA check list to the
              Insurance Help desk to make a single pdf file of all your
              documents (as per the TPA checklist) and email
              to info&#64;rashtrotthanahospital.com, with subject as 'Patient's
              name, Patient Registration Number and mobile number'. The
              personnel at the desk will verify the form for its completeness
              and let you know in case of any discrepancy.
            </li>
            <li>
              Once the form is filled out, the Insurance Help Desk will upload
              the documents to the portal and transmit them to the office of
              your TPA.
            </li>
            <li>
              The Insurance Help Desk will revert to you with the approval or
              denial status and the status of approval is updated on your
              registered mobile number.
            </li>
            <li>
              At the time of admission, you shall be required to pay a
              differential amount of admission deposit and based on the TPA
              approval. The differential amount would be refunded on discharge
              after receiving final approval as per the final bill. You shall,
              then, be refunded the deposit amount with deductions if any.
            </li>
          </ol>
          <div style="padding-bottom: 1rem">
            <b> For Pre-authorization procedure, please click here.</b>
          </div>
          <div style="padding-bottom: 1rem">
            <b> For FAQs, please click here.</b>
          </div>
          <div style="padding-bottom: 1rem">
            Kindly contact the insurance help desk on the ground floor between
            8:00 a.m. and 8:00 p.m. for any further information.
          </div>
        </p-accordionTab>
        <p-accordionTab header="Getting Discharged">
          <div class="accordion-heading">You shall be required to</div>
          <ol type="1">
            <li>
              Settle the difference, if any, if your bill exceeds the designated
              insurance amount.
            </li>
            <li>
              Pay for all non-medical expenses, as your policy will not cover
              them.
            </li>
            <li>
              Check all the bills and prescriptions for any medicine that is
              billed but not administered to you.
            </li>
            <li>
              Note the total amount of the bill for your records for future
              purposes.
            </li>
            <li>
              Submit all the medical documents, including the lab reports, claim
              forms, discharge summary and final bill, to the hospital before
              being discharged.
            </li>
          </ol>
          <div class="reimbursement">
            The hospital then submits all necessary documents to TPA. TPA
            processes the bill based on eligibility and actual cost. You shall,
            then, be refunded the deposit amount with deductions if any.
          </div>
          <div class="accordion-heading">
            What if the cost of treatment exceeds the approved sum?
          </div>
          <div class="reimbursement">
            Generally, the TPA only approves a part of the expenses of the
            treatment and only after the hospital sends the final bill along
            with the discharge summary and other reports does it approve the
            entire amount. Sometimes the hospitals will request that the TPA
            increase the amount approved if needed during the treatment.
          </div>
        </p-accordionTab>
        <p-accordionTab header="Reimbursement">
          <div class="accordion-heading">
            Q 1. Which Documents Are Required To Process Reimbursement?
          </div>
          <p class="reimbursement">
            A. Part A & Part B Forms Of The Respective Insurance Company
          </p>
          <p class="reimbursement">B. All Original Investigation Reports</p>
          <p class="reimbursement">C. Original Bills</p>
          <p class="reimbursement">D. Indoor Case Paper (If Required)</p>
          <p class="reimbursement">
            For Queries, You May Call
            <a href="tel:08069239999">080-69239999</a> From 8 A.M. To 8 P.M.
          </p>

          <div class="accordion-heading">
            Q 2. Where Is Part 'B' Form Available?
          </div>
          <p class="reimbursement">
            Please Check Your Insurance Company's Website Or Contact Your
            Insurance Agent.
          </p>

          <div class="accordion-heading">
            Q 3. Part B Form Is Filled Out By Whom?
          </div>
          <p class="reimbursement">
            Part 'B' Is Filled Out By The IP Billing Or Insurance Coordinator
            After The Patient's Discharge.
          </p>

          <div class="accordion-heading">
            Q 4. Where Is The Indoor Case Paper Request Form Available?
          </div>
          <p class="reimbursement">
            It Is Available In The Insurance And Billing Department And On The
            Hospital Website.
          </p>

          <div class="accordion-heading">
            Q 5. Which Documents Are Required For The Indoor Case Paper Request?
          </div>
          <p class="reimbursement">
            Patient's Signed Consent Letter Or Indoor Case Paper Request Form
            With A Copy Of Their Pan Card, Aadhaar Card, Or Driving License.
          </p>

          <div class="accordion-heading">
            Q 6. When Shall I Receive All Indoor Case Papers?
          </div>
          <p class="reimbursement">
            You Can Receive Your Indoor Case Papers From The Medical Record
            Department Within 3 Working Days From The Date Of Application.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="insurance-content">
      <p>
        In an emergency hospitalization, the important thing is to get the
        patient treatment as soon as possible. The Insurance Help Desk will take
        up your case on a fast-track basis with your TPA and is likely to
        receive approvals within 8 hours during any working day.
      </p>
      <p>
        <span class="step">Step 1: </span>Show your health insurance card and
        fill out the pre-authorization form.
      </p>
      <p>
        <span class="step">Step 2: </span>The Insurance desk in the hospital
        will fast-track the process for your cashless process, but in case you
        cannot wait for approval, you can pay the deposit if demanded by the
        hospital, start the treatment and reimburse the expense later.
      </p>
      <p>
        <span class="step">Step 3: </span>Generally, the time taken to process
        an emergency case is 8 hours, but it will depend on the insurance
        company or TPA. You need to follow up with the Insurance help desk to
        know the status of the request.
      </p>
    </div>
  </div>
  <div>
    <div class="o_menu">
      <!-- menu heading -->
      <div class="gm_m_heading">
        <span class="more_specs">More Facilities</span>
      </div>
      <!-- menu contents -->
      <div class="menu_contents">
        <div class="op_names">
          <!-- general medicine -->
          <div
            class="menu_list_box"
            routerLink="/facility/health-insurance-plans-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list general_medicine">Insurance</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- general Surgery -->
          <div
            class="menu_list_box"
            routerLink="/facility/best-emergency-trauma-multispeciality-hospital-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list general_Surgery">Emergency & Trauma Care</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Obstetrics & Gynaecology -->
          <div
            class="menu_list_box"
            routerLink="/facility/inpatient-facility-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Obstetrics_Gynaecology">In-patient facility</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Paediatrics & Neonatology -->
          <div
            class="menu_list_box"
            routerLink="/facility/best-kidney-dialysis-multispeciality-hospital-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Paediatrics_Neonatology">Dialysis Unit</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Nephrology -->
          <div
            class="menu_list_box"
            routerLink="/facility/operation-theatre-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Nephrology">Operation Theatre</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Urology -->
          <div
            class="menu_list_box"
            routerLink="/facility/best-intensive-care-unit-multispeciality-hospital-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Urology">ICU</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Orthopedics -->
          <div
            class="menu_list_box"
            routerLink="/facility/top-diagnostics-multi-speciality-hospital-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Orthopedics">Radiology Services</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Gastrosciences -->
          <!-- Cardiac Sciences -->
          <div
            class="menu_list_box"
            routerLink="/facility/24-hours-pharmacy-store-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Cardiac_Sciences">Pharmacy</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Pulmonology -->
          <div
            class="menu_list_box"
            routerLink="/facility/best-ambulance-service-rashtrotthana-hospital-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Pulmonology">Ambulance Services</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Ophthalmology -->
          <div
            class="menu_list_box"
            routerLink="/facility/dietary-services-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Ophthalmology">Dietary</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Dental Sciences -->
          <div
            class="menu_list_box"
            routerLink="/facility/physiotherapy-services-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Dental_Sciences">Physiotherapy</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- ENT -->
          <div
            class="menu_list_box"
            routerLink="/facility/laboratory-services-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list ENT">Laboratory Services</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Neurosciences -->
          <div
            class="menu_list_box"
            routerLink="/facility/endoscopy-services-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Neurosciences">Endoscopy</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
          <!-- Endocrinology -->
          <div
            class="menu_list_box"
            routerLink="/facility/nutrition-dietetics-services-bangalore"
            routerLinkActive="active"
          >
            <p class="menu_list Endocrinology">Nutrition & Dietetics</p>
            <i class="fa-solid fa-angle-down arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pdf-heading pdf">
  Approved Third-Party Administrators (TPAs) and Insurance Providers
</div>
<div class="insurance-pdf">
  <ng-container [class]="insurance" *ngFor="let insurance of insurance">
    <app-insurance-pdf-box
      [image]="insurance.image"
      [pdfUrl]="insurance.pdfUrl"
    ></app-insurance-pdf-box>
  </ng-container>
</div>
