<div class="root-container">
    <div class="speciality-header">
        <app-speciality-header main_heading="Gynaecology " />
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best Gynaecology Hospital in RR Nagar Bangalore</h1>
            <div class="para_image">
                <div class="s_content">
                    <div class="s_para">The Department of Obstetrics & Gynaecology (OBG) at Rashtrotthana Hospital is recognized as the Best Gynaecology Hospital in RR Nagar Bangalore, offering comprehensive women’s health services. Rooted in the philosophy of Mathruswasthyam Lokaswasthyam - "Mother’s Health is World’s Health," we provide expert care for women at all stages of life, from adolescence to post-menopause. Our team of highly qualified gynecologists in RR Nagar Bangalore, led by Dr. Latha Venkataraman, is committed to delivering compassionate, affordable and patient-centered care.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-maternity-hospital-in-rajarajeshwari-nagar-bangalore.jpg" alt="Best Maternity Hospital in Rajarajeshwari Nagar Bangalore">
                </div>
            </div>

            <div class="para_image container-margin row-reverse">
                <div class="s_image">
                    <img src="../../assets/best-pregnancy-hospital-in-rr-nagar-bangalore.jpg" alt="Best Pregnancy Hospital in RR Nagar Bangalore">
                </div>
                <div class="s_content">
                    <div class="s_subheadings">Comprehensive Maternity Care</div>
                    <div class="s_para">At Rashtrotthana Hospital, the Best Gynaecology Hospital in RR Nagar Bangalore, we specialize in safe and natural birthing practices. Our team prioritizes vaginal deliveries and creates customized birthing plans tailored to each mother’s needs. Our Affordable Maternity Packages in RR Nagar Bangalore cover comprehensive care from the third month of pregnancy through delivery. Post-delivery, we offer Ayurvedic Pregnancy Therapies, including Abhyanga treatments, a 10-session package designed to promote healing and rejuvenation.</div>
                    <div class="s_para">For those with high-risk pregnancies, our specialists, including Dr. Latha Venkataraman, provide expert care to ensure the health and safety of both mother and baby. With over 30 years of experience, Dr. Latha Venkataram is a trusted name in high-risk pregnancy treatment in Bangalore and is renowned for her dedication to improving maternal health.</div>
                </div>
            </div>

            <div class="para_image container-margin">
                <div class="s_content">
                    <div style="text-align: center; margin-bottom: 20px;" class="s_subheadings">Preventive and Holistic Women’s Health Services</div>
                    <div class="s_para">help women maintain optimal health. Our services include:</div>
                    <ul>
                        <li class="s_para">Regular screenings, pap smears and breast examinations.</li>
                        <li class="s_para">A specialized antenatal package in Bangalore with prenatal yoga sessions to improve flexibility, reduce stress and enhance mental and physical well-being.</li>
                        <li class="s_para">Individualized treatment plans for conditions like PCOS, endometriosis, fibroids and menopausal symptoms.</li>
                    </ul>
                    <div class="s_para">Our team takes a multidisciplinary approach, ensuring patients have access to related specialists under one roof for a seamless healthcare experience.</div>
                </div>
            </div> 
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">High-Risk Pregnancy and Gynecological Expertise</div>
            <div class="s_para">The OBG department at Rashtrotthana Hospital is well-equipped to handle complex cases, making it the Best Gynaecology Hospital in RR Nagar Bangalore for high-risk pregnancies and advanced gynecological care. Dr. Latha Venkataraman specializes in managing diabetes in pregnancy, medical disorders in pregnancy and recurrent pregnancy loss treatment, providing hope and support for expectant mothers.</div>
            <div class="s_para">Our hospital also offers expert care for normal deliveries, with a focus on creating positive birth experiences. From pregnancy counseling to postnatal care, our team ensures that every mother receives the support she needs throughout her journey.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/gynecology-hospitals-near-me.jpg" alt="Gynecolog Hospitals Near Me">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/highly-qualified-pregnancy-doctors.jpg" alt="">
        </div>
        <div class="s_content">
            <div class="s_subheadings">Why Choose Rashtrotthana Hospital?</div>
            <ul>
                <li class="s_para">Recognized as the Best Gynaecology Hospital in RR Nagar Bangalore for its advanced facilities and patient-first approach.</li>
                <li class="s_para">Led by Dr. Latha Venkataraman, a top gynecologist in maternity care in Bangalore, with decades of experience.</li>
                <li class="s_para">Comprehensive services, including high-risk pregnancy support, pregnancy packages in Bangalore and advanced gynecological care.</li>
                <li class="s_para">Affordable options, such as Best Maternity Packages in Bangalore, to ensure accessible healthcare for all women.</li>
            </ul>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">Holistic Care for Every Stage of Life</div>
            <div class="s_para">Rashtrotthana Hospital takes pride in being the Best Gynaecology Hospital in RR Nagar Bangalore, offering holistic care for women at every stage of life. From adolescence to post-menopause, our services encompass preventive health, maternity care and management of chronic conditions. Whether you’re preparing for childbirth, seeking treatment for gynecological concerns, or focusing on long-term wellness, our OBG department is here to support you with compassionate and personalized care.</div>
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors2">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>