<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/Rastrotthana-gynecology-banner.png" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/Rastrotthana-gynecology-mobile.png" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>  

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Affordable Pregnancy Care & Maternity Hospital in Bangalore</h1>
            <div class="para_image">
                <div class="s_content">
                    <p class="s_para">Pregnancy brings excitement, questions, and change - all at once. One moment
                        you’re looking up “pregnancy symptoms at 6 weeks,” the next you’re wondering “How big is my baby
                        now?”</p>
                    <p class="s_para">At Rashtrotthana Hospital, a trusted and affordable maternity hospital in
                        Bangalore, we walk with you from the very first pregnancy test to a safe baby delivery, and even
                        after. With experienced pregnant doctors in Bangalore and dedicated obstetrics and gynecology
                        experts, we focus on your comfort, safety, and peace of mind - every step of the way.</p>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-maternity-hospital-in-rajarajeshwari-nagar-bangalore.jpg"
                        alt="A pregnant woman consulting a gynecologist at Rashtrotthana Hospital, Bangalore">
                </div>
            </div>

            <div class="youtube container-margin mobile-youtube">

                <h2 class="s_subheadings">Our Patient Testimonials</h2>

                <div class="videos">
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/z_8sEbK9Kbk?si=uWiQs5__OH0dt8VR"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/LV2CNUGRgnY?si=v-Zyzgs4IsYQZ-HM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/6iYcNlpVij4?si=tX0uY4tH78lahS7e"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>

            <div class="contents container-margin">
                <div class="s_subheadings">From Early Symptoms to Delivery - Care for Every Stage of Pregnancy</div>
                <div class="para_image row-reverse">
                    <div class="s_image">
                        <img src="../../assets/best-pregnancy-hospital-in-rr-nagar-bangalore.jpg"
                            alt="Pregnancy test conducted by gynecologists at Rashtrotthana Hospital, Bangalore">
                    </div>
                    <div class="s_content">
                        <p class="s_para">Whether you’ve just discovered you're expecting or are already 6 weeks
                            pregnant, our team supports you through every trimester. We guide you through:</p>
                        <ul>
                            <li class="s_para">Pregnancy symptoms like fatigue, nausea, and mood swings</li>
                            <li class="s_para">Understanding your pregnancy weeks and months</li>
                            <li class="s_para">Regular fetal growth monitoring</li>
                            <li class="s_para">Safety tips for each stage of pregnancy</li>
                        </ul>
                        <p class="s_para">Our doctors ensure you feel confident and informed - because pregnancy isn’t
                            just physical, it’s emotional too.</p>
                    </div>
                </div>
            </div>

            <div class="youtube container-margin desktop-youtube">

                <h2 class="s_subheadings">Our Patient Testimonials</h2>

                <div class="videos">
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/z_8sEbK9Kbk?si=uWiQs5__OH0dt8VR"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/LV2CNUGRgnY?si=v-Zyzgs4IsYQZ-HM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe width="320" height="200" src="https://www.youtube.com/embed/6iYcNlpVij4?si=tX0uY4tH78lahS7e"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>

            <div class="contents container-margin">
                <div class="s_subheadings">Antenatal Care in Bangalore That Feels Personal</div>
                <div class="para_image row-reverse">

                    <div class="s_content">
                        <p class="s_para">We believe antenatal care should never feel rushed or routine. At
                            Rashtrotthana Hospital, your care is:</p>
                        <ul>
                            <li class="s_para">Backed by science</li>
                            <li class="s_para">Guided by empathy</li>
                            <li class="s_para">Delivered by experienced obstetricians and support staff</li>
                        </ul>
                        <p class="s_para"><b>We offer:</b></p>
                        <ul>
                            <li class="s_para">Comprehensive antenatal mother care</li>
                            <li class="s_para">Customized antenatal diet plans to support baby and mom</li>
                            <li class="s_para">One-on-one consultations on how to conceive, manage risks, or ease
                                symptoms</li>
                            <li class="s_para">Lab tests, ultrasound scans, and expert advice in one place</li>
                        </ul>
                    </div>

                    <div class="s_image">
                        <img src="../../assets/gynecology-hospitals-near-me.jpg"
                            alt="Antenatal check-up at Rashtrotthana Hospital Bangalore">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="s_subheadings">Pregnancy Yoga - Gentle, Safe & Supportive</div>
        <div class="para_image row-reverse">
            <div class="s_image">
                <img src="../../assets/highly-qualified-pregnancy-doctors.jpg"
                    alt="Gynecology consultation at Rashtrotthana Hospital Bangalore">
            </div>
            <div class="s_content">
                <p class="s_para">Movement matters - especially during pregnancy. Our certified pregnancy yoga in
                    Bangalore and prenatal yoga near Rajarajeshwari Nagar are crafted to help:</p>
                <ul>
                    <li class="s_para">Improve posture and reduce back pain</li>
                    <li class="s_para">Enhance flexibility and blood flow</li>
                    <li class="s_para">Reduce stress and improve sleep</li>
                    <li class="s_para">Prepare your body for labor</li>
                </ul>
                <p class="s_para">Whether you’re new to yoga or practiced before pregnancy, our sessions are
                    trimester-safe and calming.</p>
            </div>
        </div>
    </div>

    <div class="youtube container-margin container-padding">

        <h2 class="s_subheadings">Expert Insights from Our ENT Specialists</h2>

        <div class="videos">
            <iframe width="320" height="200" src="https://www.youtube.com/embed/z_iTZBhtpss?si=CWYwufhkDexEJ87P"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://www.youtube.com/embed/aY0FY-s01rM?si=rTM9JJyc52liz73A"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://www.youtube.com/embed/zsj1wFX8LPY?si=JZKec7KbyjIGatBB"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://www.youtube.com/embed/82JPdO4wW68?si=erJahmaSi9Ghi5SJ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="s_subheadings">Safe and Normal Delivery in Bangalore</div>
        <div class="para_image">
            <div class="s_content">
                <p class="s_para">We focus on normal delivery as the preferred birthing method whenever possible. Our
                    maternity team:</p>
                <ul>
                    <li class="s_para">Educates and prepares mothers during labor</li>
                    <li class="s_para">Encourages natural birth with minimal intervention</li>
                    <li class="s_para">Offers breathing and posture techniques to manage labor stress</li>
                </ul>
                <p class="s_para">For high-risk pregnancies, our senior obstetricians ensure safe, medically guided
                    delivery. From managing gestational diabetes to fetal complications, we’re fully equipped to handle
                    complex needs.</p>
            </div>
            <div class="s_image">
                <img src="../../assets/pregnancy-check-ups-at-rashtrotthana-hospital-bangalore.jpg"
                    alt="Normal delivery support at Rashtrotthana Hospital Bangalore">
            </div>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="s_subheadings">Why Families Trust Our Maternity Care in Bangalore</div>
        <div class="para_image row-reverse">
            <div class="s_image">
                <img src="../../assets/pregnancy-scan-at-rashtrotthana-hospital-bangalore.jpg"
                    alt="Affordable maternity care at Rashtrotthana Hospital Bangalore">
                <img src="../../assets/a-mom-with-ne-born-bany-at-rashtrotthana-hospital.jpg"
                    alt="Mother holding newborn baby at Rashtrotthana Hospital">
            </div>
            <div class="s_content">
                <p class="s_para">Here’s why we’re one of the most chosen maternity hospitals in Bangalore:</p>
                <ul>
                    <li class="s_para">Experienced team of pregnant doctors and gynecology specialists</li>
                    <li class="s_para">Detailed fetal health tracking and early diagnosis support</li>
                    <li class="s_para">Safe, affordable pregnancy care in Bangalore, with flexible packages</li>
                    <li class="s_para">Help for couples trying to conceive, with fertility and hormonal assessments</li>
                    <li class="s_para">Total support during all stages of pregnancy - from pre-conception to
                        post-delivery</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="s_subheadings">Obstetrics and Gynecology Bangalore - Care Beyond Maternity</div>
        <div class="para_image row-reverse">
            <div class="s_content">
                <p class="s_para">At Rashtrotthana Hospital, our obstetrics and gynecology department also provides:</p>
                <ul>
                    <li class="s_para">Treatment for gynecology problems like PCOS, endometriosis, fibroids, and
                        menopause</li>
                    <li class="s_para">Ongoing support for cycle irregularities, hormonal balance and fertility concerns
                    </li>
                    <li class="s_para">Expert counseling for couples planning to conceive, naturally or through assisted
                        options</li>
                </ul>
                <p class="s_para">Your health journey doesn’t begin or end with pregnancy - and we’re here for every
                    step of it.</p>
            </div>
            <div class="s_image">
                <img src="../../assets/mother-with-her-new-born-baby-at-rashtrotthana-hospital-bangalore.jpg"
                    alt="Happy mother holding her newborn baby at Rashtrotthana Hospital    ">
                <img src="../../assets/a-pregnancy-test-at-rashtrotthana-hospital-bangalore.jpg"
                    alt="High-risk pregnancy management at Rashtrotthana Hospital Bangalore">
            </div>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="s_subheadings">Book Your Consultation Today</div>
        <div class="para_image row-reverse">
            <div class="s_content">
                <p class="s_para">Looking for affordable pregnancy care, normal delivery in Bangalore, or just exploring
                    pregnancy yoga near you?</p>
                <p class="s_para">Visit Rashtrotthana Hospital - the best maternity hospital in Rajarajeshwari Nagar
                    Bangalore for compassionate, evidence-based care. Talk to our doctors, get clear answers, and plan
                    the next step in your motherhood journey - with confidence.</p>
            </div>
        </div>
    </div>

     <!-- form container -->
    <div class="form-container container-padding">
        <div class="form-image">
            <a routerLink="/maternity-care"><img src="../../assets/maternity-instagram-post-of-rashtrotthana-hospital-bangalore.jpeg"
                alt="Maternity social media post of Rashtrotthana Hospital Bangalore"></a>
        </div>
        <div class="form">
            <app-speciality-form [doctor]="formDoctors" />
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors2">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>