<div class="footer-component">
    <div class="logo">
      <div class="footer-logo">
        <img src="../../assets/JMRH Logo.png" />
      </div>
      <div class="text">
        Welcome to Rashtrotthana Hospital – India's First Integrated
        Multispeciality Hospital offering world-class healthcare services under
        one roof. Our renowned doctors and specialists provide expert care in the
        fields of Modern Medicine, Ayurveda, Homeopathy, Yoga and Naturopathy with
        a holistic approach
      </div>
    </div>
    <div class="links">
      <div class="our-links">
        <div class="header contact">
          Our Links<br />
          <img src="../../assets/border.png" />
        </div>
        <div class="text set-container">
          <div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="home()">Home</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="aboutus()">About Us</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="speciality()">Specialities</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="doctor()">Doctors</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="facilities()">Facilities</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="health()">Health Check</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="donation()">Donation</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="blog()">Blog</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="other-links">
        <div class="header contact">
          Other Links<br />
          <img src="../../assets/border.png" />
        </div>
        <div class="text set-container">
          <div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="insurance()">Insurance</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="home()">Career</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="home()">Reviews</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="home()">Terms & Conditions</a>
            </div>
            <div class="each-link">
              <div>
                <img src="../../assets/Symbol.png" alt="" />
              </div>
              <a (click)="home()">Help</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-us">
      <div class="header contact">
        Contact Us<br />
        <img src="../../assets/border.png" alt="" />
      </div>
      <div class="text">
        <div class="contact-us-address">
          <img src="../../assets/footer-call.png" alt="" />
          <div>080 6923 9999</div>
        </div>
        <div class="contact-us-address">
          <img src="../../assets/footer-mail.png" alt="" />
          <div>info&#64;rashtrotthanahospital.com</div>
        </div>
        <div class="contact-us-address">
          <img
            style="width: 40px; height: 40px"
            src="../../assets/home-icon.png"
            alt=""
          />
          <a
            style="text-decoration: none; color: white"
            href="https://maps.app.goo.gl/jVM7PdSGSarozY6c7"
            target="_blank"
            >Jayadev Memorial Rashtrotthana Hospital & Research Centre,
            Rajarajeshwari Nagar, BEML 5th Stage, Bengaluru - 560098</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-1">
    <div class="follow">
      <div style="margin-top: 0px">Follow Us:</div>
      <div class="icons d-flex">
          <div class="navbar_icon" (click)="openLink('facebook')">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="navbar_icon" (click)="openLink('youtube')">
              <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="navbar_icon" (click)="openLink('twitter')">
              <i class="fa-brands fa-square-x-twitter"></i>
            </div>
            <div class="navbar_icon" (click)="openLink('instagram')">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="navbar_icon" (click)="openLink('linkedin')">
              <i class="fa-brands fa-linkedin"></i>
            </div>
      </div>
    </div>
    <!-- <div class="navbar_icon" (click)="openLink('facebook')">
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="navbar_icon" (click)="openLink('youtube')">
      <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="navbar_icon" (click)="openLink('twitter')">
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="navbar_icon" (click)="openLink('instagram')">
      <i class="fa-brands fa-instagram"></i>
    </div> -->
  
  
    <div class="follow">
      Copyrights © 2024 All Rights Reserved, Powered by
      <a style="color: #fbca51; font-weight: bold; text-decoration: none" href="">
        Rashtrotthana Trust</a
      >
    </div>
    <div class="follow">
      Developed by
      <a
        style="color: #fff; font-weight: bold; text-decoration: none"
        href="https://www.inventionminds.com/"
        >Invention Minds LLP</a
      >
    </div>
  </div>
  