<div class="root_container">
  <!-- container 1 -->
  <div class="container_1">
    <div class="container_1_content">
      <div class="con_1_heading">
        <img src="../../assets/research_container_1_icon.png" alt="" />
        <span class="con_1_heading_txt"
          >Rashtrotthana Research Centre</span
        >
      </div>
      <div class="content_para">
        The Rashtrotthana Research Centre stands as a pioneering institution
        dedicated to integrative medical research, merging various branches of
        healthcare including Biomedicine, Ayurveda, Homeopathy, Naturopathy and
        Yoga. Through comprehensive integrative research, it aims to explore
        diverse domains of healthcare delivery, validate treatment modalities,
        practices and lifestyle modifications. Embracing a multidimensional
        approach, this unique methodology is geared towards enhancing the
        well-being of humanity and fostering a healthier nation.
      </div>
    </div>
  </div>

  <!-- container 2 -->

  <div class="conatainer_2">
    <div class="container_2_content">
      <div class="container_2_heading">Mission and Objectives</div>
      <div class="container_2_para">
        The core mission of the Rashtrotthana Research Centre is to undertake
        and foster research excellence in integrative medicine. This involves
        both sponsored and in-house research, as well as academic research and
        investigator-initiated projects. The Centre's activities are reinforced
        by large-scale organizational projects, population-based epidemiological
        studies, community-based intervention programs, integrative controlled
        clinical trials and comprehensive research training programs. These
        initiatives are designed to support innovative policy thinking aimed at
        creating a human-centred future for integrative healthcare.
      </div>
    </div>
    <div class="container_2_image">
      <img src="../../assets/research_container_2_img.png" alt="" />
    </div>
  </div>

  <!-- container 3 -->

  <div class="container_3">
    <div class="container_3_heading">Key Areas</div>
    <div class="container_3_contents">
        <!-- row -->
      <div class="row_1">
        <!-- box 1 -->
         <div class="box_1 box">
          <div class="anime box_bg_color1">
            <div class="anime_color_1">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Integrative Clinical Research: </div>
                <div class="box_para">The Centre focuses on integrating biomedicine with AYUSH systems, particularly Ayurveda, wherever appropriate, to enhance patient care and  achieve the best treatment outcomes possible.</div>
            </div>
            
        </div>
        <!-- box 2 -->
         <div class="box_1 box_2">
          <div class="anime box_bg_color1">
            <div class="anime_color_2">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Research Projects:</div>
                <div class="box_para">Projects range from individual investigator-initiated studies to large organizational initiatives, addressing various health issues through an integrative approach. </div>
            </div>
         </div>
         <!-- box 3 -->
         <div class="box_1 box_3">
          <div class="anime box_bg_color1">
            <div class="anime_color_3">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Collaboration:</div>
                <div class="box_para">Inter institutional, collaborative research with other National and International Organizations with a MOU institutions/centers of excellence.</div>
            </div>
         </div>
         <!-- box 4 -->
         <div class="box_1 box_4">
          <div class="anime box_bg_color1">
            <div class="anime_color_4">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Community and Population Health:</div>
                <div class="box_para">Through epidemiological studies and community intervention programs, the Centre aims to understand and address health needs at the grassroots.</div>
            </div>
         </div>
         <!-- box 5 -->
         <div class="box_1 box_5">
          <div class="anime box_bg_color1">
            <div class="anime_color_5">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Innovations and Technology: </div>
                <div class="box_para">The Centre is committed to developing and translating integrative health technologies into practical applications, benefiting the public health system.</div>
            </div>
         </div>
         <!-- box 6 -->
         <div class="box_1 box_6">
          <div class="anime box_bg_color1">
            <div class="anime_color_6">

            </div>
          </div>
            <div class="box_content">
                <div class="box_heading">Education and Training:</div>
                <div class="box_para">A key component of the Centre's mission is to provide research training programs that will mould next generation of researchers in integrative medicine.</div>
            </div>
         </div>
      </div>
    </div>
  </div>

  <!-- container 4 -->

  <div class="container_4">
    <div class="container_4_content">
        <div class="container_4_heading">Future Endeavors</div>
        <div class="container_4_para">The Rashtrotthana Research Centre is designed to generate innovative policy thinking and solutions that are guided by societal needs. By focusing on integrative health technologies, the Centre aims to bring advancements in diagnosis, treatment methods and their translation into products and processes, ultimately enhancing public health systems.</div>
        <div class="container_4_para">Through its comprehensive and integrative approach, the Rashtrotthana Research Centre seeks to create a future where Biomedicine and AYUSH systems coexist harmoniously, improving health outcomes and fostering a holistic approach to patient care. The Centre also focuses on periodic review of the progress of Research Projects.</div>
    </div>
    <div class="container_4_image">
        <img src="../../assets/research_container_4_image.png" alt="">
    </div>
  </div>

  <!-- container 5 -->

  <div class="container_5">
    <div class="container_5_heading">Special Features of Rashtrotthana Research Centre</div>
    <div class="container_5_content">
        <ul class="container_5_list" *ngFor="let points of specialFeatures">
            <li class="container_5_5list_item"><span class="list_title">{{points.title}}</span><span class="description">{{points.description}}</span></li>
        </ul>
    </div>
  </div>
  <div>
    <!-- <div class="container_6_heading">SCIENTIFIC ADVISORY BOARD MEMBERS</div>
    <div class="advisory">
      <app-advisory-carousel></app-advisory-carousel>
    </div>
    <br>
    <br>
    <div class="button">
      <app-read-more-btn [text]="'View All'" (click)="navigateToPage('advisory-board-members')"></app-read-more-btn>
    </div>
  </div>
  <div>
    <div class="container_6_heading">ETHICS COMMITTEE MEMBERS</div> -->
    <!-- <div class="commitee">
      <app-committee-carousel></app-committee-carousel>
    </div>
    <br>
    <br>
    <div class="button">
      <app-read-more-btn [text]="'View All'" (click)="navigateToPage('ethical-committee')"></app-read-more-btn>
    </div>
  </div> -->

  <div class="container_6_heading">SCIENTIFIC ADVISORY BOARD MEMBERS</div>

  <div class="board_members_container">
    <app-advisory-board-members />
  </div>

  <div class="container_6_heading">ETHICS COMMITTEE MEMBERS</div>

  <div class="ethics_committe_container">
    <app-ethic-committee />
  </div>







  <div class="con_3_heading">
    <div class="reserach_heading">Research team</div>
</div>

<div class="container_2_main">
    <div class="container_6" *ngFor="let card of researchTeam" (click)="popUpInfo(card)">
        <div class="member_1">
            <img src = {{card.image}} alt="">
            <div class="member_name">{{card.name}}</div>
            <div class="member_role">{{card.role_2}}</div>
        </div>
    </div>
</div>


<!-- pop up -->

<div *ngIf="selectedPopUp" class="pop_up">
  <div class="popUp_box">
      <div class="close_icon" (click)="closeInfo()">
          <i class="fa-solid fa-x"></i>
      </div>
      <div class="content">
          <div class="pop_up_image">
              <img [src]=selectedPopUp.image alt="">
          </div>
          <div class="pop_info">
              <div class="pop_up_member_name">{{selectedPopUp.name}}</div>
              <div class="qualification">{{selectedPopUp.qualification}}</div>
              <div class="designation">{{selectedPopUp.designation}}</div>
              <div class="designation_2">{{selectedPopUp.designation_2}}</div>
              <div class="address">{{selectedPopUp.address}}</div>
              <div class="role">{{selectedPopUp.role}}</div>
              <div class="role_des">{{selectedPopUp.roleDesv}}</div>
          </div>
      </div>
      <div class="poUp_description">{{selectedPopUp.description}}</div>
  </div>
</div>
</div>
