<div class="root-container">

    <!-- container 1 -->
    <div class="container-1">
        <!-- left side -->
        <div class="banner-content">
            <div class="banner-heading">SAMRAKSHA</div>
            <div class="banner-des">Thalassemia Day Care Centre</div>
        </div>

        <!-- right side -->
        <div class="banner-img">
            <img src="../../assets/samraksha/banner-img.png " alt="">
        </div>
    </div>

    <!-- container 2 -->
    <div class="container-2 container">
        <div class="heading">Thalassemia</div>
        <div class="para" style="text-align: center;">Thalassemia is a group of inherited blood disorders that affect
            the body's ability to produce hemoglobin, a protein in red blood cells that carries oxygen. Thalassemia is a
            genetic blood disorder characterized by the reduced production of hemoglobin.</div>
        <div class="para" style="text-align: center;">The condition leads to anemia, which can cause fatigue, weakness,
            and pale skin.</div>

        <div class="flex">

            <div class="left-side">
                <div class="subheading">Symptoms</div>
                <ul>
                    <li class="para">May have no symptoms or mild anemia.</li>
                    <li class="para">Anemia (fatigue, weakness, shortness of breath), bone deformities, enlarged spleen,
                        slow growth, iron overload.</li>
                </ul>

                <div class="subheading">Diagnosis</div>
                <ul>
                    <li class="para">Blood tests (complete blood count, hemoglobin electrophoresis)</li>
                    <li class="para">Genetic testing</li>
                </ul>
            </div>

            <div class="rightSide">
                <img src="../../assets/samraksha/container-2-img.png" alt="">
            </div>

        </div>

        <div class="flex column-rev">

            <div class="rightSide">
                <img src="../../assets/samraksha/container-3-img.png" alt="">
            </div>

            <div class="left-side">
                <div class="subheading">Treatment</div>
                <ul>
                    <li class="para">Blood transfusions,</li>
                    <li class="para">Iron chelation therapy (to remove excess iron),</li>
                    <li class="para">Bone Marrow Transplant (in some cases).</li>
                </ul>

                <div class="subheading">Complications</div>
                <ul>
                    <li class="para">Iron Overload</li>
                    <li class="para">Infection</li>
                    <li class="para">Bone Deformities</li>
                    <li class="para">Enlarged Spleen</li>
                    <li class="para">Retarded Growth</li>
                    <li class="para">Liver and Heart related Problems</li>
                </ul>
            </div>

        </div>
    </div>

    <!-- container 3 -->
    <div class="container">

        <div class="heading">Thalassemia in Karnataka: A Growing Health Concern</div>

        <div class="flex column-rev">

            <div class="leftSide2">
                <div class="para">A study on pregnant women in Karnataka found a ẞ-thalassemia trait prevalence of 8.5%,
                    highlighting a significant carrier frequency in the state. This emphasizes the need for awareness,
                    screening, and early intervention. Need for Early Screening</div>
                <div class="para">Comprehensive screening programs, especially for high-risk groups like pregnant women
                    and college students, are essential. Early identification helps in informed family planning and
                    timely medical interventions, reducing the disease's impact.</div>
                <div class="para">Importance of Awareness and Prevention<br />Public education on thalassemia, its
                    transmission, and preventive measures is crucial. Community outreach programs can encourage
                    participation in screening and help mitigate the burden of the disease in Karnataka.</div>
                <div class="para">Together, we can fight thalassemia through awareness, early detection, and better
                    healthcare initiatives.</div>
                <div class="para"><span>Source- <span style="color: #008080;">Journal of Clinical and Diagnostic
                            Research</span> 7(7):1414-1417</span><br /><span>DOI:<span
                            style="color: #008080;">10.7860/JCDR/2013/5286.3149</span></span></div>
            </div>

            <div class="rightSide2">
                <img src="../../assets/samraksha/container-4-img.png" alt="">
            </div>

        </div>
    </div>

    <!-- container 4 -->
    <div class="container">

        <div class="heading">Samraksha</div>
        <div class="para" style="text-align: center;">Launched on August 19, 2013, the Samraksha initiative began by
            providing treatment for 19 children diagnosed with Thalassemia. Over the years, this life-saving service has
            expanded significantly, supporting over 400 adult and paediatric age group patients by 2025.</div>
        <div class="para" style="text-align: center;">Through systematic and specialized care, the program has
            significantly improved patient survival rates and quality of life. Many beneficiaries have achieved complete
            recovery, demonstrating the effectiveness of the comprehensive medical interventions provided.</div>

        <div class="flex column-rev">

            <div class="rightSide2">
                <img src="../../assets/samraksha/container-5-img.png" alt="">
            </div>

            <div class="leftSide2">
                <div class="para" style="margin-bottom: 20px;"><b>What we do for the Holistic Wellbeing of Patients</b>
                </div>

                <div class="para">Blood Transfusion</div>
                <div class="para">Emotional Support</div>
                <div class="para">Family Counseling</div>
                <div class="para">Proper Nutrition</div>
                <div class="para">Other Medical Support</div>

                <div class="para" style="margin-top: 25px; margin-bottom: 20px;"><b>At Samraksha, we ensure that
                        patients receive holistic care, which includes:</b></div>

                <div class="para"><b>In-House Blood transfusion and Care</b>: Rashtrotthana Blood Centre provides
                    specifically processed and appropriate blood components to reduce complications for the children
                    suffering from Thalassemia who need repeated transfusion throughout their life.</div>
                <div class="para"><b>Supervision during Transfusion</b>: Dedicated team of doctors and nurses provide
                    complete care during the blood transfusion.</div>
                <div class="para"><b>Recreation</b>: Samraksha is bedecked with toys to keep the children occupied
                    during transfusion so that they don't panic and suffer from anxiety.</div>
                <div class="para"><b>Library</b>: A library, exclusively dedicated to children is set up to keep them
                    engaged and provide a good read.</div>
            </div>

        </div>
    </div>

    <!-- container 5 -->
    <div class="container">
        <div class="heading" style="text-align: left;">Testimonials</div>

        <div class="para" style="margin-top: -10px;"><b>A Haven for the Patients</b><br />I travel all the way from West
            Bengal for my blood transfusions because, back home, hospitals ask me to arrange a blood donor every time.
            It was exhausting and stressful. But here, at the Samraksha Project, everything is taken care of by the
            hospital itself. I don't have to worry about anything. The environment is peaceful, and the staff is kind
            and supportive. I finally feel safe and cared for, without the constant fear of where my next transfusion
            will come from.</div>
        <div class="para"><b>A Second Home After Betrayal</b><br />After the death of my shauhar (husband), my own son
            abandoned me and my daughter, who suffers from thalassemia. We were left with no shelter, no support, and no
            hope. But then, the Samraksha Project embraced us with open arms. Here, we found not just medical care but
            also the warmth of a family. I will always remain grateful to the people behind this initiative, who proved
            that humanity still exists in this world.</div>
        <div class="para"><b>A Lifeline in My Darkest Days</b><br />Losing my father left me completely helpless. I had
            no one to turn to, and survival itself became a challenge. That's when the Samraksha Project became my
            biggest support. They not only provide me with free blood transfusions and essential medicines but also
            ensure that I don't go hungry by offering breakfast and lunch. More than medical care, they gave me dignity
            and hope. Without Samraksha, I don't know how I would have survived.</div>
        <div class="para"><b>A Mother's Unbreakable Spirit</b><br />When my father married another woman, he told my
            mother to let me die because he couldn't afford my treatment. But my mother refused to give up on me, She
            started washing utensils in other people's houses just to afford my medical expenses. Then, she found out
            about the Samraksha Project, and everything changed. Now, I receive free treatment, blood transfusions, and
            care without any financial burden. The kindness of this place has given my mother and me a new life. I will
            forever be grateful to the team at Samraksha for standing with us when no one else did.</div>
    </div>

    <!-- container 6 -->
    <div class="imageGallery">
        <img src="../../assets/samraksha/grid-img-1.png" alt="">
        <img src="../../assets/samraksha/grid-img-2.png" alt="">
        <img src="../../assets/samraksha/grid-img-3.png" alt="">
        <img src="../../assets/samraksha/grid-img-4.png" alt="">
        <img src="../../assets/samraksha/grid-img-5.png" alt="">
        <img src="../../assets/samraksha/grid-img-6.png" alt="">
        <img src="../../assets/samraksha/grid-img-7.png" alt="">
        <img src="../../assets/samraksha/grid-img-8.png" alt="">
        <img src="../../assets/samraksha/grid-img-9.png" alt="">
    </div>

    <!-- container 7 -->
    <div class="container" style="margin-bottom: 30px;">
        <div class="heading">A Ray of Hope for Thalassemia Warriors - SAMRAKSHA</div>
        <div class="youtubeGallery">
            <iframe src="https://www.youtube.com/embed/VOYKvG7OfAU?si=ToevN_fhdx7iaJ3s"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/y3gEZgnl8sY?si=OFMcRcRpo7uoKQeH"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/uAHo3VYUTZg?si=fbLjtwDgCmieqtSq"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>


</div>