<div class="main-container">
<div style="margin-top:17vh" >
    <img class="banner-image" [src]="'../../assets/' + bg_image" >
</div>
<div class="heading">
    {{main_heading}}
</div>
<div class="facility">
    <div class="facility-content">
        <div class="heading-container">{{heading}}</div>
        <div class="content-container" *ngFor="let subFacility of subFacilities">
            <div class="side-heading">
               {{subFacility.subHeading}}
            </div>
            <div class="content" [innerHTML]="subFacility.subContent">
               
            </div>
        </div>
        <div class="image-container">
            <img class="image" [src]="'../../assets/' + image_1" >
            <img class="image" [src]="'../../assets/' + image_2" >
        </div>
    </div>
    <div>
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">More Facilities</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/facility/health-insurance-plans-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Insurance</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/facility/best-emergency-trauma-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">Emergency & Trauma Care</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/facility/inpatient-facility-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">In-patient facility</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box" routerLink="/facility/best-kidney-dialysis-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Dialysis Unit</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box" routerLink="/facility/operation-theatre-bangalore" routerLinkActive="active" >
                        <p class="menu_list Nephrology">Operation Theatre</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box" routerLink="/facility/best-intensive-care-unit-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">ICU</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box" routerLink="/facility/top-diagnostics-multi-speciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Radiology Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box" routerLink="/facility/24-hours-pharmacy-store-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Pharmacy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box" routerLink="/facility/best-ambulance-service-rashtrotthana-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Ambulance Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box" routerLink="/facility/dietary-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Dietary</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box" routerLink="/facility/physiotherapy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Physiotherapy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box" routerLink="/facility/laboratory-services-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">Laboratory Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box" routerLink="/facility/endoscopy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Endoscopy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box" routerLink="/facility/nutrition-dietetics-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Nutrition & Dietetics</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
