<div style="padding-top:11vh;">
    .
</div>
<div class="about-us-container">
    <div class="about-img">
        <img class="jayadev" src="../../assets/best_multispeciality_hospital_in_bangalore.png"
            alt="Best Multispeciality Hospital in RR Nagar Bangalore | Rashtrotthana Hospital">
    </div>
    <div class="about-content">
        <div class="heading">
            Meet Our Honorable Founder Sri M. C Jayadev
        </div>
        <div class="content">
            The visionary force behind Rashtrotthana Parishat,<br /> Sri M. C Jayadev envisioned, nurtured and mentored
            the organization from its inception. He epitomized the fusion of duty and nationalism, dedicating his life
            to the principle of "One Life, One Mission" in an unparalleled manner. Rashtrotthana Parishat is
            steadfastly moving towards its objective of building a prosperous and healthy society by virtue of the
            durable foundation laid by him. His legacy serves as a guiding light, propelling RP toward the realization
            of its noble goals.
        </div>
    </div>
</div>
<div class="president-container">
    <div class="president-content">
        <p class="facilities-content">As I pen these words, a profound sense of pride and gratitude fills me as I
            reflect on our remarkable
            journey. Rashtrotthana Hospital stands tall, a testament to our shared vision and mission – A VISION to
            create a place of healing, where we strive to provide quality, humane and affordable healthcare to all
            sections of society and A MISSION to provide exceptional healthcare services that go beyond mere treatment
            where patients are not merely seen but truly heard and cared for.</p>
        <p class="facilities-content">Our history, marked by unwavering commitment since inception, is a testament to
            the dedication of our
            incredible team. From skilled medical professionals to diligent support staff, each member plays a pivotal
            role in our ongoing success story. However, our journey doesn't solely revolve around the walls of our
            hospital. It extends to the lives we touch, the families we support and the communities we serve through
            our community initiatives. It's in the smiles of recovered patients and the hope we instil in the hearts of
            those facing challenging times.</p>
        <p class="facilities-content">At the heart of Rashtrotthana Hospital are our CORE VALUES – compassion,
            excellence, innovation and
            commitment. These values are not mere words but the guiding principles that shape our actions and define our
            identity. They drive us to provide not just medical care but genuine warmth and support to every patient who
            walks through our doors. As we stride into the future, innovation remains at our ethos. Embracing
            technological advancements, refining our methodologies and continuously learning are integral to our
            pursuit of excellence. However, amidst this evolution, our commitment to compassionate care will forever
            remain unwavering. To everyone who's been part of this extraordinary journey, I extend heartfelt gratitude.
            Here's to a future marked by unwavering commitment, boundless compassion and continued success in serving
            our community.</p>
    </div>
    <div class="president-img">
        <img class="president" src="../../assets/president_rashtrotthana_parishat.png"
            alt="President Rashtrotthana Parishat">
        <div class="president-info">
            <p class="name">M. P. Kumar</p>
            <p class="desgination">President, Rashtrotthana Parishat</p>
        </div>
    </div>
</div>
<div class="mission-vision">
    <div class="about-hospital">
        <h1 class="about-heading">
            About Rashtrotthana Hospital
        </h1>
        <div class="about-hospital-content">
            <p class="facilities-content">Jayadev Memorial Rashtrotthana Hospital & Research Centre, a beacon of
                compassion, excellence and
                integrity in healthcare. Beyond the confines of traditional medical facilities, Rashtrotthana Hospital
                is a place where patients are not merely seen but truly heard and cared for. Our commitment to trust and
                transparency ensures an unwavering dedication to compassionate care.</p>
            <p class="facilities-content">What sets Rashtrotthana Hospital apart is its integrated approach to healing.
                Under one roof, we
                harmonize <a style="text-decoration: none; margin:0;padding: 0;"
                    routerLink="/specialities/best-modern-medicine-hospital-in-bangalore">Modern Medicine</a>, <a
                    style="text-decoration: none; margin:0;padding: 0;"
                    routerLink="/specialities/homeopathy-treatment-bangalore">Homeopathy</a>, <a
                    style="text-decoration: none; margin:0;padding: 0;"
                    routerLink="/specialities/yoga-therapy-bangalore">Yoga</a> and <a
                    style="text-decoration: none; margin:0;padding: 0;"
                    routerLink="/specialities/lifestyle-medicine-bangalore">Naturopathy</a>., offering patients a
                diverse spectrum of
                services. This unique fusion combines the precision of modern medical practices with the holistic
                principles of ancient traditions, providing comprehensive care tailored to individual needs.</p>
            <p class="facilities-content">Integrity is embedded in every service we provide at Rashtrotthana Hospital.
                From advanced medical
                treatments to personalized care plans, transparency is paramount. Our hospital stands as a testament to
                a holistic vision that goes beyond medicine, offering state-of-the-art diagnostics, specialized
                treatments and a commitment to both traditional and modern healing practices.</p>
            <p class="facilities-content">At Rashtrotthana Hospital, we are not just a hospital; we are a healing
                sanctuary where <a style="text-decoration: none;"
                    href="https://en.wikipedia.org/wiki/Integrated_services">integrated services</a> converge to create
                a nurturing environment. Our goal is to not only provide medical treatment
                but to facilitate a comprehensive approach to well-being, embracing the synergy of diverse healing
                practices under one roof.</p>
        </div>
    </div>

    <div class="vision-mission">
        <div class="vision-mission-wrapper">
            <div class="sans-text">सर्वे सन्तु निरामयः</div>

            <!-- vision -->
            <div class="vision-section">
                <div class="vision-icon">
                    <img src="../../assets/vision-3.svg" alt="">
                </div>
                <div class="vision-content">
                    <div class="vision-heading">Vision</div>
                    <div class="vision-subheading">Swastha-Susthira Samājanirmāṇam</div>
                    <div class="vision-para">To build a healthy and sustainable society</div>
                </div>
            </div>

            <hr />

            <!-- mission -->
            <div class="vision-section">
                <div class="vision-icon">
                    <img src="../../assets/vission-1.svg" alt="">
                </div>
                <div class="vision-content">
                    <div class="vision-heading">Mission</div>
                    <ul>
                        <li class="vision-para">To be Model Centre by Expertised Integrated Health Care System</li>
                        <li class="vision-para">Ethical Medical Practice and Research to find solutions to the
                            challenges of the Mankind</li>
                        <li class="vision-para">Education to create awareness on Lifestyle to build a sustainable
                            healthy society</li>
                        <li class="vision-para">Building an Inspired & Value based team to deliver Compassionate care
                        </li>
                    </ul>
                </div>
            </div>

            <hr />

            <div class="vision-section">
                <div class="vision-icon">
                    <img src="../../assets/vision-2.svg" alt="">
                </div>
                <div class="vision-content">
                    <div class="vision-heading">Core Values</div>
                    <ul>
                        <li class="vision-para">Compassion</li>
                        <li class="vision-para">Respect & Dignity</li>
                        <li class="vision-para">Ethical Practices</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="facilities">
    <div class="facilities-1">

        <div class="facilities-heading">
            Facilities
        </div>
        <p class="facilities-content content-1">Our hospital is situated on a sprawling 3-acre property, strategically
            designed with patient comfort in mind. Nestled in the heart of this expanse, the hospital building
            maximizes natural light and fresh air, creating a soothing environment for patients. Patient rooms are
            thoughtfully arranged to ensure privacy while still allowing easy access for visitors. </p>
        <p class="facilities-content">Cleanliness is paramount in our facilities, reflecting our commitment to
            maintaining a hygienic and healing space ensuring a holistic approach to well-being.</p>

    </div>
    <div class="facilities-2">
        <div>
            <img class="facilities-image" src="../../assets/rashtrotthana_hospital_aerial_view.png"
                alt="Rashtrotthana Hospital | aerial view">
            <p class="facilities-content-image">Sprawling 3-acre
                Eco-Green Property</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/rashtrotthana_hospital_ganesha_idol.png"
                alt="Rashtrotthana Hospital | Ganesha idol">
            <p class="facilities-content-image">Serene & Meditative Quadrangle
                in the heart of the hospital</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/rashtrotthana_hospital_reception_area.png"
                alt="Rashtrotthana Hospital | reception area">
            <p class="facilities-content-image">Spacious, well lit & ventilated patient rooms & corridors</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/best_operation_theatre_bangalore.png"
                alt="Best Operation Theatre RR Nagar Bangalore | Rashtrotthana Hospital">
            <p class="facilities-content-image">State-of-the-art facilities</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/rashtrotthana_hospital_parking_area.png"
                alt="Rashtrotthana Hospital | Parking area | RR Nagar Bangalore">
            <p class="facilities-content-image">Ample Parking facilities</p>
        </div>
    </div>
</div>

<!-- samraksha -->
<!-- <div class="samraksha-container">
    <h2 class="samraksha-heading">
        Samraksha
    </h2>

    <div class="samraksha-flex">

        <div class="sam-content">
            <p class="facilities-content content-1">Thalassemia is a serious genetic blood disorder that affects the body’s ability to produce healthy hemoglobin, often leading to severe anemia and complications like bone deformities, growth issues, and organ damage. In Karnataka, studies show that 8.5% of pregnant women carry the β-thalassemia trait, highlighting the urgent need for awareness, screening, and timely intervention. </p>
            <p class="facilities-content content-1">Recognizing this, Rashtrotthana Parishat launched the SAMRAKSHA project in 2013, beginning with just 19 children. Today, the initiative has supported over 400 children with life-saving services including regular blood transfusions, iron chelation therapy, and in some cases, bone marrow transplants in partnership with Sankalp India Foundation.</p>
            <p class="facilities-content content-1">Samraksha goes beyond just medical care - it offers a holistic support system for children and their families. From in-house blood transfusions and dedicated medical supervision to emotional support, nutrition, and child-friendly spaces with toys and books, the project ensures dignity and comfort at every step. With its compassionate approach and committed healthcare services, Samraksha is making a real difference in the lives of thalassemia-affected children, showing that with collective effort and early care, a healthier future is possible.</p>
        </div>

        <img src="../../assets/samraksha/container-2-img.png" alt="Samraksha">
    </div>

    <div class="button">
      <app-read-more-btn [text]="'Read More'" (click)="navigateToPage()"></app-read-more-btn>
    </div>
</div> -->



<!-- <div class="free-div free">
    <div class="free-text"></div>
    <div class="free-1">OUR LATEST PROGRAMS</div>
</div> -->
<div class="title-container">
    <app-title-button text='Our Latest Programs'></app-title-button>
</div>

<div class="news_and_events">
    <iframe src="https://87cf471594394c9a9a3f4f1592b7e5f5.elf.site" frameborder="0" class="instagram_feed"></iframe>
</div>