<div style="padding-top:11vh;">
    .
</div>
<div class="about-us-container">
    <div class="about-img">
        <img class="jayadev" src="../../assets/about-img.png">
    </div>
    <div class="about-content">
        <div class="heading">
            Meet Our Honorable Founder Sri M. C Jayadev
        </div>
        <div class="content">
            The visionary force behind Rashtrotthana Parishat,<br/>  Sri M. C Jayadev envisioned, nurtured and mentored
            the organization from its inception. He epitomized the fusion of duty and nationalism, dedicating his life
            to the principle of "One Life, One Mission" in an unparalleled manner. Rashtrotthana Parishat is
            steadfastly moving towards its objective of building a prosperous and healthy society by virtue of the
            durable foundation laid by him. His legacy serves as a guiding light, propelling RP toward the realization
            of its noble goals.
        </div>
    </div>
</div>
<div class="president-container">
    <div class="president-content">
        <p class="facilities-content">As I pen these words, a profound sense of pride and gratitude fills me as I reflect on our remarkable
            journey. Rashtrotthana Hospital stands tall, a testament to our shared vision and mission – A VISION to
            create a place of healing, where we strive to provide quality, humane and affordable healthcare to all
            sections of society and A MISSION to provide exceptional healthcare services that go beyond mere treatment
            where patients are not merely seen but truly heard and cared for.</p>
        <p class="facilities-content">Our history, marked by unwavering commitment since inception, is a testament to the dedication of our
            incredible team. From skilled medical professionals to diligent support staff, each member plays a pivotal
            role in our ongoing success story. However, our journey doesn't solely revolve around the walls of our
            hospital. It extends to the lives we touch, the families we support and the communities we serve through
            our community initiatives. It's in the smiles of recovered patients and the hope we instil in the hearts of
            those facing challenging times.</p>
        <p class="facilities-content">At the heart of Rashtrotthana Hospital are our CORE VALUES – compassion, excellence, innovation and
            commitment. These values are not mere words but the guiding principles that shape our actions and define our
            identity. They drive us to provide not just medical care but genuine warmth and support to every patient who
            walks through our doors. As we stride into the future, innovation remains at our ethos. Embracing
            technological advancements, refining our methodologies and continuously learning are integral to our
            pursuit of excellence. However, amidst this evolution, our commitment to compassionate care will forever
            remain unwavering. To everyone who's been part of this extraordinary journey, I extend heartfelt gratitude.
            Here's to a future marked by unwavering commitment, boundless compassion and continued success in serving
            our community.</p>
    </div>
    <div class="president-img">
        <img class="president" src="../../assets/President.png">
        <div class="president-info">
            <p class="name">M. P. Kumar</p>
            <p class="desgination">President, Rashtrotthana Parishat</p>
        </div>
    </div>
</div>
<div class="mission-vision">
    <div class="about-hospital">
        <div class="about-heading">
            About Rashtrotthana Hospital
        </div>
        <div class="about-hospital-content">
            <p class="facilities-content">Jayadev Memorial Rashtrotthana Hospital & Research Centre, a beacon of compassion, excellence and
                integrity in healthcare. Beyond the confines of traditional medical facilities, Rashtrotthana Hospital
                is a place where patients are not merely seen but truly heard and cared for. Our commitment to trust and
                transparency ensures an unwavering dedication to compassionate care.</p>
            <p class="facilities-content">What sets Rashtrotthana Hospital apart is its integrated approach to healing. Under one roof, we
                harmonize <a style="text-decoration: none; margin:0;padding: 0;" href="https://www.rashtrotthanahospital.com/specialities/best-general-medicine-hospital-in-bangalore">Modern Medicine</a>, <a style="text-decoration: none; margin:0;padding: 0;" href="https://www.rashtrotthanahospital.com/specialities/ayurvedic-treatment-bangalore">Ayurveda</a>, <a style="text-decoration: none; margin:0;padding: 0;" href="https://www.rashtrotthanahospital.com/specialities/homeopathy-treatment-bangalore">Homeopathy</a>, <a style="text-decoration: none; margin:0;padding: 0;" href="https://www.rashtrotthanahospital.com/specialities/yoga-therapy-bangalore">Yoga</a> and <a style="text-decoration: none; margin:0;padding: 0;" href="http://localhost:53618/specialities/lifestyle-medicine-bangalore">Naturopathy</a>., offering patients a diverse spectrum of
                services. This unique fusion combines the precision of modern medical practices with the holistic
                principles of ancient traditions, providing comprehensive care tailored to individual needs.</p>
            <p class="facilities-content">Integrity is embedded in every service we provide at Rashtrotthana Hospital. From advanced medical
                treatments to personalized care plans, transparency is paramount. Our hospital stands as a testament to
                a holistic vision that goes beyond medicine, offering state-of-the-art diagnostics, specialized
                treatments and a commitment to both traditional and modern healing practices.</p>
            <p class="facilities-content">At Rashtrotthana Hospital, we are not just a hospital; we are a healing sanctuary where <a style="text-decoration: none;" href="https://en.wikipedia.org/wiki/Integrated_services">integrated services</a> converge to create a nurturing environment. Our goal is to not only provide medical treatment
                but to facilitate a comprehensive approach to well-being, embracing the synergy of diverse healing
                practices under one roof.</p>
        </div>
    </div>
    <div class="about-vision">
        <div class="vision-heading">
            Vision
        </div>
        <div class="vision-sub-heading">
            Swastha-Susthira Samājanirmāṇam
        </div>
        <div class="about-vision-content">
            To build a healthy and sustainable society
        </div>
        <hr style="color: #FFF;">
        <div class="vision-heading">
            Mission
        </div>
        <div class="about-vision-content">
            To be a Model Center by Expertise Integrated<br> Health Care System
        </div>
        <div class="about-vision-content">
            Ethical Medical Practice and Research to find solutions to the<br> challenges of the Mankind
        </div>
        <div class="about-vision-content">
            Education to create awareness on Lifestyle to build a<br> sustainable healthy society
        </div>
        <div class="about-vision-content last-content">
            Building an Inspired & Value based Team to deliver<br> Compassionate care
        </div>

    </div>
</div>
<div class="facilities">
    <div class="facilities-1">
     
            <div class="facilities-heading">
                Facilities
            </div>
            <p class="facilities-content content-1">Our hospital is situated on a sprawling 3-acre property, strategically
                designed with patient comfort in mind. Nestled in the heart of this expanse, the hospital building
                maximizes natural light and fresh air, creating a soothing environment for patients. Patient rooms are
                thoughtfully arranged to ensure privacy while still allowing easy access for visitors. </p>
            <p class="facilities-content">Cleanliness is paramount in our facilities, reflecting our commitment to
                maintaining a hygienic and healing space ensuring a holistic approach to well-being.</p>
        
    </div>
    <div class="facilities-2">
        <div>
            <img class="facilities-image" src="../../assets/facilities-1.png">
            <p class="facilities-content-image">Sprawling 3-acre
                Eco-Green Property</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/facilities-2.png">
            <p class="facilities-content-image">Serene & Meditative Quadrangle
                in the heart of the hospital</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/facilities-3.png">
            <p class="facilities-content-image">Spacious, well lit & ventilated patient rooms & corridors</p>
        </div>
        <div>
            <img class="facilities-image" src="../../assets/facilities-4.png">
            <p class="facilities-content-image">State-of-the-art facilities</p>
        </div>
        <div>
            <img class="facilities-image"src="../../assets/facilities-5.png">
            <p class="facilities-content-image">Ample Parking facilities</p>
        </div>
    </div>
</div>
<!-- <div class="free-div free">
    <div class="free-text"></div>
    <div class="free-1">OUR LATEST PROGRAMS</div>
</div> -->
<div class="title-container">
    <app-title-button text='Our Latest Programs'></app-title-button>
  </div>
  
<div class="news_and_events">
    <iframe src="https://ddeeb78ffe67464983baceadb8286b07.elf.site" frameborder="0" class="instagram_feed"></iframe>
</div>
