<div class="health-checkup-container">
    <div class="content-container">
        <h1 class="packages-container-title">Health Check</h1>
        <div class="text-container">
            <span>
                A Dedicated team of professionals driven by passion lead the <a style="text-decoration: none; margin:0;padding: 0;" href="https://en.wikipedia.org/wiki/Health_Check">Health check</a> department at Rashtrotthana Hospital. To meet
                the requirements of all age groups in both genders multiple health check packages have been designed &
                made available. From Basic health checks to advanced health packages including comprehensive health
                check packages are priced affordably. Disease specific health packages have also been designed to
                facilitate patients & reduce the diagnostic expenses. NOTE: all health packages comprise of multiple
                specialist consultations up to 5 specialist consultations. Eg: Renal Profile package for the benefit of
                <a style="text-decoration: none; margin:0;padding: 0;" href="https://www.rashtrotthanahospital.com/facility/best-kidney-dialysis-multispeciality-hospital-bangalore">Dialysis</a> patients.
            </span>
        </div>
    </div>
    <div class="packages-container">
        <h1 class="packages-container-title">Affordable Packages</h1>

        <p-accordion class="w-full" [activeIndex]="activeIndex" (onTabOpen)="preventDefault($event)">
            <div *ngFor="let package of packages;let i = index" class="accordion-container">
                <p-accordionTab class="checkup-accordion" transitionOptions="500ms cubic-bezier(0.86, 0, 0.07, 1)">
                    <ng-template pTemplate="header">
                        <div class="accordion-header">
                            <div class="title-box">
                                <div class="title-box-img">
                                    <img src="assets/health-checkup.png" alt="{{ package }}" />
                                </div>
                                <h1>{{ package.title }}</h1>
                                <div class="total-count">
                                    <span>Included {{ package.test }} tests</span>
                                </div>
                            </div>
                            <div class="price-container">
                                <div class="price">
                                    ₹{{ package.price }} <span>onwards</span>
                                </div>
                                <div class="view-btn-container">
                                    <span class="view-all-btn" (click)="toggleTab($event, i)"> {{ activeIndex === i ?
                                        'Close All' : 'View All' }} </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="expand-grid">
                        <div *ngFor="let item of package.package">
                            <div class="items-heading">
                                <div class="items-heading-img">
                                    <img [src]="'assets/health-checkup/' + item.icon + '.png'" alt="{{ item.title }}" />
                                </div>
                                <h1>{{ item.title }}</h1>
                            </div>
                            <div class="items-lists">
                                <span *ngFor="let each of item.items" class="each-bullet">
                                    <span> • </span>
                                    <span> {{ each }} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </div>
        </p-accordion>

    </div>
</div>