<!-- container 1 -->
<div class="root_container">
    <div>
        <div class="container_1">
            <img src="../../assets/Proctology_Hernia_Assets/Rashtrotthana-Hospital-hernia-treatment.png"
                class="hernia_poster_desktop" alt="Rashtrotthana Hospital hernia treatment">
            <img src="../../assets/Proctology_Hernia_Assets/Hernia-treatment-in-Bangalore-Rashtrotthana-Hospital.png"
                class="hernia_poster_tablet" alt="Hernia treatment in Bangalore  | Rashtrotthana Hospital">
            <img src="../../assets/Proctology_Hernia_Assets/Best-hernia-surgeon-in-Bangalore-Rashtrotthana-Hospital.png"
                class="Hernia_Poster_Mobile" alt="Best hernia surgeon in Bangalore  | Rashtrotthana Hospital">
        </div>
        <div class="container_1_btn">
            <button (click)="contactus()" class="Book_appointment_btn">Book your appointment at discounted price <i
                    class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>

    <div class="container-2">
        <h1 class="con_2_head_txt">Hernia Hospital in Bangalore</h1>
        <div class="flex">
            <div class="content">
                <p class="para_txt">Rashtrotthana Hospital is your top choice if you’re looking for a leading hernia
                    hospital in Bangalore. Our team of specialists is dedicated to providing comprehensive and advanced
                    hernia treatment for all patients. From diagnosing <a href="https://en.wikipedia.org/wiki/Hernia" target="_blank">hernia</a> symptoms early to offering personalized
                    care, we ensure that your journey to recovery is smooth and effective. Our hospital is recognized as
                    the best hernia hospital in Bangalore for its commitment to patient care and innovative surgical
                    solutions.</p>
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">What is a Hernia?</h2>
        <div class="flex">
            <div class="content">
                <p class="para_txt">A hernia occurs when an internal organ pushes through a weak spot in the surrounding
                    muscle or tissue. This condition can cause various hernia symptoms, including discomfort and visible
                    bulges. At Rashtrotthana Hospital, we are equipped to treat all types of hernias effectively, making
                    us the leading hernia hospital in Bangalore for specialized care.</p>
                <p class="para_txt"><b>Common types of hernias include:</b></p>
                <ul>
                    <li class="para_txt"><b>Inguinal Hernia: </b>Affects the groin area.</li>
                    <li class="para_txt"><b>Umbilical Hernia: </b>Develops near the belly button.</li>
                    <li class="para_txt"><b>Hiatal Hernia: </b>Impacts the upper stomach, causing acid reflux.</li>
                    <li class="para_txt"><b>Femoral Hernia: </b>Appears near the upper thigh.</li>
                    <li class="para_txt"><b>Incisional Hernia: </b> Occurs at the site of previous surgeries.</li>
                </ul>
                <p class="para_txt">Our experts provide the best <b>hernia treatment</b> for each type, tailored to the
                    patient's specific needs.</p>
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">Recognizing Hernia Symptoms</h2>
        <div class="flex">
            <div class="content">
                <p class="para_txt">Early detection of hernia symptoms is crucial for effective treatment. Common hernia
                    symptoms include:</p>
                <ul>
                    <li class="para_txt">A noticeable bulge or lump in the abdomen or groin.</li>
                    <li class="para_txt">Pain or discomfort, particularly when lifting heavy objects.</li>
                    <li class="para_txt">A feeling of heaviness or pressure in the affected area.</li>
                    <li class="para_txt">Worsening symptoms with coughing, sneezing, or standing for extended periods.
                    </li>
                </ul>
                <p class="para_txt">If you are experiencing any of these hernia symptoms, it’s important to seek timely
                    hernia treatment at a reputable hernia hospital like Rashtrotthana Hospital. Our specialists are
                    here to provide comprehensive care for all hernia symptoms and ensure your health and comfort.</p>
            </div>
            <div class="image">
                <img src="../../assets/Proctology_Hernia_Assets/Hernia-hospital-in-bangalore.png"
                    alt="Hernia hospital in Bangalore">
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">What Causes a Hernia?</h2>
        <div class="flex col-rev">
            <div class="image">
                <img src="../../assets/Proctology_Hernia_Assets/Inguinal-hernia-repair-Bangalore-Rashtrotthana-Hospital.png"
                    alt="Inguinal Hernia Repair Bangalore Rashtrotthana Hospital">
            </div>
            <div class="content">
                <p class="para_txt"><b>Understanding the hernia causes is essential for prevention and treatment. Common
                        hernia causes include:</b></p>
                <ul>
                    <li class="para_txt">Muscle weakness, often due to aging or previous surgery.</li>
                    <li class="para_txt">Straining during bowel movements or heavy lifting.</li>
                    <li class="para_txt">Chronic coughing or sneezing.</li>
                    <li class="para_txt">Obesity and pregnancy, which put additional pressure on the abdominal wall.
                    </li>
                </ul>
                <p class="para_txt">At Rashtrotthana Hospital, the trusted <b>hernia hospital in Bangalore</b>, we focus
                    on identifying the underlying hernia causes and providing effective solutions.</p>
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">Different Types of Hernias</h2>
        <p style="margin-bottom: 30px;" class="para_txt">Hernias can occur in various parts of the body and are
            classified based on their location and the tissues involved. Here are some specific types of hernias:</p>
        <div style="margin-top: 50px;" class="grid">
            <div class="content" *ngFor="let type of types; let i = index">
                <h2 class="para_txt"><b>{{i+1}}. {{type.type_name}}</b></h2>
                <p class="para_txt">{{type.content}}</p>
                <div class="para_txt">Symptoms include,</div>
                <ul>
                    <li class="para_txt">{{type.list}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">Advanced Hernia Treatment in Bangalore</h2>
        <div style="margin-top: 50px;" class="flex">
            <div class="content">
                <p class="para_txt">Rashtrotthana Hospital is renowned for offering state-of-the-art hernia treatment in
                    Bangalore. We specialize in minimally invasive surgeries and personalized care plans to ensure the
                    best outcomes for our patients.</p>
                <h2 class="para_txt"><b>Laparoscopic Hernia Surgery</b></h2>
                <p class="para_txt">Our minimally invasive hernia treatment includes laparoscopic hernia surgery, which
                    uses small incisions for faster recovery and less pain. This approach is ideal for many patients
                    experiencing hernia symptoms and looking for an effective solution.</p>
                <h2 class="para_txt"><b>Open Hernia Repair Surgery</b></h2>
                <p class="para_txt">For complex cases, open hernia repair surgery is performed by our skilled surgeons,
                    ensuring comprehensive hernia treatment.</p>
                <h2 class="para_txt"><b>Non-Surgical Treatment Options</b></h2>
                <p class="para_txt">In certain cases, hernia symptoms can be managed with lifestyle changes and
                    supportive care. Our specialists at Rashtrotthana Hospital, the top hernia hospital in Bangalore,
                    offer guidance for non-surgical hernia treatment when appropriate.</p>
            </div>
            <div class="image">
                <img src="../../assets/Proctology_Hernia_Assets/Umbilical-hernia-surgery-Bangalore-Rashtrotthana-Hospital.png"
                    alt="Umbilical Hernia Surgery Bangalore Rashtrotthana Hospital">
            </div>
        </div>
    </div>

    <div class="container-2">
        <h2 class="con_2_head_txt">Why Choose Rashtrotthana Hospital for Hernia Treatment?</h2>
        <div class="flex col-rev">
            <div class="image">
                <img src="../../assets/Proctology_Hernia_Assets/Hiatal-hernia-treatment-Bangalore-Rashtrotthana-Hospital.png"
                    alt="Hiatal Hernia treatment in Bangalore Rashtrotthana Hospital">
            </div>
            <div class="content">
                <p class="para_txt">Rashtrotthana Hospital stands out as the leading hernia hospital in Bangalore for
                    several reasons:</p>
                <ul>
                    <li class="para_txt"><b>Expert Specialists: </b>Our team of hernia specialists in Bangalore is
                        highly experienced in diagnosing and treating various hernia types.</li>
                    <li class="para_txt"><b>Advanced Technology: </b>We offer the latest techniques in laparoscopic
                        hernia surgery and minimally invasive procedures.</li>
                    <li class="para_txt"><b>Comprehensive Care: </b>From addressing initial hernia symptoms to providing
                        post-surgical care, we ensure complete hernia treatment.</li>
                    <li class="para_txt"><b>Affordable Treatment: </b>As a dedicated hernia hospital, we provide
                        affordable options for all patients seeking hernia treatment in Bangalore.</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="heading">
        <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
    </div>
    <div class="doc_container">
        <div class="doctors_flex">
            <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
                <div class="doc_1">
                    <img [src]="slide.image" [alt]="slide.alt" />
                    <p class="doc_name">{{ slide.name }}</p>
                    <p class="doc_Exp">{{ slide.department }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- view all button -->
    <div class="view_all_btn_box">
        <app-arrow-btn></app-arrow-btn>
    </div>

    <!-- faq section -->
     <div class="container-2">
        <div class="con_2_head_txt">FAQs</div>
        <div style="margin: 50px 0;" class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="para_txt"><b>{{i+1}}. {{faq.ques}}</b></div>
            <div class="para_txt" [innerHTML]="faq.ans"></div>
        </div>
     </div>

</div>