.root_container {
    padding: 0;
    margin: 0;
    background-color: #fbfff4;
    line-height: 36px;
}

/* container 1 */

.container_1 {
    margin-top: 120px;
}

.hernia_poster_desktop{
    width: 100%;
    height: 100%;
}

.hernia_poster_tablet{
    display: none;
}

.Hernia_Poster_Mobile{
    display: none;
}

.container_1_btn{
    position: relative;
    bottom: 100px;
}
.Book_appointment_btn {
    display: inline-flex;
    height: 52px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #fbca51;
    color: #ffffff;
    border: none;
    margin-left: 50px;
}

/* container 2 */

.container-2{
    padding: 5% 7% 0 7%;
}

.con_2_head_txt{
    color: #008080;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image img{
    width: 400px;
    height: auto;
}

.para_txt{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.6%; /* 25.308px */
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 20px;
}

.doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.doctor-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.doctor_heading {
    margin: 80px 0;
    font-size: 30px;
    font-family: poppins;
    font-weight: 700;
    text-align: center;
}

.doctors_flex {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.doc_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: -25px 25px 0 rgb(218, 218, 218);
    width: 250px;
    background-color: #ffffff;
}

.doc_1 img {
    width: 250px;
    height: 250px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.doc_name {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    margin-top: 20px;
    font-weight: 700;
}

.section,
.designation,
.department {
    color: #0392CE;
    font-family: Inter, sans-serif;
}

.doc_Exp {
    font-family: "inter";
    font-size: 14px;
    font-weight: 400;
}

.view_all_btn_box {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

@media only screen and (max-width : 800px){

    /* container 1*/

    .hernia_poster_desktop{
        display: none;
    }

    .hernia_poster_tablet{
        display: block;
        width: 100vw;
        height: auto;
    }

    .Book_appointment_btn{
        font-size: 14px;
        padding: 5px;
        margin-left: 10px;
    }

    .container_1_btn{
        bottom: 60px;
    }

    .grid{
        grid-template-columns: 100%;
    }

    .image img{
        width: 300px;
    }

}
@media only screen and (max-width : 440px) {
    /* container 1*/

    .Hernia_Poster_Mobile{
        display: block;
        width: 100%;
        height: 100%;
    }

    .hernia_poster_desktop{
        display: none;
    }
    .hernia_poster_tablet{
        display: none;
    }
    .con_2_head_txt{
        font-size: 24px;
    }
    .para_txt{
        font-size: 12px;
    }

    .flex{
        flex-direction: column;
    }

    .col-rev{
        display: flex;
        flex-direction: column-reverse;
    }

    .doctor_heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    /* container */

    .container_1{
        /* background-image: url('../../assets/Hernia_responsive_img.png'); */
        background-size: cover;
    }   
}