<!-- container 1 -->
<div class="root_container">
<div class="container_1">
    <img src="../../assets/Proctology_Hernia_Assets/Hernia_Poster_Desktop_Size.png" alt="" class="hernia_poster_desktop">
    <img src="../../assets/Proctology_Hernia_Assets/Hernia_tabsize.png" alt="" class="hernia_poster_tablet">
    <img src="../../assets/Proctology_Hernia_Assets/Hernia_Poster_Mobile.png" alt="" class="Hernia_Poster_Mobile">
</div>
<div class="container_1_btn">
    <button class="Book_appointment_btn">Book your appointment at discounted price <i class="fa-solid fa-angle-right"></i></button>
</div>

<!-- container 2 -->

<div class="container_2">
    <p class="con_2_head_txt">What is a Hernia?</p>
    <p class="para_txt">A hernia occurs when an organ or tissue protrudes through a weak spot in the surrounding muscle or connective tissue. This can result in a noticeable bulge, often in the abdomen or groin area. Sometimes you can see the hernia, depending on its location and size.</p>
</div>

<div class="container_2 .container_2_responsive">
    <p class="con_2_head_txt">Hernia Causes:</p>
    <p class="para_txt">The various types of hernias can have different causes. In general, a hernia starts with pressure on an organ or your intestines. When this pressure occurs in the same area as a weakened muscle or tissue, a hernia forms. Some people are born with weak muscles or tissue that isn’t fully developed. However, most people get hernias as their bodies age and their muscles weaken.</p>
</div>

<!-- container 3 -->

<div class="container_3">
    <!-- container 3 content -->
    <div class="con_3_content">
        <p class="con_3_heading">Certain movements and habits can also cause a hernia or worsen an existing one. These include:</p>
        <ul class="con_3_list">
            <li class="con_3_list_items">Lifting heavy objects, particularly when done incorrectly and with weak muscles, can be challenging.</li>
            <li class="con_3_list_items">Overusing the same muscle</li>
            <li class="con_3_list_items">Straining during coughing, sneezing, diarrhea, or constipation</li>
            <li class="con_3_list_items">Being overweight or having poor nutrition</li>
            <li class="con_3_list_items">Using tobacco</li>
        </ul>
    </div>
    <!-- container 3 image -->
     <div class="con_3_img">
        <img src="../../assets/Proctology_Hernia_Assets/Hernia_con_3_img_1.png" alt="">
        <img src="../../assets/Proctology_Hernia_Assets/Hernia_con_3_img_2.png" alt="">
     </div>
</div>

<!-- container 4 -->

<div class="container_4">
    <!-- container 4 heading -->
    <div class="con_4_heading">
        <p class="con_4_head_txt">Different Types of Hernias</p>
        <p class="con_4_para">Hernias can occur in various parts of the body and are classified based on their location and the tissues involved. Here are some specific types of hernias:</p>
    </div>

    <!-- container 4 content -->
     <div class="container_4_content">
        <!-- row 1 -->
        <div class="con_4_content_box">
            <!-- box_1 -->
            <div class="box box_1">
                <p class="box_heading">1. Inguinal Hernia</p>
                <p class="box_para">Inguinal hernias are the most common type, accounting for 74% of all hernias. They primarily affect men or individuals assigned male at birth (AMAB). This type of hernia occurs when part of the bowel protrudes into the inguinal canal, a passageway that runs down the inner thigh.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Pain or discomfort in the groin, especially when bending over, coughing, or lifting.</li>
                    <li class="con_4_list_item">A bulge on either side of the pubic bone.</li>
                </ul>
            </div>
            <!-- box_2 -->
            <div class="box box_2">
                <p class="box_heading">2. Femoral Hernia</p>
                <p class="box_para">A femoral hernia is a less common type of groin hernia that occurs in the femoral canal, which runs underneath the inguinal canal. It happens when fatty tissue or part of the bowel pushes through into the femoral canal.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Pain in the groin, particularly when lifting heavy objects.</li>
                    <li class="con_4_list_item">A bulge near the thigh or groin.</li>
                </ul>
            </div>
        </div>

        <!-- row 2 -->
        <div class="con_4_content_box">
            <!-- box_3 -->
            <div class="box box_3">
                <p class="box_heading">3. Hiatal Hernia</p>
                <p class="box_para">A hiatal hernia is a common type acquired over a lifetime. It occurs when the opening in the diaphragm, where the esophagus passes through, widens, allowing the top of the stomach to push up through this opening into the chest cavity.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Heartburn or acid reflux.</li>
                    <li class="con_4_list_item">Difficulty swallowing.</li>
                    <li class="con_4_list_item">Chest pain or discomfort.</li>
                </ul>
            </div>
            <!-- box_4 -->
            <div class="box box_4">
                <p class="box_heading">4. Congenital Diaphragmatic Hernia</p>
                <p class="box_para">This serious birth defect occurs when the diaphragm does not fully close during fetal development. It allows abdominal organs to slip into the chest cavity, crowding the lungs and affecting their growth.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Difficulty breathing in newborns.</li>
                    <li class="con_4_list_item">Blue-tinted skin due to lack of oxygen.</li>
                    <li class="con_4_list_item">Rapid breathing and heart rate.</li>
                </ul>
            </div>
        </div>

        <!-- row 3 -->
        <div class="con_4_content_box">
            <!-- box_4 -->
            <div class="box box_4">
                <p class="box_heading">5. Incisional Hernia</p>
                <p class="box_para">An incisional hernia occurs when tissue protrudes through a previous surgical incision in the abdominal wall that has weakened over time. This is a common complication following abdominal surgery.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Bulging near a previous surgical incision.</li>
                    <li class="con_4_list_item">Pain and discomfort at the site of the previous surgery.</li>
                </ul>
            </div>
            <!-- box_6 -->
            <div class="box box_6">
                <p class="box_heading">6. Umbilical Hernia</p>
                <p class="box_para">An umbilical hernia happens when part of the intestine pushes through an opening in the abdominal wall near the belly button. Most umbilical hernias are congenital, meaning they are present from birth.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Swelling or bulging near the belly button.</li>
                    <li class="con_4_list_item">Pain around the belly button, especially when coughing or lifting.</li>
                </ul>
            </div>
        </div>

        <!-- row 4 -->
        <div class="con_4_content_box">
            <!-- box_7 -->
            <div class="box box_7">
                <p class="box_heading">7. Ventral Hernia</p>
                <p class="box_para">A ventral hernia refers to any hernia occurring through the front wall of the abdomen. This category includes umbilical hernias and incisional hernias. An epigastric hernia, a type of ventral hernia, occurs above the belly button</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Bulge in the abdominal wall.</li>
                    <li class="con_4_list_item">Pain or discomfort in the abdomen.</li>
                </ul>
            </div>
            <!-- box_8 -->
            <div class="box box_8">
                <p class="box_heading">8. Perineal Hernia</p>
                <p class="box_para">Perineal hernias are relatively rare and occur when organs or tissue push through an opening or weakness in the pelvic floor into the abdominal cavity.</p>
                <p class="symptoms_heading">Symptoms include,</p>
                <ul class="con_4_list">
                    <li class="con_4_list_item">Pain or pressure in the pelvic area.</li>
                    <li class="con_4_list_item">A bulge in the perineum.</li>
                </ul>
            </div>
        </div>


     </div>

</div>

<!-- container 5 -->

<div class="container_5">
    <!--container 5 content -->
    <div class="container_5_content">
        <p class="con_5_heading_1">Hernia Treatment: </p>
        <p class="con_5_para_1">At Rashtrotthana Hospital, our approach to hernia treatment is tailored to the type of hernia you have and your overall health. Initially, your doctor may recommend monitoring your condition for any changes, which may involve adjustments to your diet, activity levels and daily habits. Medications can also help alleviate hernia symptoms.</p>
        <p class="con_5_para_2">If the hernia does not improve or worsens, your doctor will discuss surgical options. There are two main types of surgical treatments available: </p>
        <p class="con_5_heading_2">Laparoscopic Surgery: </p>
        <p class="con_5_para_3">Laparoscopic surgery is a minimally invasive procedure where the surgeon makes small incisions in the affected area to repair the hernia. This technique typically results in less pain and a quicker recovery time compared to traditional surgery.</p>
        <p class="con_5_heading_3">Open Repair Surgery: </p>
        <p class="con_5_para_4">Open repair surgery involves making a larger incision to access and repair the hernia. This method may be necessary for larger or more complex hernias.</p>
    </div>
    <!-- container 5 image -->
     <div class="container_5_image">
        <img src="../../assets/Proctology_Hernia_Assets/Hernia_con_5_img.png" alt="">
     </div>
</div>

<!-- conatiner 6 -->

<div class="container_6">
    <!-- container_6_image-->
    <div class="container_6_image">
        <img src="../../assets/Proctology_Hernia_Assets/Hernia_container_6_img.png" alt="">
    </div>
    <!-- container_6_content -->
     <div class="container_6_content">
        <p class="con_6_heading_1">Use of Surgical Mesh</p>
        <p class="con_6_para_1">During hernia surgery, your doctor might use surgical mesh, a medical device designed to support the weakened muscle or tissue. The mesh can be made from synthetic materials or animal tissue and is available in two forms:</p>
        <ul class="container_6_list">
            <li class="con_6_list_item"><span class="list_heading">Temporary Mesh: </span>This type of mesh is absorbed by the body over time, working with your muscles and tissue to strengthen the area naturally.</li>
            <li class="con_6_list_item"><span class="list_heading">Permanent Mesh: </span>This provides long-term support to the weakened muscle or tissue, ensuring durability and stability.</li>
        </ul>
        <p class="con_6_para_2">At Rashtrotthana Hospital, we prioritize patient care and use the latest medical techniques to ensure the best possible outcomes. If you suspect you have a hernia or have been diagnosed with one, contact us today to schedule a consultation. Our expert team is here to guide you through every step of your treatment and recovery.</p>
     </div>
</div>  

<!-- doctor details -->
<div class="heading">
    <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
</div>

<div class="doc_container">
    <div class="doctors_flex">
      <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
        <div class="doc_1">
          <img [src]="slide.image" alt="{{ slide.name }}" />
          <p class="doc_name">{{ slide.name }}</p>
        </div>
      </div>
    </div>
  </div>


</div>

