<div style="background-color: #fbfff5; margin-top: 121px" class="contact-main-div">
  <h1 class="appointment">
    Book an Appointment
    <img class="arrow-appoint" src="../../assets/appoint-arrow.png" />
  </h1>
  <div class="contact-details">
    <div class="contact-form-page">
      <div class="content">
        We provide high <a style="text-decoration: none;" href="https://en.wikipedia.org/wiki/Health_care_quality"
          target="_blank">quality services</a> and <a style="text-decoration: none;"
          href="https://www.rashtrotthanahospital.com/">best hospital </a>service
      </div>
      <div class="contact-info">
        <div style="margin-bottom: 1rem" class="contact_us_flex">
          <i class="fa-solid fa-envelope icon"></i>
          <p class="email">info&#64;rashtrotthanahospital.com</p>
        </div>
        <div style="margin-bottom: 1rem" class="contact_us_flex">
          <i class="fa-solid fa-phone icon"></i>
          <a class="phone_number" href="tel:+918069239999">08069239999</a>
        </div>
        <div class="address" style="margin-bottom: 1rem" class="contact_us_flex">
          <i class="fa-solid fa-location-crosshairs icon"></i>
          <p class="address">Jayadev Memorial Rashtrotthana Hospital & Research Centre, Rajarajeshwari Nagar, BEML 5th
            Stage, Bengaluru - 560098</p>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.980268968693!2d77.5109759750038!3d12.908989616248038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3fbc0262558b%3A0xc42f8d9bb8a681dd!2sJayadev%20Memorial%20Rashtrotthana%20Hospital%20and%20Research%20Centre!5e0!3m2!1sen!2sin!4v1719338718455!5m2!1sen!2sin"
          class="map-iframe" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="contact-form-container">


      <div class="contact-form-elsight">
        <iframe class="contact-form-elsight" src="https://a36d5b8b341b4a689400948d2241e563.elf.site"></iframe>
      </div>
    </div>
  </div>
</div>