<div class="main_container">
    <div class="gm_poster">
            <h2 class="o_heading">Anesthesiology</h2>
            <P class="o_info">Leading the way with 15+ specialties in modern medicine.</P>
    </div>
    <!-- common box or container for menu and content, "dispaly: flex" -->
    <div class="menu_n_content"> 
        <!-- menu -->
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">more Specialties</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/specialities/internal-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Internal medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/specialities/best-general-surgery-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">General Surgery</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/specialities/best-obstetrics-and-gynecologist-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">Obstetrics & Gynaecology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box"routerLink="/specialities/best-paediatric-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Paediatrics & Neonatology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box"routerLink="/specialities/best-nephrology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Nephrology">nephrology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box"routerLink="/specialities/best-urology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">Urology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box"routerLink="/specialities/best-orthopaedics-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Orthopedics</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-gastroenterology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Gastrosciences">Gastrosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-cardiology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Cardiac Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box"routerLink="/specialities/best-pulmonology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Pulmonology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box"routerLink="/specialities/best-eye-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Ophthalmology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-dental-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Dental Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box"routerLink="/specialities/best-ent-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">ENT</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-neurology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Neurosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box"routerLink="/specialities/best-endocrinology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Endocrinology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Psychiatry -->
                    <div class="menu_list_box"routerLink="/specialities/best-pshychiatry-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Psychiatry">Psychiatry</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Oncology -->
                    <div class="menu_list_box"routerLink="/specialities/best-oncology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Oncology">Oncology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Anesthesiology -->
                    <div class="menu_list_box"routerLink="/specialities/best-anesthesiology-hospital-in-india" routerLinkActive="active">
                        <p class="menu_list Anesthesiology">Anesthesiology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- emergency medicine -->
                    <div class="menu_list_box"routerLink="/specialities/best-emergency-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list emergency_medicine">Emergency Medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->
        <div class="o_container">
            <!-- general medicine heading -->
            <div class="o_h_general_medicine">
                <p class="o_h_heading">Anesthesiology</p>
            </div>
            <!-- paragraph and image -->
            <div class="con_n_img">
                <div class="con_paragraph">
                    <p class="gm_content">The Anesthesiology Department at Rashtrotthana Hospital is dedicated to delivering safe and comfortable experiences for patients undergoing surgical procedures. Our expert team of anesthesiologists provides full-spectrum <a href="https://en.wikipedia.org/wiki/Anesthesia">anaesthesia</a> care, from pre-operative assessments to post-operative recovery. Prioritizing patient safety and well-being, we use advanced monitoring technology and tailor anesthesia techniques to meet each patient’s specific needs, ensuring the best possible outcomes.</p>
                    <p class="gm_content">We offer various types of anesthesia tailored to individual needs:</p>
                    <p class="gm_content"><b>General Anesthesia: </b>Induces sleep and ensures pain-free experience during major surgeries, allowing patients to remain unconscious throughout the procedure.                    </p>
                    <p class="gm_content"><b>Regional Anesthesia: </b> Includes techniques like spinal and epidural anaesthesia, targeting specific areas for numbing while keeping the patient conscious. Ideal for surgeries where localized pain relief is needed.                    </p>
                    <p class="gm_content"><b>Monitored Anesthesia Care: </b>Suitable for minor surgeries, this option provides sedation and localized pain relief as necessary, with the anesthesiologist monitoring and adjusting anaesthesia levels throughout the procedure</p>
                    <p class="gm_content"><b>Comprehensive Support:</b>Our range of anaesthesia services allows us to cater to a variety of surgical needs, from routine procedures to complex operations, ensuring optimal pain management and patient safety at every stage.</p>
                    <p class="gm_content">Our anesthesiologists work closely with surgical teams across various specialties, ensuring that each patient’s anaesthesia plan aligns with their overall treatment goals. The department also supports critical care and pain management services, reinforcing our commitment to comprehensive patient care. Additionally, we emphasize patient education, ensuring individuals are informed about their anaesthesia options and any necessary pre- and post-operative precautions.</p>
                    <p class="gm_content">At Rashtrotthana Hospital, we understand that a successful surgery goes beyond technical precision - it involves a holistic approach to managing pain, minimizing anxiety and optimizing recovery. With a focus on personalized care, our Anesthesiology Department is equipped to handle both planned and emergency procedures, offering comfort, expertise and reassurance to all patients.                    </p>
                </div>
                <img src="../../assets/images/Anesthesiology.png" alt="General Medicine" class="gm_o_image">
            </div>
            <!-- Meet our medical team -->
            <div class="Meet_Medical_Team">
                <!-- heading -->
                <h2 classs="mmt_heading">Meet Our Medical Team</h2>
                <!-- doctor image and name -->
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-7.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. (Col)Anand Shankar</p>
                        <p class="exp">Years of Experience: 29</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-51.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Shashidhar</p>
                        <p class="exp">Years of Experience: 20+</p>
                    </div>
                </div>
            </div>
            <!-- view all button -->
            <div class="view_all_btn_box">
                <app-arrow-btn></app-arrow-btn>
            </div>
        </div>
    </div>
</div>
