<div class="root-container">
    <div class="speciality-header">
        <app-speciality-header main_heading="ENT" />
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">BBest ENT Hospital in Bangalore - Comprehensive Care for Ear, Nose & Throat</h1>
            <div class="para_image">
                <div class="s_content">
                    <div class="s_para">When you’re struggling to hear your loved ones, breathe comfortably, or speak
                        without pain, you need care you can trust. At Rashtrotthana Hospital, we’re proud to be
                        recognized as a premier ENT hospital in Bangalore, delivering compassionate, personalized
                        treatment for all ear, nose and throat conditions. Our experienced ENT specialists in Bangalore
                        combine advanced technology with genuine care to help you return to a life free of discomfort
                        and worry.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-ent-specialists-near-me.jpg" alt="Best ENT Specialists Near Me">
                </div>
            </div>


            <div class="contents container-margin">
                <h2 class="s_subheadings">Get Relief for Sore Throat, Sinusitis, Vertigo and More</h2>
                <p class="s_para">Have you been waking up with a blocked nose that just won’t clear? Struggling to hear
                    your loved ones over a constant ringing in your ear? Or maybe your child can’t shake off those
                    repeated sore throats? You’re not alone - and you don’t have to suffer in silence.</p>
                <div class="para_image row-reverse">
                    <div class="s_image">
                        <img src="../../assets/throat-specialist-in-rajarajeshwari-nagar-bangalore.jpg"
                            alt="Throat Specialist in Rajarajeshwari Nagar Bangalore">
                    </div>
                    <div class="s_content">
                        <p class="s_para">At Rashtrotthana Hospital, a trusted ENT hospital in Bangalore, our
                            experienced ENT specialists in Bangalore understand how ear, nose and throat issues can
                            affect every part of your life - from sleep and speech to balance and confidence. Whether
                            you’re battling sinus headaches, dizzy spells from vertigo, or stubborn tonsillitis, we’re
                            here with advanced treatments and compassionate care at affordable prices to help you get
                            back to what matters most: living your life, pain-free and confident.</p>
                    </div>
                </div>
                <p class="s_para">We offer comprehensive ear, nose, and throat care in Bangalore, focused on accurate
                    diagnosis, effective treatments, and long-term relief. Whether you’re searching for an ENT
                    consultation or require complex surgery, our team will guide you every step of the way with
                    expertise and empathy.</p>
            </div>

            <div class="contents container-margin">

                <h2 class="s_subheadings">Our Expertise: Comprehensive Ear, Nose & Throat Care, from Ear Infections to
                    Tonsillitis</h2>

                <div class="form-container">
                    <div class="form-left">

                        <h2 class="ss_subheading">Ear Infections & Hearing Loss</h2>
                        <p class="s_para"> From ear infection treatment in Bangalore to professional ear cleaning
                            services, we
                            manage issues like noise in ear, earache remedies and ear bone problems with precision and
                            care. Our
                            ear doctors in Bangalore specialize in restoring your hearing and peace of mind.</p>

                        <h2 class="ss_subheading">Sinus & Nasal Problems</h2>
                        <p class="s_para">Struggling with chronic congestion or facial pain? Our ENT specialists provide
                            sinusitis treatment Bangalore, nasal congestion treatment Bangalore and sinus headache
                            relief
                            Bangalore. We use advanced diagnostic tools for vertigo evaluation in Bangalore and treat
                            nasal
                            blockages, polyps and fractures for better breathing and restful sleep.</p>
                    </div>
                    <div class="form-right">
                        <app-speciality-form [doctor]="formDoctors" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contents container-padding">
        <h2 class="ss_subheading">Throat & Tonsil Conditions</h2>
        <p class="s_para">Recurring sore throats and tonsil infections can make eating, speaking, and
            sleeping
            difficult. Our experts deliver tonsillitis treatment in Bangalore, including affordable
            tonsillitis
            treatment for children and adults in Bangalore and effective painful sore throat solutions
            for
            lasting relief.</p>

        <h2 class="ss_subheading">Vertigo & Balance Disorders</h2>
        <p class="s_para">If dizziness or imbalance is affecting your day-to-day life, our ENT doctors
            treating
            vertigo and dizziness in Bangalore offer comprehensive evaluations and targeted therapies so
            you can
            regain stability and confidence.</p>
    </div>

    <div class="youtube container-padding">

        <h2 class="s_subheadings">Expert Insights from Our ENT Specialists</h2>

        <div class="videos">
            <iframe width="320" height="200" src="https://www.youtube.com/embed/E9UQoItPrPI?si=yCNaVMsczZQjnwoe"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://youtube.com/embed/TLIYS2qP84o?si=YH0pzavxVoXS1A-o"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://www.youtube.com/embed/OK538oOk-eM?si=0-pFwUtbT-5oEaSQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="320" height="200" src="https://www.youtube.com/embed/vzZxYGCJK0E?si=F16IqscsomYYZOp0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="contents container-padding">
        <h2 class="s_subheadings">Advanced ENT Surgeries at Affordable Price </h2>
        <p class="s_para">At our advanced ENT hospital for nasal congestion and sinus pain in Bangalore, we perform
            state-of-the-art procedures at affordable price like:</p>
        <div class="para_image">
            <div class="s_image">
                <img src="../../assets/ear-pain-hospital-in-rajarajeshwari-nagar-bangalore.jpg" alt="">
            </div>
            <div class="s_content">

                <ul>
                    <li class="s_para"><b>Endoscopic Sinus Surgery</b> - Precise, minimally invasive solutions for
                        chronic sinusitis</li>
                    <li class="s_para"><b>Microscopic Ear Surgeries</b> - Such as mastoidectomy with tympanoplasty to
                        treat stubborn ear infections and eardrum damage.</li>
                    <li class="s_para"><b>Cochlear Implants</b> - Advanced technology to restore hearing and improve
                        communication.</li>
                    <li class="s_para"><b>Head & Neck Cancer Care</b> - Comprehensive, compassionate management of
                        complex ENT cancers</li>
                </ul>

                <p class="s_para">We prioritize minimally invasive techniques, helping patients heal faster with less
                    pain and scarring.</p>

            </div>
        </div>
    </div>

    <div style="margin: 40px 0;" class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Why Choose Rashtrotthana Hospital’s ENT Department?</h2>

            <div class="para_image">
                <ul>
                    <li class="s_para"><b>Experienced ENT Doctors</b> - Our experienced ENT specialists for ear
                        infections in Bangalore provide individualized care you can trust.</li>
                    <li class="s_para"><b>Comprehensive Diagnostics</b> - From nasal endoscopy to advanced imaging, we
                        leave no stone unturned in finding the root cause of your symptoms.</li>
                    <li class="s_para"><b>Holistic Treatment Plans</b> - We address not just the symptoms but the
                        underlying issues, ensuring long-term relief and better quality of life.</li>
                    <li class="s_para"><b>Patient Education & Support</b> - We empower you with knowledge about your
                        condition, treatment options, and home care strategies.</li>
                    <li class="s_para"><b>Accessible Care for All</b> - We offer affordable tonsillitis treatment,
                        professional ear cleaning and ENT care Bangalore solutions for every budget, because everyone
                        deserves quality health care.</li>
                </ul>

                <div class="s_image">
                    <img src="../../assets/ent-doctor-operating-ear-at-rashtrotthana-hospital-bangalore.jpg" alt="">
                </div>

            </div>
        </div>
    </div>

    <div style="margin: 40px 0;" class="para_image container-padding container-margin">

        <div class="para_image">
            <div class="s_content">
                <div class="s_subheadings">Solutions for all ENT problems</div>

                <div class="para_image">

                    <ul>
                        <li class="s_para"><b>Ear issues</b>: Infections, noise in ear, hearing loss</li>
                        <li class="s_para"><b>Nasal conditions</b>: Chronic congestion, sinus headaches, nasal polyps
                        </li>
                        <li class="s_para"><b>Throat problems</b>: Painful sore throats, chronic cough, voice changes
                        </li>
                        <li class="s_para"><b>Balance disorders</b>: Vertigo, dizziness, unsteadiness</li>
                        <li class="s_para"><b>Other ENT complications</b>: Salivary gland stones, head and neck tumors
                        </li>
                    </ul>

                    <div class="s_image">
                        <img src="../../assets/ent-doctor-treating-throat-infection-at-rashtrotthana-hospital.jpg"
                            alt="">
                        <img src="../../assets/ent-doctor-treating-the-ear-pain-for-kid-at-rashtrotthana-hospital-bangalore.jpg"
                            alt="ENT doctor treating the ear pain for kid at rashtrotthana hospital bangalore">
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
    </div>

    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>