<div class="main_container">
    <div class="gm_poster">
            <h2 class="o_heading">Oncology</h2>
            <P class="o_info">Leading the way with 15+ specialties in modern medicine.</P>
    </div>
    <!-- common box or container for menu and content, "dispaly: flex" -->
    <div class="menu_n_content"> 
        <!-- menu -->
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">more Specialties</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/specialities/internal-medicine-hospital-in-bangalore-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Internal medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/specialities/best-general-surgery-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">General Surgery</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/specialities/best-obstetrics-and-gynecologist-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">Obstetrics & Gynaecology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box"routerLink="/specialities/best-paediatric-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Paediatrics & Neonatology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box"routerLink="/specialities/best-nephrology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Nephrology">Nephrology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box"routerLink="/specialities/best-urology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">Urology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box"routerLink="/specialities/best-orthopaedics-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Orthopedics</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-gastroenterology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Gastrosciences">Gastrosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-cardiology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Cardiac Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box"routerLink="/specialities/best-pulmonology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Pulmonology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box"routerLink="/specialities/best-eye-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Ophthalmology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-dental-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Dental Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box"routerLink="/specialities/best-ent-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">ENT</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-neurology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Neurosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box"routerLink="/specialities/best-endocrinology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Endocrinology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Psychiatry -->
                    <div class="menu_list_box"routerLink="/specialities/best-pshychiatry-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Psychiatry">Psychiatry</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Oncology -->
                    <div class="menu_list_box"routerLink="/specialities/best-oncology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Oncology">Oncology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Anesthesiology -->
                    <div class="menu_list_box"routerLink="/specialities/best-anesthesiology-hospital-in-india" routerLinkActive="active">
                        <p class="menu_list Anesthesiology">Anesthesiology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- emergency medicine -->
                    <div class="menu_list_box"routerLink="/specialities/best-emergency-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list emergency_medicine">Emergency Medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->
        <div class="o_container">
            <!-- general medicine heading -->
            <div class="o_h_general_medicine">
                <p class="o_h_heading">Oncology</p>
            </div>
            <!-- paragraph and image -->
            <div class="con_n_img">
                <div>
                    <p class="gm_content">The Oncology Department at Rashtrotthana Hospital is dedicated to providing holistic, patient-centered care for all types of cancers. Our experienced oncologists specialize in early detection, personalized treatment plans and long-term management to ensure each patient receives the best possible outcomes. With access to advanced diagnostic tools and therapeutic options, we support patients through every stage of their journey, from diagnosis to recovery. Emphasizing the importance of awareness and early screening, our team strives to catch and treat cancer at its most manageable stages, improving the quality of life for our patients and their families.                    </p>
                    <p class="gm_content">Our department actively engages in cancer awareness programs to educate the community on prevention and early diagnosis, helping to reduce the high incidence of late-stage cancers. Our comprehensive approach combines the latest treatments with empathetic care, making us a trusted destination for oncology in Bangalore. Whether through <a href="https://en.wikipedia.org/wiki/Chemotherapy">chemotherapy</a> , targeted therapy, or supportive care, we focus on the whole person, fostering hope and resilience. Book a consultation to learn about our cancer care services and take a proactive step toward health and wellness.</p>
                </div>
                <img src="../../assets/images/oncology_img.png" alt="oncology" class="gm_o_image">
            </div>
            <!-- Meet our medical team -->
            <div class="Meet_Medical_Team">
                <!-- heading -->
                <h2 classs="mmt_heading">Meet Our Medical Team</h2>
                <!-- doctor image and name -->
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-9.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Shekar Patil</p>
                        <p class="exp">Years of Experience: 35</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-53.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Pramod S. Chinder</p>
                        <p class="exp">Years of Experience: 20</p>
                    </div>
                </div>
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-4.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Rajeev Vijayakumar</p>
                        <p class="exp">Years of Experience: 20</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-23.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Ravi T</p>
                        <p class="exp">Years of Experience: 14</p>
                    </div>
                </div>
            </div>
            <!-- view all button -->
            <div class="view_all_btn_box">
                <app-arrow-btn></app-arrow-btn>
            </div>
        </div>
    </div>
</div>