.blog-post-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 18vh;
  }
  
  .post-image {
    width: 100%;
    /* max-height: 400px; */
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .post-content {
    padding: 20px;
  }
  
  .post-date {
    font-size: 1rem;
    color: #95a5a6;
  }
  
  .post-title {
    font-size: 2.5rem;
    color: #2c3e50;
    margin: 10px 0;
    line-height: 48px;
  }
  
  .post-body {
    font-size: 1rem;
    color: #000;
    line-height: 1.6;
  }
  
  .post-body h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-top: 20px;
  }

  .youtube{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }

  .responsive-iframe{
    width: 300px;
    overflow: hidden;
  }

  .responsive-iframe figure{
    width: 300px;
  }

  .post-body img{
    width: 400px;
    height: auto;
  }
.post-body table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #000;
}
table{
  border: 1px solid #000;
}

  @media only screen and (max-width:1200px){
    .blog-post-container {
      width: 90%;
    }
    .post-body img{
      width: 100%;
      height: 100%;
    }

  
}
@media only screen and (max-width:400px){
  .post-content{
    padding: 0;
  }
  .post-title{
    font-size: 1.5rem;
  }

  .post-body img{
    width: 300px;
    height: auto;
  }
}