<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/cardiology-banner.png" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/cardiology-banner-mobile.png" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best Cardiology Hospital in Bangalore - Advanced Heart Care Services</h1>
            <div class="para_image">
                <div class="s_content">
                    <div class="s_para">A strong heart is the foundation of good health, and at Rashtrotthana Hospital, we provide specialized care to ensure long-term heart wellness. Our team of experienced specialists offers advanced treatments for heart conditions, from routine checkups to complex surgical procedures. Whether managing blood pressure fluctuations, addressing chronic chest discomfort, or performing life-saving interventions, our team ensures personalized care with cutting-edge technology.</div>
                    <div class="s_para">For those experiencing persistent chest tightness, breathlessness, or irregular heartbeats, our expert evaluation helps in early diagnosis and treatment, reducing future risks. Our <a routerLink="/facility">facility</a> is well-equipped to handle a wide spectrum of heart-related concerns, ensuring timely intervention and effective management.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/heart-hospital-near-me.png" alt="Best Cardiologist in RR Nagar Bangalore">
                </div>
            </div>

            <div class="para_image container-margin row-reverse">
                <div class="s_image">
                    <img src="../../assets/best-cardiologist-in-rr-nagar-bangalore.png" alt="Best cardiologist in RR Nagar Bangalore">
                </div>
                <div class="s_content">
                    <h2 class="s_subheadings">State-of-the-Art Diagnostic & Preventive Care</h2>
                    <div class="s_para"><b>Advanced Screening for Early Detection</b></div>
                    <div class="s_para">Detecting heart conditions at an early stage is essential for effective management. At our hospital, we use advanced diagnostic tools such as:</div>
                    <ul>
                        <li class="s_para"><b>Echocardiogram (ECHO) - </b>Helps assess heart function and detect abnormalities.</li>
                        <li class="s-para"><b>Electrocardiogram (ECG) - </b>Identifies irregular heart rhythms and potential cardiac issues.</li>
                        <li class="s-para"><b>Treadmill Test (TMT) - </b>Evaluates heart response to physical activity, crucial for those with unexplained fatigue or recurring chest tightness.</li>
                        <li class="s-para"><b>Holter Monitoring - </b>Tracks heartbeat variations to detect abnormalities over an extended period.</li>
                    </ul>
                    <div class="s_para">A preventive approach, including regular heart checkups, is crucial in maintaining long-term cardiovascular health.</div>
                </div>
            </div>

            <div class="para_image container-margin">
                <div class="s_content">
                    <h2 style="text-align: center; margin-bottom: 20px;" class="s_subheadings">Minimally Invasive & Advanced Heart Treatments</h2>
                    <div class="s_para"><b>Interventional Procedures for Heart Health</b></div>
                    <div class="s_para">Our team specializes in precision-based treatments that offer effective results with minimal recovery time. Some of the key interventions include:</div>
                    <ul>
                        <li class="s_para"><b>Coronary Angioplasty & Stenting - </b>A vital procedure to restore blood flow in blocked arteries.</li>
                        <li class="s_para"><b>Pacemaker Implantation - </b>Designed to regulate irregular heartbeats and improve overall cardiac efficiency.</li>
                        <li class="s_para"><b>Valve Repair & Replacement - </b>Essential for maintaining proper blood circulation and preventing complications.</li>
                        <li class="s_para"><b>Peripheral Angioplasty - </b>Addresses circulation issues, enhancing vascular health.</li>
                    </ul>
                    <div class="s_para">These techniques are particularly beneficial for individuals experiencing frequent discomfort, fatigue or dizziness, ensuring that symptoms don’t escalate into serious conditions.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/heart-disease-diagnosis-and-treatment.png" alt="Heart Disease Diagnosis and Treatment">
                </div>
            </div> 
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Surgical Expertise for Complex Cardiac Conditions</h2>
            <div class="s_para"><b>Innovative & Life-Saving Surgical Solutions</b></div>
            <div class="s_para">For cases where surgical intervention is necessary, our hospital is equipped with modern operation theaters and advanced monitoring systems, ensuring safe and effective procedures. Some of the critical surgeries performed include:</div>
            <ul>
                <li class="s_para">Open-heart procedures for repairing intricate cardiovascular issues.</li>
                <li class="s_para">Valve replacement surgeries to restore normal heart function.</li>
                <li class="s_para">Specialized interventions for structural defects, improving overall circulation and oxygen supply.</li>
                <li class="s_para">Comprehensive post-surgical care, ensuring a smooth recovery process.</li>
            </ul>
            <div class="s_para">Whether it’s a planned procedure or an emergency intervention, our focus remains on enhancing patient outcomes through cutting-edge medical care.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/best-hospital-for-cardiology-in-bangalore.jpg" alt="Heart hospital near me">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/affordable-heart-surgery-in-bangalore.png" alt="Best Hospital for cardiology in Bangalore">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings">Emergency Cardiac Care & Management</h2>
            <div class="s_para"><b>Immediate Attention for Critical Heart Conditions</b></div>
            <div class="s_para">In emergency situations, such as sudden discomfort, acute pain, or unresponsive episodes, prompt action is crucial. Our emergency department is well-equipped to handle:</div>
            <ul>
                <li class="s_para">Severe discomfort in the chest area accompanied by shortness of breath.</li>
                <li class="s_para">Sudden pressure or heaviness, which could indicate a major underlying condition.</li>
                <li class="s_para">Episodes of unconsciousness or dizziness, requiring immediate medical assessment.</li>
                <li class="s_para">Cases of circulatory failure, where immediate intervention is required.</li>
            </ul>
            <div class="s_para">Our dedicated specialists ensure timely and effective care to stabilize patients and prevent long-term complications.</div>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Holistic Approach to Heart Health</h2>
            <div class="s_para"><b>Preventive <a href="https://en.wikipedia.org/wiki/Cardiology" target="_blank">Cardiology </a>& Lifestyle Guidance</b></div>
            <div class="s_para">Good heart health isn’t just about treatment - it’s about prevention. Our team emphasizes:</div>
            <ul>
                <li class="s_para">Regular monitoring of key health indicators to detect early warning signs.</li>
                <li class="s_para">Tailored plans for managing daily stress and improving overall well-being.</li>
                <li class="s_para">Guidance on maintaining balanced circulation and blood pressure levels.</li>
                <li class="s_para">Comprehensive follow-ups for long-term cardiac wellness.</li>
            </ul>
            <div class="s_para">By combining preventive strategies with expert medical intervention, we help individuals maintain optimal cardiovascular function throughout their lives.</div>
            <div class="s_para">At Rashtrotthana Hospital, we believe in offering accessible and high-quality <a href="https://en.wikipedia.org/wiki/Cardiovascular_disease" target="_blank"></a>cardiovascular treatments tailored to individual needs. With a focus on precision, innovation, and compassionate care, our team is dedicated to ensuring that every patient receives the best possible outcomes.</div>
            <div class="s_para">For consultations, expert advice or a detailed evaluation of your heart health, reach out to us today. Your well-being is our priority and we’re here to support you at every step of your journey.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/heart-attack-treatment-near-me.png" alt="Best Cardiologists for Heart Surgery Near Me">
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
        <!-- <div class="doctor-container">
            <div *ngFor="let doctor of doctors2">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div> -->
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para" [innerHTML]="faq.ans"></div>
        </div>
    </div>
</div>