<div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- KAYACHIKITSA (GENERAL MEDICINE) -->
        <div class="carousel-item active">
            <div class="con_5_content">
                <p class="content_head_txt">KAYACHIKITSA (GENERAL MEDICINE)</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Naimithika Rasayana - Disease specific Rejuvenation</li>
                    <li class="con_5_list_items">Vajikarana - Aphrodisiac Therapy</li>
                    <li class="con_5_list_items">Shamana Chikitsa - Internal medications</li>
                    <li class="con_5_list_items">Urjaskara - Immunity enhancement</li>
                </ul>
            </div>
        </div>
        <!-- PANCHAKARMA -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">PANCHAKARMA</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Vamana (Therapteutic Emesis)</li>
                    <li class="con_5_list_items">Virechana (Therapeutic purgation)</li>
                    <li class="con_5_list_items">Nasya (Nasal administration of medicated oils)</li>
                    <li class="con_5_list_items">Raktamoksha (Bloodletting)</li>
                    <li class="con_5_list_items">Urjaskara – Immunity enhancement</li>
                </ul>
            </div>
        </div>
        <!-- UPAKARMA -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">UPAKARMA</p>
                <div class="list_flex">
                    <ul class="kayachikitsa">
                        <li class="con_5_list_items">Abhyanga</li>
                        <li class="con_5_list_items">Bashpa/Nadi swedam</li>
                        <li class="con_5_list_items">Udwarthanam</li>
                        <li class="con_5_list_items">Sneha Pana</li>
                        <li class="con_5_list_items">Choorna pinda sweda</li>                    
                    </ul>
                    <ul class="kayachikitsa">
                        <li class="con_5_list_items">Jambeera Pinda swedam</li>
                        <li class="con_5_list_items">Patra pottali Swedam</li>
                        <li class="con_5_list_items">Shastika Shali Pinda Swedam</li>
                        <li class="con_5_list_items">Shiro Basthi</li>
                        <li class="con_5_list_items">Shiro Dhara</li>
                        <li class="con_5_list_items">Janu Basti/Kati Basti</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pre Natal Care -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">Pre Natal Care</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Yoni Pichu</li>
                    <li class="con_5_list_items">Anuvasana Basthi</li>
                    <li class="con_5_list_items">Yoni Dhoopanam</li>
                </ul>
            </div>
        </div>
        <!-- Post Natal Care -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">Post Natal Care</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Abhyanga</li>
                    <li class="con_5_list_items">Shiro Dhara</li>
                    <li class="con_5_list_items">Veshtanam</li>
                </ul>
            </div>
        </div>
         <!-- SHALYA TANTRA (Surgery) -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">SHALYA TANTRA (Surgery)</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Agni Karma (Cauterization)</li>
                    <li class="con_5_list_items">Kshara Sharma (Caustic Therapy)</li>
                    <li class="con_5_list_items">Jaluka (Leech Terapy)</li>
                    <li class="con_5_list_items">Sira Vyadhana (venesection)</li>
                </ul>
            </div>
        </div>
        <!-- SHALYA TANTRA (Eye & Ent) -->
        <div class="carousel-item">
            <div class="con_5_content">
                <p class="content_head_txt">SHALYA TANTRA (Eye & Ent)</p>
                <ul class="kayachikitsa">
                    <li class="con_5_list_items">Netra Tarpana</li>
                    <li class="con_5_list_items">Netra Seka</li>
                    <li class="con_5_list_items">Karna Purana</li>
                    <li class="con_5_list_items">Karna Dhupana</li>
                    <li class="con_5_list_items">Kavala / Gandusha</li>
                    <li class="con_5_list_items">DhoomaPana</li>
                </ul>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  