<div class="diabetes-page">
    <div class="diabetes">
        <div *ngIf="currentPackage" class="banner-part"
            [ngStyle]="{'background-image': 'url(' + currentPackage.heroImg + ')'}">

            <div class="banner-fade"></div>

            <div class="banner-content">
                <h1 class="banner-heading">
                    {{ currentPackage.heading }}
                </h1>

                <p class="banner-para">
                    {{ currentPackage.heroText }}
                </p>

                <button class="banner-btn" (click)="openBookingForm()">
                    Book an Appointment
                </button>
            </div>
        </div>



        <div class="part-1">
            <div class="">
                <div class="">
                    <div class="price">
                        Rs.{{currentPackage?.price}}/-
                        <span>T&C Apply*</span>
                    </div>
                </div>
                <div class="tagline-part">
                    <div class="tagline">{{currentPackage?.tagLine}}</div>
                    <div class="flex-column">
                        <div class="tagline1">{{currentPackage?.tagLine1}}</div>
                        <div class="tagline1">{{currentPackage?.tagLine2}}</div>
                        <div class="tagline1">{{currentPackage?.tagLine3}}</div>
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="details-img">
                    <img [src]="currentPackage?.detailsImg" alt="Medical illustration" />
                </div>
                <div class="herobadges">
                    <div class="badgeitem" *ngFor="let card of currentPackage?.badge; let last = last">
                        <div class="badgetitle">{{ card.title }}</div>
                        <div class="badgesub">{{ card.para }}</div>

                        <div class="br" *ngIf="!last"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="journey-part">
            <div class="">
                <div class="section-header">
                    <h2>{{currentPackage?.stpestitle}}</h2>
                    <p>{{currentPackage?.stpedpara}}</p>
                </div>

                <div class="steps">
                    <div class="step-card" *ngFor="let step of currentPackage.steps">
                        <!-- <div class="step-number">{{ i + 1 }}</div> -->
                        <img [src]="step.stepImg" [alt]="">
                        <div class="stepPara">{{step.stepPara}}</div>
                    </div>
                </div>
            </div>

            <!-- <div class="form"></div> -->

        </div>

        <div class="includes-part">
            <div class="">
                <div class="section-heading">{{currentPackage.sectionHeading}}</div>
                <div class="section-para">{{currentPackage.sectionPara}}</div>
            </div>

            <div class="card-layout">


                <div class="card-tabs">
                    <div class="tab" *ngFor="let section of currentPackage?.sections; let i = index"
                        [class.active]="activeIndex === i" (click)="activeIndex = i">

                        <img class="tab-icon" [src]="section.icon" [alt]="section.title" />

                        <span class="tab-title">
                            {{ section.title }}
                        </span>

                    </div>

                </div>


                <div class="card-content">
                    <h3>{{ currentPackage?.sections[activeIndex].title }}</h3>
                    <div class="flex">
                        <div class="badge">
                            {{ currentPackage?.sections[activeIndex].badge }}
                        </div>
                        <div class="subtitle">{{ currentPackage?.sections[activeIndex].subtitle }}</div>
                    </div>
                    <div class="br"></div>

                    <ul class="items">
                        <li *ngFor="let item of currentPackage?.sections[activeIndex].items">
                            {{ item }}
                        </li>
                    </ul>
                </div>

            </div>


        </div>

        <!-- doctors section -->

        <div class="doctor-section">
            <div class="section-header">
                <h2>Meet Our Doctors</h2>
                <p>
                    Get to know the expert doctors committed to your long-term health and wellbeing.
                </p>
            </div>


            <div class="carousel-container">
                <button class="nav-btn prev" (click)="prevSlide()" aria-label="Previous">
                    <span class="material-icons">chevron_left</span>
                </button>

                <div class="carousel-wrapper">
                    <div class="carousel-track" [style.transform]="getTransform()">
                        <div class="doctor-card" *ngFor="let d of currentPackage?.doctors">
                            <div class="doctor-image">
                                <img [src]="d.doctor_image" [alt]="d.docalt" />
                            </div>

                            <div class="doctor-content">
                                <h3 class="doctor-name">{{ d.doctor_name }}</h3>
                                <p class="doctor-exp">{{ d.experience }} Years Experience</p>

                                <a [routerLink]="['/doctor', d.slug]" class="doctor-btn">
                                    View Profile →
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <button class="nav-btn next" (click)="nextSlide()" aria-label="Next">
                    <span class="material-icons">chevron_right</span>
                </button>
            </div>



        </div>

        <!-- CTA Banner -->
        <section class="cta-banner">
            <div class="cta-inner container">
                <div>
                    <h2>{{currentPackage.ctaTitle}}</h2>
                    <p>
                        {{currentPackage.catpara}}
                    </p>
                </div>
                <button class="btn btn-light" (click)="openBookingForm()">Book Appointment</button>
            </div>
        </section>

        <!-- FAQ -->
        <section class="faq container">
            <div class="section-header">
                <h2>Frequently asked questions</h2>
            </div>

            <div class="faq-list">
                <details *ngFor="let f of currentPackage.faqs" class="faq-item">
                    <summary>{{ f.q }}</summary>
                    <p>{{ f.a }}</p>
                </details>
            </div>
        </section>

    </div>





    <div class="modal-overlay" *ngIf="showBookingForm">
        <app-package-form [selectedPackage]="currentPackage" (closeForm)="closeBookingForm()">
        </app-package-form>
    </div>


</div>