
<div *ngIf="!isChildRouteActive()">
    <div>
        <img class="cover-image" src="../../assets/Twitter Cover 1.png">
    </div>
<div class="specialities">
    <div class="section-1">
        <div class="card-1">
            <div class="image-1 image">

            </div>
            <div class="content special">
                <div class="special-heading">
                    modern Medicine
                </div>
                <div class="special-para">Leading the way with 15+ specialties in modern medicine.</div>
                <div (click)="modernMedicine()" class="button">
                    <div class="show-more">
                        Show More</div>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="image-2 image">
            </div>
            <div class="content special">
                <div class="special-heading">
                    Ayurveda
                </div>
                <div class="special-para"> Holistic treatment, preserving body harmony while addressing specific issues.
                </div>
                <div
                    class="button res-button">
                    <div (click)="ayurveda()"
                         class="show-more">
                        Show More</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1">
        <div class="card-1">
            <div class="image-3 image">
            </div>
            <div class="content special">
                <div class="special-heading">
                    Lifestyle
                </div>
                    <div class="special-para">Embrace <a style="text-decoration: none;" href="https://en.wikipedia.org/wiki/Natural_healing">natural healing</a> methods, tailored to your unique health needs.</div>
                    <div
                        class="button">
                        <div (click)="naturopathy()"
                            class="show-more">
                            Show More</div>
                    </div>
                </div>
            </div>
        <div class="card-1">
            <div class="image-4 image">
            </div>
            <div class="content special">
                <div class="special-heading">
                   Therapeutic yoga 
                </div>
                    <div class="special-para">Discover wellness through physical and mental balance with our expert guidance.
                    </div>
                    <div
                        class="button res-button">
                        <div (click)="yoga()"
                             class="show-more">
                            Show More</div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="section-1">
            <div class="card-1">
                <div class="image-5 image">
                </div>
                <div class="content special">
                    <div class="special-heading">
                        homeopathy
                    </div>
                    <div class="special-para">Tailored medicine based on individual traits, not just diagnosis.</div>
                    <div
                        class="button">
                        <div (click)="homeopathy()"
                             class="show-more">
                            Show More</div>
                    </div>
                </div>
            </div>
            <div class="card-1 research-centre">
                <div class="image-6 image">
                </div>
                <div class="content">
                    <div class="special-heading">
                        research centre
                    </div>
                    <div class="special-para para">The main objective is to set research directions, review project progress,
                        and
                        collaborate with national and international organizations.</div>
                    <div
                        class="button-1 res-button">
                        <div (click)="home()"
                             class="show-more">
                            Show More</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section-1">
        <div class="card-1">
            <div class="image">
                <img class="primary" src="../../assets/specialities-2.png">
                <img class="secondary" src="../../assets/speciality-ayurveda-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    Ayurveda
                </div>
                <div class="special-para">
                    Holistic treatment, preserving body harmony while addressing specific issues.
                </div>
                <div class="button"></div>
                    <div
                         class="show-more">
                        Show More</div>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="image">
                <img class="primary" src="../../assets/specialities-2.png">
                <img class="secondary" src="../../assets/speciality-ayurveda-hover.png">
            </div>
            <div class="content">
                <div class="special-heading">
                    Ayurveda
                </div>
                <div class="special-para">
                    Holistic treatment, preserving body harmony while addressing specific issues.
                </div>
                <div class="button"></div>
                    <div
                         class="show-more">
                        Show More</div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
  </div>
  <router-outlet></router-outlet>
  