<div class="main_container">
    <div class="gm_poster">
            <h2 class="o_heading">Endocrinology</h2>
            <P class="o_info">Leading the way with 15+ specialties in modern medicine.</P>
    </div>
    <!-- common box or container for menu and content, "dispaly: flex" -->
    <div class="menu_n_content"> 
        <!-- menu -->
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">more Specialties</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/specialities/internal-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Internal medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/specialities/best-general-surgery-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">General Surgery</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/specialities/best-obstetrics-and-gynecologist-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">Obstetrics & Gynaecology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box"routerLink="/specialities/best-paediatric-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Paediatrics & Neonatology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box"routerLink="/specialities/best-nephrology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Nephrology">Nephrology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box"routerLink="/specialities/best-urology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">Urology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box"routerLink="/specialities/best-orthopaedics-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Orthopedics</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-gastroenterology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Gastrosciences">Gastrosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-cardiology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Cardiac Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box"routerLink="/specialities/best-pulmonology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Pulmonology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box"routerLink="/specialities/best-eye-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Ophthalmology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-dental-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Dental Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box"routerLink="/specialities/best-ent-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">ENT</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-neurology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Neurosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box"routerLink="/specialities/best-endocrinology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Endocrinology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Psychiatry -->
                    <div class="menu_list_box"routerLink="/specialities/best-pshychiatry-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Psychiatry">Psychiatry</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Oncology -->
                    <div class="menu_list_box"routerLink="/specialities/best-oncology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Oncology">Oncology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Anesthesiology -->
                    <div class="menu_list_box"routerLink="/specialities/best-anesthesiology-hospital-in-india" routerLinkActive="active">
                        <p class="menu_list Anesthesiology">Anesthesiology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- emergency medicine -->
                    <div class="menu_list_box"routerLink="/specialities/best-emergency-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list emergency_medicine">Emergency Medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->
        <div class="o_container">
            <!-- general medicine heading -->
            <div class="o_h_general_medicine">
                <p class="o_h_heading">Endocrinology</p>
            </div>
            <!-- paragraph and image -->
            <div class="con_n_img">
                <div class="con_paragraph">               
                    <p class="gm_content">The Endocrinology Department at Rashtrotthana Hospital is dedicated to diagnosing and managing a comprehensive range of disorders related to the endocrine system, which regulates essential body functions through hormone production. Our team of highly skilled endocrinologists is experienced in treating both common and complex endocrine disorders, providing personalized care for conditions affecting growth, metabolism and physical development. Utilizing advanced diagnostic methods, our specialists can effectively evaluate and treat conditions such as<a href="https://en.wikipedia.org/wiki/Thyroid_disease">thyroid disorders</a>, diabetes, pituitary and adrenal gland abnormalities and parathyroid issues, ensuring optimal management and improved quality of life for our patients. With a focus on both adolescent and adult care, we are committed to delivering age-appropriate treatments tailored to each individual’s needs.                    </p>
                    <p class="gm_content">Our services cover a wide spectrum of conditions. We treat thyroid disorders, including hypothyroidism, hyperthyroidism and thyroid cancers, as well as Type 1 and Type 2 diabetes, offering comprehensive management plans to control blood sugar levels and prevent complications. The department also addresses hormone-related growth issues in children, metabolic concerns like childhood obesity, lipid disorders and bone and mineral disorders, which are essential for maintaining a healthy lifestyle. Our patient-centered approach ensures that individuals receive not only medical treatment but also dietary and lifestyle guidance to support long-term wellness. Regular screenings and follow-ups allow our team to closely monitor each patient's progress, making adjustments as necessary to enhance outcomes and quality of life.                    </p>
                    <!-- <ul class="gm_content">
                        <li class="list_points">Thyroid disorders (including carcinoma/tumors, hyperthyroidism and hypothyroidism)</li>
                        <li class="list_points">Pituitary disorders (including hypopituitarism)</li>
                        <li class="list_points">Adrenal gland disorders</li>
                        <li class="list_points">Diabetes (Type 1 and Type 2)</li>
                        <li class="list_points">Childhood obesity</li>
                        <li class="list_points">Parathyroid issues</li>
                        <li class="list_points">Bone and mineral disorders </li>
                        <li class="list_points">Lipid disorder</li>
                    </ul> -->
                </div>      
            
                <img src="../../assets/images/Endocrinology.png" alt="General Medicine" class="gm_o_image">
            </div>
            <!-- Meet our medical team -->
            <!-- <div class="Meet_Medical_Team">
                
                <h2 classs="mmt_heading">Meet Our Medical Team</h2>
          
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/" alt="">   
                        <p class="doc_name"></p>
                    </div>
                </div>
            </div> -->
            <!-- view all button -->
            <!-- <div class="view_all_btn_box">
                <app-arrow-btn></app-arrow-btn>
            </div> -->
        </div>
    </div>
</div>