<div class="root-container">

    <div class="speciality-header">
        <img src="../../assets/endocrinology-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/endocrinology-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2  s_container container_margin container-padding">

        <div class="content">
            <h1 class="s_h1">Endocrinology</h1>

            <p class="s_para para-margin">The Endocrinology Department at Rashtrotthana Hospital is dedicated to diagnosing and managing a comprehensive range of disorders related to the endocrine system, which regulates essential body functions through hormone production. Our team of highly skilled endocrinologists is experienced in treating both common and complex endocrine disorders, providing personalized care for conditions affecting growth, metabolism and physical development. Utilizing advanced diagnostic methods, our specialists can effectively evaluate and treat conditions such as thyroid disorders, diabetes, pituitary and adrenal gland abnormalities and parathyroid issues, ensuring optimal management and improved quality of life for our patients. With a focus on both adolescent and adult care, we are committed to delivering age-appropriate treatments tailored to each individual’s needs.</p>
            <p class="s_para para-margin">Our services cover a wide spectrum of conditions. We treat thyroid disorders, including hypothyroidism, hyperthyroidism and thyroid cancers, as well as Type 1 and Type 2 diabetes, offering comprehensive management plans to control blood sugar levels and prevent complications. The department also addresses hormone-related growth issues in children, metabolic concerns like childhood obesity, lipid disorders and bone and mineral disorders, which are essential for maintaining a healthy lifestyle. Our patient-centered approach ensures that individuals receive not only medical treatment but also dietary and lifestyle guidance to support long-term wellness. Regular screenings and follow-ups allow our team to closely monitor each patient's progress, making adjustments as necessary to enhance outcomes and quality of life.</p>
        </div>

        <div class="form">
            <app-speciality-form [doctor]="formDoctors" />
        </div>
    </div>


    <div class="container-2" style="margin-bottom: 50px;">
        <div class="container container_margin">
            <app-speciality-carousel />
        </div>
    </div>
</div>