<div class="root-container">
   <div class="speciality-header">
        <img src="../../assets/psychiatry-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/psychiatry-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>  

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best Mental Health Hospital in RR Nagar Bangalore</h1>
            <div class="para_image">
                <div class="s_content">
                    <h2 class="s_subheadings">Compassionate Care at the Department of Psychiatry – Rashtrotthana Hospital</h2>
                    <div class="s_para">At Rashtrotthana Hospital & Research Centre is recognized as the best mental health hospital in RR Nagar Bangalore, providing confidential, compassionate, and comprehensive psychiatric care. Our Department of Psychiatry supports patients of all ages in addressing emotional and psychological concerns with expert treatment that blends medical, therapeutic, and lifestyle-based approaches.</div>
                    <div class="s_para">We understand that mental well-being is essential to overall health, and we’re committed to helping patients overcome conditions like depression, anxiety, mood instability, overthinking, emotional burnout, and sleep disorders. As a trusted hospital for psychiatric consultation in RR Nagar, we offer personalized care plans that support long-term healing and emotional stability.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-psychiatry-hospital-in-rr-nagar-bangalore.png" alt="Best Psychiatry Hospital in RR Nagar Bangalore">
                </div>
            </div>

            <div class="para_image container-margin">
                <div class="s_content">
                    <h2 class="s_subheadings">Comprehensive Psychiatry Services</h2>
        
                    <div class="para_image container-margin row-reverse">
                        <div class="s_image">
                            <img src="../../assets/mental-health-hospital-in-rr-nagar.png" alt="Psychiatry treatment Rajarajeshwari nagar Bangalore">
                        </div>
                        <div class="s_content">
                            <div class="s_para"><b>Adult Psychiatry Services</b></div>
                            <div class="s_para">Our psychiatry team provides structured care for adults, including:</div>
                            <ul>
                                <li class="s_para">Treatment for depression and anxiety through a combination of therapy and medication/li>
                                <li class="s_para">Support for mood swings, stress, anger issues, and sleep disturbances</li>
                                <li class="s_para">Management of chronic psychiatric conditions like bipolar disorder, OCD, and schizophrenia</li>
                            </ul>
                            <div class="s_para">We are proud to have an experienced mental health doctor in RR Nagar who offers evidence-based therapies and personalized medication plans, ensuring effective treatment in a supportive environment.</div>
                        </div>
                    </div>
        
                    <div class="para_image container-margin">
                        <div class="s_content">
                            <div class="s_para"><b>Child and Adolescent Psychiatry</b></div>
                            <div class="s_para">Mental health support at a young age is critical. We assist children and teens with:</div>
                            <ul>
                                <li class="s_para">Counseling for stress, sleep issues, academic pressure, and social media anxiety</li>
                                <li class="s_para">Therapy for emotional regulation, mood changes, and overthinking</li>
                                <li class="s_para">Parental guidance and group therapy to build emotional strength</li>
                            </ul>
                            <div class="s_para">Families trust our department because we are recognized as the Best Mental Health Hospital in RR Nagar Bangalore for youth-focused emotional care.</div>
                        </div>
                        <div class="s_image">
                            <img src="../../assets/psychiatry-treatment-rajarajeshwari-nagar-bangalore.png" alt="Mental Health Hospital Near me | RR Nagar Bangalore">
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>

            
    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/department-of-psychiatry.png" alt="best psychiatrist in RR Nagar Bangalore">
        </div>
        <div class="s_content">
            <div class="s_para"><b>Geriatric Psychiatry</b></div>
            <div class="s_para">Our specialists provide dignified, personalized care for older adults facing:</div>
            <ul>
                <li class="s_para">Depression, loneliness, or emotional withdrawal</li>
                <li class="s_para">Sleep-related concerns and age-associated stress</li>
                <li class="s_para">Family support and education for elderly mental health needs</li>
            </ul>
            <div class="s_para">We are known for offering affordable psychiatry treatment in RR Nagar Bangalore, with dedicated programs for geriatric wellness.</div>
        </div>
    </div>


    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Conditions We Treat at the Department of Psychiatry</h2>
            <div class="s_para">We manage a wide range of psychiatric conditions with compassion and clinical accuracy, including:</div>
            <ul>
                <li class="s_para">Anxiety disorders: Excessive worry, restlessness, tension</li>
                <li class="s_para">Depression: Persistent sadness, lack of motivation, sleep disruption</li>
                <li class="s_para">Stress-related issues: Emotional burnout, overthinking, mood breakdowns</li>
                <li class="s_para">Sleep disorders: Insomnia, fragmented sleep, nightmares</li>
                <li class="s_para">Mood disorders: Intense mood swings, anger, emotional lability</li>
                <li class="s_para">Post-Traumatic Stress Disorder (PTSD): Flashbacks, guilt, irritability</li>
                <li class="s_para">Obsessive-Compulsive Disorder (OCD): Intrusive thoughts, compulsive behaviors</li>
                <li class="s_para">Schizophrenia and psychotic disorders: Hallucinations, social withdrawal</li>
                <li class="s_para">Addiction and behavioral disturbances</li>
                <li class="s_para">Emotional crises and suicidal ideation</li>
            </ul>
            <div class="s_para">Each patient receives a customized treatment plan involving psychotherapy, medication (if needed), and family support sessions. With ongoing follow-up, our <a href="https://en.wikipedia.org/wiki/Psychiatrist" target="_blank">psychiatrists</a> ensure lasting improvement in mental wellness.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/psychiatric-consultation-near-me.png" alt="psychiatrist near me">
            <img src="../../assets/affordable-psychiatry-treatment-in-rr-nagar-bangalore.png" alt="psychiatrist near me">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/best-psychiatrist-in-rr-nagar-for-depression-and-anxiety.png" alt="best psychiatrist in RR Nagar for depression and anxiety">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings">Why Choose Rashtrotthana Hospital’s Psychiatry Department?</h2>
            <ul>
                <li class="s_para">Recognized as the best psychiatrist in RR Nagar for <a href="https://en.wikipedia.org/wiki/Depression"  target="_blank">depression</a> and <a href="https://www.rashtrotthanahospital.com/blog/how-stress-and-anxiety-can-trigger-vertigo-episodes" target="_blank">anxiety</a></li>
                <li class="s_para">Experienced specialists offering affordable psychiatry treatment in RR Nagar Bangalore</li>
                <li class="s_para">End-to-end mental health services covering all age groups</li>
                <li class="s_para">Therapy-integrated programs with lifestyle, family, and emotional support</li>
                <li class="s_para">Confidential consultations in a calm, professional environment</li>
                <li class="s_para">Known for providing the best mental health care in Rajarajeshwari Nagar</li>
            </ul>
            <div class="s_para">Whether it’s your first appointment or continued care, Rashtrotthana Hospital remains a trusted hospital for psychiatric consultation in RR Nagar, focused on your well-being every step of the way.</div>
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>