<app-navbar></app-navbar>
<!-- <app-popup-image></app-popup-image> -->

<router-outlet></router-outlet>

<!-- <app-doctor-details></app-doctor-details> -->
<!-- <app-doctor-appointment></app-doctor-appointment> -->
<!-- <app-advisory-carousel></app-advisory-carousel> -->
<!-- <app-committee-carousel></app-committee-carousel> -->
<p-toast />
<app-chatbot class="chatbot" [closeChatBot]="closeChatBot"></app-chatbot>
<div class="chatbot_logo"(click)="toggleChatBot()">
    <img src="../assets/logo.svg" alt="">
</div>
<app-footer>


