<div class="root-container">
    <!-- <div class="speciality-header">
        <app-speciality-header main_heading="ENT" />
    </div> -->

    <div class="speciality-header">
        <img src="../../assets/vasular-surgeries-banner.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/vasular-surgeries-banner-mobile.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Advanced Vascular Surgery & Endovascular Care in Bangalore</h1>
            <div class="para_image row-reverse">
                <div class="s_image">
                    <img src="../../assets/vascular-anatomy-treatment-rashtrotthana-hospital-bangalore.png"
                        alt="Best ENT Specialists Near Me">
                </div>
                <div class="s_content">
                    <p class="s_para">Your circulatory system does more than just pump blood - it keeps every part of
                        your body alive and functioning. When problems occur in your arteries, veins, or lymphatic
                        system, expert care from an experienced vascular surgeon becomes essential. That’s where our
                        Vascular and Endovascular Department steps in - blending advanced technology with compassionate
                        care.</p>
                    <p class="s_para">Led by Dr. Vivekanand, Consultant Vascular Surgeon with over 25 years of
                        experience, the department offers comprehensive vascular care, from early diagnosis to advanced
                        surgical intervention. Whether you're managing chronic varicose veins or facing critical
                        conditions like peripheral artery disease (PAD) or aortic aneurysms, the right care can make all
                        the difference.</p>
                </div>
            </div>

            <div class="contents container-margin">
                <h2 class="s_subheadings">What Is Vascular Disease?</h2>
                <div class="para_image row-reverse">
                    <div class="s_content">
                        <p class="s_para">Vascular disease refers to any condition affecting your blood vessels -
                            arteries, veins, capillaries - and the lymphatic system. These conditions can disrupt blood
                            flow, lead to complications like strokes or limb loss, and reduce your quality of life.</p>

                        <h3 class="ss_subheading">Conditions We Commonly Treat:</h3>
                        <div class="s_content">
                            <ul class="grid">
                                <li class="s_para">Peripheral artery disease (PAD)</li>
                                <li class="s_para">Carotid artery narrowing</li>
                                <li class="s_para">Aortic aneurysms</li>
                                <li class="s_para">Varicose and spider veins</li>
                                <li class="s_para">Deep vein thrombosis (DVT)</li>
                                <li class="s_para">Chronic venous insufficiency</li>
                                <li class="s_para">Diabetic foot and vascular wounds</li>
                                <li class="s_para">Lymphatic disorders</li>
                            </ul>
                        </div>
                    </div>
                    <div class="s_image">
                        <img src="../../assets/red-blood-cells-vascular-health-bangalore.jpg"
                            alt="Best ENT Specialists Near Me">
                    </div>
                </div>
            </div>

            <div class="contents container-margin">
                <div class="para_image">
                    <div class="s_content">
                        <h2 class="s_subheadings">What Are the Types of Vascular Surgery?</h2>
                        <p class="s_para">Vascular surgery includes a wide range of procedures - from minimally invasive
                            techniques to complex open surgeries - aimed at restoring healthy blood flow and preventing
                            complications. Common types of vascular surgeries include:</p>
                    </div>
                </div>
            </div>

            <div class="contents">

                <div class="para_image row-reverse">
                    <div class="s_image">
                        <img src="../../assets/vascular-specialist-artery-care-rashtrotthana-hospital.jpeg"
                            alt="Throat Specialist in Rajarajeshwari Nagar Bangalore">
                    </div>
                    <div class="s_content">
                        <h3 class="ss_subheading">Aneurysm Repair</h3>
                        <ul>
                            <li class="s_para"><b>Open Aneurysm Surgery</b>: Involves making a large incision to replace
                                the
                                weakened section of the aorta with a synthetic graft.</li>
                            <li class="s_para"><b>Endovascular Aneurysm Repair (EVAR)</b>: A less invasive approach
                                using a
                                stent graft to reinforce the artery wall through small incisions.</li>
                        </ul>

                        <h3 class="ss_subheading">Peripheral Artery Disease (PAD) Treatments</h3>
                        <ul>
                            <li class="s_para"><b>Angioplasty and Stenting</b>: Involves inserting a balloon and stent
                                to widen
                                narrowed arteries and improve circulation</li>
                            <li class="s_para"><b>Atherectomy</b>: A catheter-based technique that removes plaque from
                                inside
                                the arteries.</li>
                            <li class="s_para"><b>Bypass Surgery</b>: Creates a new pathway around blocked arteries
                                using a
                                graft to reroute blood flow.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="contents container-padding container-margin">

        <div class="para_image row-reverse">
            <div class="s_image">
                <img src="../../assets/vascular-male-surgeon-operating-room-rashtrotthana-hospital-bangalore.jpg"
                    alt="">
            </div>
            <div class="s_content">
                <h3 class="ss_subheading">Carotid Artery Procedures</h3>
                <ul>
                    <li class="s_para"><b>Carotid Endarterectomy</b>: Surgical removal of plaque from the carotid
                        arteries to reduce the risk of stroke.</li>
                    <li class="s_para"><b>Carotid Angioplasty with Stenting</b>: A minimally invasive method to open
                        blocked carotid arteries using a stent.</li>
                </ul>

                <h3 class="ss_subheading">Venous Procedures</h3>
                <ul>
                    <li class="s_para"><b>Varicose Vein Removal</b>: Done using vein stripping or micro-incisions
                        (phlebectomy) to remove faulty veins.</li>
                    <li class="s_para"><b>Radiofrequency Ablation (RFA)</b>: Uses thermal energy to seal problematic
                        veins and redirect blood flow.</li>
                </ul>

                <h3 class="ss_subheading">Dialysis Access Surgery</h3>
                <p class="s_para">Creates arteriovenous (AV) fistulas or grafts to ensure reliable access for
                    hemodialysis in patients with advanced kidney disease.</p>
            </div>
        </div>
    </div>

    <div class="contents container-padding container-margin">
        <div class="para_image">
            <div class="s_content">
                <h2 class="s_subheadings">Are There Risks Associated with Vascular Surgery?</h2>
                <p class="s_para">As with any surgical procedure, vascular surgery carries potential risks, which may
                    include:</p>

                <div class="s_content">
                    <ul class="grid">
                        <li class="s_para">Bleeding or bruising</li>
                        <li class="s_para">Infection</li>
                        <li class="s_para">Blood clots</li>
                        <li class="s_para">Damage to nearby tissues or nerves</li>
                        <li class="s_para">Reaction to anesthesia</li>
                        <li class="s_para">Rare but serious complications like stroke or heart attack</li>
                    </ul>
                </div>

                <p class="s_para">These risks vary depending on the patient’s health, the type of procedure, and the
                    complexity of the condition. However, with proper pre-operative evaluation and skilled surgical
                    care, complications are minimized.</p>
            </div>
            <div class="s_image">
                <img src="../../assets/vascular-surgeon-team-bangalore-rashtrotthana-hospital.jpg"
                    alt="Best ENT Specialists Near Me">
            </div>
        </div>
    </div>



    <div class="contents container-padding container-margin">
        <h2 class="s_subheadings">How Effective Is Vascular Surgery?</h2>
        <p class="s_para"></p>
        <div class="para_image row-reverse">
            <div class="s_image">
                <img src="../../assets/female-vascular-surgeon-rashtrotthana-hospital-bangalore.jpg" alt="">
            </div>
            <div class="s_content">

                <p class="s_para">Vascular surgery is often highly effective in restoring circulation and preventing
                    life-threatening events. Success rates are particularly strong in:</p>

                <div class="s_content">
                    <ul class="grid">
                        <li class="s_para">Preventing rupture of aneurysms</li>
                        <li class="s_para">Lowering stroke risk from carotid artery disease</li>
                        <li class="s_para">Relieving leg pain and improving walking distance in PAD patients</li>
                        <li class="s_para">Reducing symptoms and cosmetic issues in venous disorders</li>
                    </ul>
                </div>

                <p class="s_para">Long-term outcomes also depend on adopting a healthy lifestyle and following follow-up
                    care guidelines after surgery.</p>

            </div>
        </div>
    </div>

    <div style="margin: 40px 0;" class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Why Choose Rashtrotthana Hospital for Vascular Surgery in Bangalore?</h2>

            <div class="para_image">

                <div class="s_content">
                    <ul class="grid">
                        <li class="s_para">Advanced diagnostic and imaging facilities</li>
                        <li class="s_para">A complete range of vascular and endovascular treatments</li>
                        <li class="s_para">Expert team led by Dr. Vivekanand, one of Bangalore’s trusted vascular
                            surgeons</li>
                        <li class="s_para">Post-surgery rehabilitation and patient education</li>
                        <li class="s_para">Affordable care with transparent pricing</li>
                        <li class="s_para">Integrated diabetic wound and limb-saving services</li>
                    </ul>
                </div>

                <div class="s_image">
                    <img src="../../assets/female-vascular-surgeon-surgical-team-rashtrotthana-hospital-bangalore.jpg"
                        alt="">
                </div>

            </div>
        </div>
    </div>

    <div style="margin: 40px 0;" class="para_image container-padding container-margin">

        <div class="para_image">
            <div class="s_content">
                <div class="s_subheadings">Conclusion</div>

                <div class="para_image">
                    <p class="s_para">Your circulatory system plays a vital role in your overall health - and vascular
                        surgery offers life-saving and life-enhancing solutions when conservative treatments fall short.
                        From preventing strokes to preserving limbs in diabetic patients, timely intervention can make a
                        lasting difference. If you’re experiencing signs of vascular disease or managing chronic
                        conditions like PAD, varicose veins or aneurysms, it’s important to consult a vascular
                        specialist early.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="form-container container-padding">
        <!-- <div class="form-image">
            <img src="../../assets/sunday.jpeg" alt="">
        </div> -->
        <div class="form">
            <app-speciality-form [doctor]="formDoctors" />
        </div>
    </div>

    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
    </div>



    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>