<div class="root-container">

    <!-- hero section -->
    <div class="heroSection">
        <div class="content">
            <div class="docname marginLeft">{{filterdDoctor.name}}</div>
            <div class="qualification marginLeft">{{filterdDoctor.qualification}}</div>
            <div class="department marginLeft">{{filterdDoctor.department}}</div>
            <div class="experience marginLeft">Years of Experience : {{filterdDoctor.experience}}</div>
        </div>
        <div class="image">
            <img src="../../assets/doc-page-banner.png" alt="" class="desktop_bg">
            <img src="../../assets/doc_page_banner_mobile.png" alt="" class="mobileBg">
            <img src="../../assets/new-doctor-page-tab-size.png" alt="" class="tabsize">
        </div>
        <div class="doctor_image">
            <div class="image_wrapper">
                <img [src]="filterdDoctor.image" [alt]="filterdDoctor.alt">
            </div>
        </div>
        <div class="appointment_button">
            <button><span class="btn_text">Book an Appointment</span><span class="arrow"><i
                        class="fa-solid fa-angle-right"></i></span></button>
        </div>
    </div>

    <!-- profile content -->

    <div class="profile_content">
        <div class="briefProfile">
            <div class="profileHeading">
                <img src="../../assets/interest.png" alt="">
                <span>Brief Profile</span>
            </div>
            <div class="briefProfilePara">{{filterdDoctor.briefProfile}}</div>
        </div>
        <div class="areaOfExpertise">
            <div class="profileHeading">
                <img src="../../assets/benefit.png" alt="">
                <span>Areas of Expertise</span>
            </div>

            <div class="list-wrapper">
                    <div class="list1" *ngIf="filterdDoctor.areaOfExpertise1">
                        <div class="lists" *ngFor="let expert of filterdDoctor.areaOfExpertise1">
                            <img src="../../assets/list.png" alt="">
                            <div class="listItem">{{expert}}</div>
                        </div>
                    </div>
                    <div class="list1" *ngIf="filterdDoctor.areaOfExpertise2">
                        <div class="lists" *ngFor="let expert of filterdDoctor.areaOfExpertise2">
                            <img src="../../assets/list.png" alt="">
                            <div class="listItem">{{expert}}</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- form -->\

    <div class="form">
        <div class="formWrapper">
            <div class="formHeading">Book an Appointment for Consultation</div>

            <form action="">

                <div class="row-1">
                    <!-- appointment date -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-date.svg" alt=""><span>Appointment
                                Date</span></div>
                        <!-- <input type="text" placeholder="Choose a date"> -->
                        <p-calendar styleClass="date" [(ngModel)]="date" [minDate]="minDate" [iconDisplay]="'input'"
                            placeholder="Choose a Date" [showIcon]="true" inputId="icondisplay"
                            formControlName="date_appointment" [disabledDays]="disabledDays"
                            (onSelect)="onDateChange($event)">
                            <ng-template pTemplate="date" let-date>
                                <span>
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </p-calendar>
                    </div>

                    <!-- Appointment Time -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-date.svg" alt=""><span>Appointment
                                Time</span></div>
                        <!-- <input type="text" placeholder="Choose a time"> -->
                        <select name="mySelect" id="mySelect" required>
                            <option value="" selected disabled hidden class="placeholder-option">Choose an option...
                            </option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>

                </div>

                <div class="row-1">
                    <!-- appointment date -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-name.svg" alt=""><span>First Name</span>
                        </div>
                        <input type="text" placeholder="Frist name">
                    </div>

                    <!-- Appointment Time -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-name.svg" alt=""><span>Last Name</span>
                        </div>
                        <input type="text" placeholder="Last name">
                    </div>

                </div>

                <div class="row-1">
                    <!-- appointment date -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-mail.svg" alt=""><span>Email</span>
                        </div>
                        <input type="text" placeholder="Enter email">
                    </div>

                    <!-- Appointment Time -->
                    <div class="inputField">
                        <div class="heading"><img src="../../assets/appointment-call.svg" alt=""><span>Contact
                                Number</span></div>
                        <input type="text" placeholder="Enter number">
                    </div>

                </div>

                <div class="textbox">
                    <textarea placeholder="Your Message..."></textarea>
                </div>

            </form>
        </div>
    </div>

</div>