.root-container {
    margin-top: 120px;
    background: #FBFFF5;
}

.content {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    z-index: 2;
    bottom: 160px;
    right: 90px;
}

.flex {
    display: flex;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
}

.flex1 {
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 30px;
    background: #008080;
    width: 1124px;
    height: 324px;
    gap: 30px;
}

.experience-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-box img {
    flex-shrink: 0;
    aspect-ratio: 1/1;
    display: flex;
    width: 70px;
    height: 70px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #FFF;
}

.stat-box p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.stat-box h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.docname {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.qualification {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.6%;
}

.department {
    display: flex;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.30);
    width: fit-content;
    margin-top: 20px;
}

.experience-card {
    z-index: 1;
}

.experience {
    color: #1E0B9B;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1%;
}

.marginLeft {
    margin-left: 16%;
}

.image {
    position: absolute;
    top: 110px;
}

.image .desktop_bg {
    width: 100vw;
    height: 600px;
}

.doctor_image {
    width: 100%;
    height: 600px;
    display: flex;
    /* justify-content: end; */
    /* align-items: end; */
    /* position: relative; */
    z-index: 2;
}

.expertise-title {
    color: #008080;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.image_wrapper {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

.image_wrapper img {
    width: 535px;
    height: auto;
    object-fit: cover;
}

.mobileBg {
    display: none;
}

.appointment_button {
    position: relative;
    bottom: 150px;
    z-index: 10;
    width: 100%;
    overflow-x: hidden;
}

.appointment_button button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 5px 8px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%);
    box-shadow: 3px 4px 15px 0px rgba(63, 176, 206, 0.65);
    cursor: pointer;
    margin-left: 8%;
}

.book_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.book_button button:disabled {
    /* background: linear-gradient(90deg, #b0bcc6 0%, #96e6e6 100%) !important; */
    box-shadow: none !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}

.book_button button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 71px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #013243;
    box-shadow: 3px 4px 15px rgba(63, 176, 206, 0.65);
    cursor: pointer;
    /* margin-left: 8%; */
    width: 100%;
    justify-content: center;
}

.btn_text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 100% */
}

.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.28);
}

.back_button a {
    width: 100px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 12px;
    text-decoration: none;
    position: relative;
    z-index: 20;
    top: 20px;
    left: 10px;
    background-color: #008080;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #FFF;

    border-radius: 30px;
}

.profile_content {
    /* padding: 0 8%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.briefProfile,
.areaOfExpertise {
    width: 100%;
}

.briefProfile {
    padding: 0 8%;
}

.areaOfExpertise {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg,
            #F4FDFF 0%,
            #DDF6FB 50%,
            #C9F0F7 100%);
    padding: 30px;
}

.profileHeading {
    color: #032977;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.briefProfilePara {
    margin-top: 30px;
    color: #0E3672;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 180% */
}

.profileHeading img {
    width: 35px;
    height: 35px;
}

.img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 31px;
    background: #032977;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

}

.lists {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
    display: flex;
    align-items: start;
}

.lists img {
    width: 24px;
    height: 24px;
}

.list1 {
    /* width: 100%; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.listItem {
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: linear-gradient(90deg, rgba(0, 128, 128, 0.74) 0%, rgba(136, 168, 0, 0.74) 100%);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}

.bottom-part {
    display: flex;
    gap: 30px;
    align-items: center;
}


/* FAQ SECTION */

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.faq-heading {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

/* TITLE */
.faq-title {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.1px;
}

/* GRID */
.faq-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 30px;
}

/* CARD */
.faq-card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.faq-card:hover {
    transform: translateY(-4px);
}

/* HEADER */
.faq-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.question {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #1f2d3d;
}

/* ARROW */
.arrow {
    font-size: 26px;
    color: #1aa3ff;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

/* BODY */
.faq-body {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    font-size: 15px;
    color: #6b7280;
    line-height: 1.6;
    margin-left: 40px;
    transition: max-height 0.4s ease, margin-top 0.4s ease;
}

.faq-card.active .faq-body {
    max-height: 300px;
    margin-top: 15px;
    margin-left: 40px;
}

.faq-para {
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.2px;
}


/* appointment form */

.form {
    padding: 4%;
}

.formWrapper {
    display: flex;
    width: 540px;
    height: auto;
    padding: 50px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 24px;
    background: #008080;
}

.formHeading {
    color: #FBCA51;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

form {
    width: 100%;
}

.row-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}

.inputField {
    width: 100%;
}

.inputField input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    height: 50px;
    padding: 0 10px;
    outline: none;
    border-radius: 0;
    margin-top: 10px;
    background: transparent;
}

.time {
    margin-bottom: 10px;
}

.formHeading {
    font-size: 40px;
}

.heading {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 88.889% */
}

.heading img {
    width: 24px;
    height: 24px;
}

textarea {
    width: 100%;
    margin-top: 30px;
    height: 130px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #FFFF;
    padding: 10px;
    background: transparent;

}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

::ng-deep .p-dropdown {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFF;
    border-radius: 0;
}


::ng-deep .p-dropdown.p-focus {
    outline: none;
    box-shadow: none;
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

::ng-deep .p-calendar {
    background: transparent;
    border: none !important;
    box-shadow: none !important;
}

::ng-deep .p-calendar .p-inputtext {
    background: transparent;
    border: none !important;
    border-bottom: 2px solid white !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: white;
    /* padding-left: 0; */
}


::ng-deep .p-calendar.p-focus .p-inputtext {
    border-bottom: 2px solid #00ffff !important;
}


::ng-deep .p-calendar .p-inputtext::placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input::placeholder,
textarea::placeholder,
input,
textarea,
.dummybava {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

select:invalid,
select option.placeholder-option {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

select:valid,
select option:not(.placeholder-option) {
    color: #000;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #000;
    border-radius: 4px;
    background: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 8px center;
    background-color: white;
    color: #666F77;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 99%;
    border: 1px solid #000;
    height: 50px;
    padding: 0 10px;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
}

select::-ms-expand {
    display: none;
}

:host ::ng-deep.date {
    width: 100%;
    border: 1px solid #000;
    height: 50px;
    border-radius: 6px;
    margin-top: 10px;

}

.p-inputtext::placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tabsize {
    display: none;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media(max-width:1024px) {
    .content {
        bottom: 100px;
        right: 90px;
    }

    .formWrapper {
        width: 100%;
    }
}

@media (max-width : 1200px) {
    .image_wrapper img {
        width: 390px;
    }

    .faq-grid {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        width: 100%;
    }

    .flex {
        margin-top: 24%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .flex1 {
        width: 100%;
    }
}

@media (max-width : 800px) {
    .root-container {
        margin-top: 110px;
    }

    .profile_content {
        flex-direction: column;
        gap: 50px;
    }

    .desktop_bg {
        width: 100%;
        height: 100%;
    }

    .flex1 {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .experience-card {
        flex-wrap: wrap;
    }

    .tabsize {
        display: block;
        width: 100vw;
        height: 510px;
    }

    .doctor_image {
        height: 510px;
    }

    /* .image{
        height: 700px;
    } */

    .image_wrapper {
        justify-content: start;
    }

    .image_wrapper img {
        width: 335px;
    }

    .docname {
        font-size: 24px;
    }

    .qualification {
        font-size: 18px;
    }

    .department {
        font-size: 16px;
    }

    .experience {
        font-size: 16px;
    }

    .marginLeft {
        margin-left: 8%;
    }

    .content {
        height: 510px;
        justify-content: flex-start;
        top: 140px;
    }

    .appointment_button button {
        margin-left: 4%;
    }

    .briefProfile,
    .areaOfExpertise {
        width: 100%;
    }

    .heading {
        font-size: 20px;
    }

    .formHeading {
        font-size: 32px;
    }

    .row-1 {
        flex-direction: column;
    }

    .inputField {
        width: 100%;
    }

    form {
        width: 100%;
    }

    input::placeholder,
    textarea::placeholder,
    input,
    textarea {
        font-size: 12px;
    }

    .bottom-part {
        flex-direction: column;
    }

}

@media (max-width : 768px) {

    .image_wrapper img {
        width: 310px;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .doctor-header {
        flex-direction: column;
        text-align: center;
    }

    .doctor-image {
        width: 120px;
        height: 120px;
    }

    .faq-section {
        padding: 30px 20px;
    }

}


@media (max-width : 700px) {

    .root-container {
        margin-top: 130px;
    }

    .content {
        position: relative;
        width: 100%;
        height: 165px;
        display: flex;
        align-items: center;
        right: 0;
        top: -40px;
    }

    .stat-box p {
        font-size: 12px;
    }

    .stat-box h2 {
        font-size: 40px;
    }

    .docname {
        font-size: 24px;
    }

    .qualification {
        font-size: 12px;
    }

    .department {
        font-size: 14px;
    }

    .experience {
        font-size: 14px;
    }

    .marginLeft {
        margin-left: 8%;
    }

    .tabsize {
        display: none;
    }

    .image {
        position: absolute;
    }

    .doctor_image {
        position: absolute;
        height: 241px;
    }

    .image_wrapper img {
        width: 210px;
        height: 218px;
        object-fit: cover;
        height: auto;
    }

    .desktop_bg {
        width: 100%;
        height: 100%;
    }

    .mobileBg {
        display: block;
        width: 100vw;
        height: 245px;
    }

    .image_wrapper {
        width: 55%;
        height: 241px;
    }

    .appointment_button {
        margin-top: 241px;
        bottom: 60px;
    }

    .profileHeading {
        font-size: 18px;
    }

    /* profile content */

    .briefProfilePara {
        font-size: 14px;
        line-height: 28px;
    }

    .lists {
        font-size: 12px;
    }

    .heading {
        font-size: 16px;
    }

    .formHeading {
        font-size: 24px;
    }

    input::placeholder,
    textarea::placeholder,
    input,
    textarea,
    select {
        font-size: 12px;
    }

    select:invalid,
    select option.placeholder-option {
        font-size: 12px;
    }


    .formWrapper {
        width: 100%;
    }
}

@media (max-width : 390px) {
    .image_wrapper {
        width: 65%;
    }
}