<div class="main-container">
    <div style="margin-top:17vh" >
        <img class="banner-image" src="../../assets/dietician-bg.png">
    </div>
    <div class="heading">
        Nutrition & Dietetics
    </div>
    <div class="facility">
        <div class="facility-content">
            <div class="heading-container">Nutrition & Dietetics</div>
            <div class="content-container">
                <div class="content">
                    At Rashtrotthana Hospital, our Nutrition & <a href="https://en.wikipedia.org/wiki/Dietitian">Dietetics</a> Department provides a full range of dietary services that are patient-centred and designed to promote long-term health. With a focus on disease management and preventive care, our dietitians work closely with patients to develop nutrition plans tailored to their specific health conditions, such as diabetes, heart disease and gastrointestinal disorders. Each plan is crafted to enhance recovery, support immune health and improve overall wellness
                <div class="side-heading">
                    Core Services:
                </div>
                <div>
                    <ul>
                    <li><b>Comprehensive Nutritional Assessments</b> for both inpatients and outpatients, ensuring dietary needs align with medical requirements.                    </li>
                    <li><b>Routine Reassessments</b> to adapt nutritional strategies to evolving patient needs.</li>
                    <li><b>Integrated Care</b>with healthcare teams, combining medical and nutritional support for a complete approach to health.                    </li>
                    <li><b>Personalized Diet Plans </b>designed to address specific health conditions, optimizing nutrition for patients at all stages of care.</li>
                    <li><b>Diet Counseling and Education</b> to empower patients with sustainable, healthy eating habits that support lifelong wellness.                    </li>
                </ul>
                <div class="content">
                    With a commitment to evidence-based practices, Rashtrotthana Hospital’s dietetics team is dedicated to empowering patients through nutrition education, holistic dietary care and personalized plans that foster sustainable health.
                </div>
                </div>
            </div>
            </div>
            <div class="Meet_Medical_Team">
                <!-- heading -->
                <h2 classs="mmt_heading">Meet Our Medical Team</h2>
                <!-- doctor image and name -->
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-55.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Ms. Archana Karthick</p>
                        <p class="exp">Years of Experience: 16</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-56.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Ms. Dharanika Devaraj</p>
                    </div>
                    </div>
                <!-- view all button -->
                <div class="view_all_btn_box">
                    <app-arrow-btn></app-arrow-btn>
                </div>
          
        </div>
        </div>
    <div>
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">More Facilities</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/facility/health-insurance-plans-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Insurance</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/facility/best-emergency-trauma-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">Emergency & Trauma Care</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/facility/inpatient-facility-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">In-patient facility</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box" routerLink="/facility/best-kidney-dialysis-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Dialysis Unit</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box" routerLink="/facility/operation-theatre-bangalore" routerLinkActive="active" >
                        <p class="menu_list Nephrology">Operation Theatre</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box" routerLink="/facility/best-intensive-care-unit-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">ICU</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box" routerLink="/facility/top-diagnostics-multi-speciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Radiology Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box" routerLink="/facility/24-hours-pharmacy-store-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Pharmacy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box" routerLink="/facility/best-ambulance-service-rashtrotthana-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Ambulance Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box" routerLink="/facility/dietary-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Dietary</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box" routerLink="/facility/physiotherapy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Physiotherapy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box" routerLink="/facility/laboratory-services-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">Laboratory Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box" routerLink="/facility/endoscopy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Endoscopy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box" routerLink="/facility/nutrition-dietetics-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Nutrition & Dietetics</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
 