<div class="root-container">
    <div class="hero-section">
        <img src="../../assets/hero-banner-new.png" alt="rashtrotthana career page">
        <div class="title">
            <div class="container">
                <div style=" padding: 1%; border-radius: 10px;">
                    <div class="name">Join Us</div>
                    <h1 class="des">Career at Rashtrotthana Hospital</h1>
                    <div class="buttons">
                        <button class="button apply" (click)="scrollToAppointmentForm()">Apply Now</button>
                        <button class="button learn hide" (click)="scrollToNextContainer()">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- work with us  -->
    <div class="work" #nextContainer>
        <div class="heading">Why Work with us?</div>
        <!-- <div style="display: flex; align-items: center; justify-content: space-around; width: 100%; padding: 2%;"> -->
        <div class="grid" >
            <div class="flex" *ngFor="let work of works; let i = index">
                <div class="color-container">
                    <div class="color" [style.backgroundColor]="work?.color"></div>
                </div>
                <div class="box">
                    <div class="subheading">{{i+1}}. {{work.title}}</div>
                    <div class="description">{{work.description}}</div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <!-- work with us  -->
    <div class="work padding-bottom">
        <div class="heading_2">Career Opportunities : </div>
        <!-- <div style="display: flex; align-items: center; justify-content: space-around; width: 100%; padding: 2%;"> -->
        <div class="grid_2">
            <div class="flex_2"  *ngFor="let work of careers; let i = index">
                <div class="box_2">
                    <div class="subheading_2">{{i+1}}. {{work.title}}</div>
                    <div class="description_2">{{work.description}}</div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <div class="form-container" #formContainer>
        <!-- Elfsight Contact Form | Rash Career Form -->
        <!-- <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-bb8329f5-66bc-4ccb-9533-db30fde50803" data-elfsight-app-lazy></div> -->
        <iframe class="contact-form-elsight" src="https://bb8329f566bc4ccb9533db30fde50803.elf.site"></iframe>
      </div>
</div>