<div class="root-container">

    <!-- container 1 -->
    <div class="container-1">
        <div class="leftSide">
            <div class="round">
                <div class="heading"><span>Mathrubhava</span></div>
                <div class="description">Holistic Care to</div>
                <div class="mom">Mom & Baby</div>
                <div class="s_des">Through Ayurveda</div>
                <div class="caption">Authentic post-natalAyurveda care at your doorsteps</div>
            </div>
        </div>
        <div class="rightSide">
            <img src="../../assets/muthrubhava/ayurvedic-mom-and-baby-care-hospital-rr-nagar-bangalore.png"
                class="r_img" alt="">
        </div>
    </div>

    <!-- container 2 -->
    <div class="container-2">
        <div class="headings">Embrace the Journey of Motherhood with Ancient Wisdom!</div>
        <div class="para padding para-margin">The postpartum phase, known as Sutika Kala in Ayurveda, is a transformative period for both mother and baby. Ayurveda views this time as a sacred opportunity to nurture and rejuvenate the mother, ensuring long-lasting bond between mother and child, promoting overall health and well-being</div>
        <div class="para padding para-margin">During Sutika Kala, the mother is advised to follow specific dietary and lifestyle guidelines to aid recovery.Ayurveda also underscores the importance of rest, emotional support, and a calm environment to ensure mental and emotional well-being. These practices not only promote the mother's health but also positively influence the baby's development and growth.</div>
        <div class="para padding para-margin">By adhering to these time-tested principles, the postpartum phase can be a harmonious and rejuvenating experience, laying the foundation for a healthy life ahead for both mother and child.</div>
        <div class="con_2_images">
            <img src="../../assets/muthrubhava/mother-with-baby-daughter-lying-bed.png" alt="">
            <img src="../../assets/muthrubhava/mother-daughter-love-close-up.png" alt="">
            <img src="../../assets/muthrubhava/happy-mom-hugging-holding-sweet-baby-daughter-arms-cute-curly-haired-little-girl-looking-mother-parenthood-childhood-concept.png" alt="">
        </div>

        <div class="flex padding container-margin">
            <!-- left side -->
            <div class="l_side">
                <div class="subheading">Why Postnatal Care Matters?</div>
                <div class="para para-margin">Childbirth brings immense joy but also significant physical and emotional changes. The postpartum period is crucial for:</div>
                <ul>
                    <li class="para para-margin">Restoring the mother's physical strength.</li>
                    <li class="para para-margin">Balancing hormonal fluctuations.</li>
                    <li class="para para-margin">Preventing postpartum complications including depression and anxiety</li>
                    <li class="para para-margin">Supporting emotional well-being and mental health.</li>
                    <li class="para para-margin">Supporting emotional well-being and mental health</li>
                    <li class="para para-margin">Enhancing lactation and baby bonding</li>
                    <li class="para para-margin">A stronger immune system for mother and baby</li>
                    <li class="para para-margin">Faster recovery and healing</li>
                </ul>
            </div>

            <!-- right side -->
             <div class="r_side">
                <img class="con_2_img" src="../../assets/muthrubhava/side-view-couple-with-son-home.png" alt="">
             </div>
        </div>
    </div>

    <!-- container 3 -->
    <div class="flex-2 container-margin">
        <div class="l_side">
            <img src="../../assets/muthrubhava/container-3.png" alt="">
        </div>
        <div class="r_side">
            <div class="headings">Ayurvedic Postnatal Care: A Holistic Approach</div>
            <div class="content mob-padding">
                <div class="box" style="margin-top: 30px; padding-right: 10%;">
                    <div class="c3-headings"><img src="../../assets/muthrubhava/Greek Salad.svg" alt=""><span>Rejuvenating Diet (Pathya)</span></div>
                    <div class="para para-margin">Specialized diets are designed to restore Agni (digestive fire), improve lactation, and nourish both mother and baby. Ayurvedic herbs and recipes, play a pivotal role in rebuilding strength,</div>
                </div>
                <div class="box" style="margin-top: 30px; padding-right: 10%;">
                    <div class="c3-headings"><img src="../../assets/muthrubhava/Massage.svg" alt=""><span>Abhyanga (Oil Massage) & other therapies</span></div>
                    <div class="para para-margin">Procedures like medicated oil massages, Kashaya dhara, Shiro abhyanga etc. relax the muscles, alleviate pain, and promote circulation, aiding faster recovery.</div>
                </div>
                <div class="box" style="margin-top: 30px; padding-right: 10%;">
                    <div class="c3-headings"><img src="../../assets/muthrubhava/Mint.svg" alt=""><span>Herbal Remedies</span></div>
                    <div class="para para-margin">Tailored herbal formulations detoxify the body, improve immunity, and help in balancing Vata dosha, which is disturbed post-delivery.</div>
                </div>
                <div class="box" style="margin-top: 30px; padding-right: 10%;">
                    <div class="c3-headings"><img src="../../assets/muthrubhava/Wise Mind.svg" alt=""><span>Emotional Well-being</span></div>
                    <div class="para para-margin">Ayurveda acknowledges the emotional toll of childbirth. Practices like meditation, aromatherapy, and calming herbal teas are used to soothe the mind and uplift the spirit.</div>
                </div>
                <div class="box" style="margin-top: 30px; padding-right: 10%;">
                    <div class="c3-headings"><img src="../../assets/muthrubhava/Embryo.svg" alt="">Baby Care<span></span></div>
                    <div class="para para-margin">Ayurveda extends its care to the new born with gentle massages, herbal baths, and guidance on breastfeeding and nutrition, ensuring holistic development.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- container 4 -->
    <div class="flex padding container-margin">
        <div class="l_side">
            <div class="c3-headings">BENEFITS OF POST NATAL CARE AT RASHTROTTHANA HOSPITAL</div>
            <ul>
                <li class="para para-margin">Personalized Expert Medical Care</li>
                <li class="para para-margin">Tailored Postnatal Therapies for Optimal Recovery</li>
                <li class="para para-margin">Skilled, Compassionate Care from Experienced Therapists</li>
                <li class="para para-margin">Comprehensive Breastfeeding & Infant Care Support</li>
                <li class="para para-margin">Nutritional & Lifestyle Guidance</li>
                <li class="para para-margin">Customized medications based upon individual need</li>
            </ul>
        </div>
        <div class="r_side">
            <img src="../../assets/muthrubhava/DJI_0030.png" class="r_img_3" alt="">
        </div>
    </div>

    <!-- container 5 -->
    <div class="container-2 container-margin">
        <div class="headings" style="width: 200px;">Key Points</div>
        <ul class="padding">
            <li class="para para-margin">Post-natal Ayurveda treatments can be started only after 7 days for normal delivery and 14 after C-section delivery.</li>
            <li class="para para-margin">All the internal and external medications are included in the package.</li>
            <li class="para para-margin">Prior appointment is mandatory for the service.</li>
            <li class="para para-margin">Two Doctor consultations are included in the package. One before the starting of treatment and second consultation during the treatment process.</li>
            <li class="para para-margin">Rs.2000 to be paid as advance.</li>
            <li class="para para-margin">50% of package price to be paid before starting the treatment. Remaining 50% to be paid before the completion.</li>
            <li class="para para-margin">Ayurveda therapist will not be taking care of any domestic support like Laundry/Cooking/babysitting etc.</li>
            <li class="para para-margin">Only the services mentioned in the package will be given.</li>
            <li class="para para-margin">Home service facility is limited to 5 KM radius from Rashtrotthana Hospital.</li>
            <li class="para para-margin">No extra payment to be given to the therapist.</li>
        </ul>
    </div>

    <!-- container 6 -->
    <div class="container-6 container-margin">
        <div class="container_6_heading">PACKAGE INCLUSIONS</div>
        <div class="container-6-images">
            <div class="con-6-box" *ngFor="let pack of package">
                <img [src]="pack.image" alt="">
                <div class="img_para">{{pack.description}}</div>
            </div>
        </div>
    </div>

    <!-- container 7 -->
    <div class="container-7">
        <img src="../../assets/muthrubhava/container-7-image.png" alt="">
    </div>

</div>