<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/general-surgery-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/general-surgery-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best General Surgery Hospital in Bangalore – Advanced Surgical Care at Rashtrotthana Hospital</h1>
            <div class="para_image">
                <div class="s_content">
                    <div class="s_para">At Rashtrotthana Hospital, we take pride in being recognized as the best general surgery hospital in Bangalore, offering comprehensive surgical treatments with a focus on precision, patient safety and faster recovery. Our highly skilled team of general surgeons specializes in laparoscopic surgery, endoscopic surgery and a wide range of abdominal and minimally invasive procedures.</div>
                    <div class="s_para">As the top general surgery hospital in Bangalore, we are equipped with state-of-the-art modular operation theatres, a dedicated surgical ICU and advanced medical technology to ensure safe and effective surgical interventions. Whether it’s a routine procedure or a complex surgery, we prioritize patient-centered care to achieve the best outcomes</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/best-general-surgery-hospital-in-bangalore.png" alt="Best General Surgery Hospital in Bangalore">
                </div>
            </div>

            <div class="para_image container-margin row-reverse">
                <div class="s_image">
                    <img src="../../assets/general-surgeon-in-rr-nagar-bangalore.png" alt="General Surgeon in RR nagar bangalore">
                </div>
                <div class="s_content">
                    <div class="s_subheadings">Comprehensive General Surgery Services</div>
                    <div class="s_para"><b>Advanced Abdominal & Digestive System Surgeries</b></div>
                    <div class="s_para">As a leading <a href="https://en.wikipedia.org/wiki/General_surgery" target="_blank">general surgery</a> hospital in Bangalore, we specialize in treating various abdominal conditions using minimally invasive techniques for faster healing.</div>
                    <ul>
                        <li class="s_para"><b>Appendectomy </b>- Surgical removal of the appendix to treat appendicitis.</li>
                        <li class="s_para"><b>Hernia Repair Surgery </b>- We provide laparoscopic <a routerLink="/hernia-hospital-bangalore">hernia surgery </a>in Bangalore, including inguinal, umbilical and incisional hernia repairs.</li>
                        <li class="s_para"><b>Cholecystectomy (Gallbladder Surgery) </b>- Our gallbladder surgery hospital in Bangalore offers expert care for gallstones and gallbladder removal.</li>
                        <li class="s_para"><b>Colectomy & Bowel Surgery </b>- Comprehensive surgical management of colorectal diseases and bowel disorders.</li>
                        <li class="s_para"><b>Gastrectomy & Intestinal Resection </b>- Treatment for stomach conditions and bowel obstructions.</li>
                    </ul>
                    <div class="s_para">As the best hospital for general surgery in Bangalore, we ensure that all abdominal procedures are performed with the highest level of precision and care.</div>
                </div>
            </div>

            <div class="para_image container-margin">
                <div class="s_content">
                    <div style="text-align: center; margin-bottom: 20px;" class="s_subheadings"></div>
                    <div class="s_para"></div>
                    <ul>
                        <li class="s_para"><b>Laparoscopic Appendectomy </b>- Advanced keyhole surgery for appendix removal.</li>
                        <li class="s_para"><b>Laparoscopic Hernia Repair </b>- Our best hospital for laparoscopic surgery in RR Nagar Bangalore provides expert hernia treatments.</li>
                        <li class="s_para"><b>Laparoscopic Gallbladder Surgery </b>- Safe and effective removal of gallbladder stones using minimally invasive techniques.</li>
                        <li class="s_para"><b>Diagnostic Laparoscopy </b>- A minimally invasive method for diagnosing abdominal issues.</li>
                        <li class="s_para"><b><a href="https://en.wikipedia.org/wiki/Endoscopy" target="_blank">Endoscopic Surgery</a> in RR Nagar Bangalore </b>- Modern techniques for gastrointestinal conditions.</li>
                    </ul>
                    <div class="s_para">As the best hospital for laparoscopic surgery in Bangalore, we ensure that all minimally invasive surgeries are performed with advanced technology and precision.</div>
                </div>
            </div> 
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">Breast & Endocrine Surgery</div>
            <div class="s_para">Our general surgery hospital in Bangalore provides specialized care for breast and endocrine disorders, including</div>
            <ul>
                <li class="s_para"><b>Thyroidectomy </b>- Surgical treatment for thyroid nodules, goiter and cancer.</li>
                <li class="s_para"><b>Parathyroidectomy </b>- Removal of overactive parathyroid glands</li>
                <li class="s_para"><b>Adrenalectomy </b>- Surgery for adrenal gland disorders.</li>
                <li class="s_para"><b>Breast Lump Removal </b>- Expert management of benign and malignant breast tumors.</li>
                <li class="s_para"><b>Mastectomy (Breast Cancer Surgery) </b>- Comprehensive surgical treatment for breast cancer.</li>
            </ul>
            <div class="s_para">At our best general surgery hospital in Bangalore, we use advanced surgical techniques to ensure the best outcomes for breast and endocrine surgeries.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/best-surgery-doctors-in-rr-nagar-bangalore.png" alt="Gynecolog Hospitals Near Me">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/endoscopic-surgery-in-rr-nagar-bangalore.png" alt="Best hospital for surgery in Bangalore">
        </div>
        <div class="s_content">
            <div class="s_subheadings">Colorectal & Proctology Surgery</div>
            <div class="s_para">As a top general surgery hospital in Bangalore, we provide advanced treatments for colorectal and anorectal disorders.</div>
            <ul>
                <li class="s_para"><b><a href="https://en.wikipedia.org/wiki/Hernia_repair" target="_blank  ">Piles Surgery</a> (Hemorrhoidectomy) </b>- Minimally invasive procedures for hemorrhoids.</li>
                <li class="s_para"><b>Fistula Surgery </b>- Effective surgical solutions for anal fistulas.</li>
                <li class="s_para"><b>Fissure Surgery </b>- Expert care for chronic anal fissures.</li>
                <li class="s_para"><b>Rectal Prolapse Surgery </b>- Surgical management for rectal conditions.</li>
            </ul>
            <div class="s_para">We are recognized as one of the best hospitals for general surgery in Bangalore, offering expert care for colorectal and proctology conditions.</div>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">Trauma & Emergency Surgical Care</div>
            <div class="s_para">As the best hospital for surgery in Bangalore, we offer 24/7 emergency surgical services, ensuring timely treatment for life-threatening conditions.</div>
            <ul>
                <li class="s_para"><b>Trauma Laparotomy</b> - Emergency surgery for severe abdominal injuries.</li>
                <li class="s_para"><b>Exploratory Surgery</b> - Diagnosis and treatment of internal bleeding and trauma.</li>
                <li class="s_para"><b>Splenectomy</b> - Surgical removal of the spleen due to injury or disease.</li>
            </ul>
            <div class="s_para">Our general surgeons in RR Nagar Bangalore are well-equipped to handle critical emergency cases, ensuring life-saving interventions with prompt care.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/top-general-surgery-hospital-bangalore.png" alt="Top General Surgery hospital Bangalore">
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/best-hospital-for-surgery-in-bangalore.png" alt="hernia surgery hospital in Bangalore">
        </div>
        <div class="s_content">
            <div class="s_subheadings">Pediatric General Surgery</div>
            <div class="s_para">Our best general surgery hospital in Bangalore offers specialized surgical care for children</div>
            <ul>
                <li class="s_para"><b>Pediatric Hernia Surgery</b> - Safe and effective <a routerLink="/hernia-hospital-bangalore">hernia surgery</a> hospital in Bangalore for children.</li>
                <li class="s_para"><b>Appendectomy in Children</b> - Performed using minimally invasive surgical techniques.</li>
                <li class="s_para"><b>Congenital Anomaly Corrections</b> - Expert surgical management of birth defects.</li>
            </ul>
            <div class="s_para">As a top general surgery hospital in Bangalore, we provide gentle and effective surgical treatments for pediatric patients.</div>
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">Vascular & Skin Surgeries</div>
            <div class="s_para">Our best hospital for surgery in Bangalore provides advanced vascular and skin-related treatments.</div>
            <ul>
                <li class="s_para"><b>Varicose Vein Surgery</b> - Laser and traditional treatments for vein disorders.</li>
                <li class="s_para"><b>Vascular Access Surgery</b> - Essential for patients undergoing dialysis.</li>
                <li class="s_para"><b>Wound Management & Skin Tumor Removal</b> - Comprehensive care for chronic wounds and skin conditions.</li>
            </ul>
            <div class="s_para">At our top general surgery hospital in Bangalore, we offer highly specialized vascular and skin surgeries with the latest medical advancements.</div>
        </div>
        <div class="s_image">
            <img src="../../assets/best-hospital-for-endoscopic-surgery-in-rr-nagar-bangalore.png" alt="">
        </div>
    </div>
    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_image">
            <img src="../../assets/laparoscopic-surgeon-in-rajarajeshwari-nagar-bangalore.png" alt="">
        </div>
        <div class="s_content">
            <div class="s_subheadings">Why Choose Rashtrotthana Hospital for General Surgery?</div>

            <ul>
                <li class="s_para">Best general surgery hospital in Bangalore with expert general surgeons.</li>
                <li class="s_para">Top general surgery hospital in Bangalore offering advanced laparoscopic and minimally invasive surgeries.</li>
                <li class="s_para">State-of-the-art modular operation theatres and a dedicated surgical ICU.</li>
                <li class="s_para">24/7 emergency surgical care for trauma and critical cases.</li>
                <li class="s_para">Personalized postoperative care for faster recovery.</li>
            </ul>
            <div class="s_para">We are recognized as a leading general surgery hospital in Bangalore, ensuring safe, effective and patient-centric surgical treatments.</div>
        </div>
    </div>

    <div class="para_image container-padding container-margin row-reverse">
        <div class="s_content">
            <div class="s_subheadings">Book an Appointment with the Best General Surgeons in Bangalore</div>
            <div class="s_para">At Rashtrotthana Hospital, we are committed to providing exceptional surgical care with cutting-edge technology and a compassionate approach. If you're looking for the best hospital for general surgery in Bangalore, schedule a consultation with our expert surgeons today.</div>
        </div>
    </div>

    <!-- <div class="para_image container-padding container-margin">
        <div class="s_content">
            <div class="s_subheadings">Holistic Care for Every Stage of Life</div>
            <div class="s_para">Rashtrotthana Hospital takes pride in being the Best Gynaecology Hospital in RR Nagar Bangalore, offering holistic care for women at every stage of life. From adolescence to post-menopause, our services encompass preventive health, maternity care and management of chronic conditions. Whether you’re preparing for childbirth, seeking treatment for gynecological concerns, or focusing on long-term wellness, our OBG department is here to support you with compassionate and personalized care.</div>
        </div>
    </div> -->

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div>
        <!-- <div class="doctor-container">
            <div *ngFor="let doctor of doctors2">
                <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                    [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
            </div>
        </div> -->
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para" [innerHTML]="faq.ans"></div>
        </div>
    </div>
</div>