<div class="root-container">
    <!-- container 1 -->
    <div class="container_1">
        <!-- container 1 left side box -->
        <div class="con_1_lft_box">
            <div class="con_1_head">
                <img src="../../assets/ayurveda/best-ayurveda-treatment-in-bengaluru.png"
                    alt="Best Ayurveda Treatment in Bengaluru">
                <h1 class="con_1_heading">Best Ayurvedic Hospital in RR Nagar Bangalore</h1>
            </div>
            <p class="con_1_para">Ayurveda, the ancient science of healing, has been a beacon of holistic healthcare for
                centuries. At Rashtrotthana Hospital, recognized as the Best Ayurvedic Hospital in RR Nagar Bangalore,
                we bring you the timeless wisdom of Ayurvedic treatment combined with modern expertise. More than just a
                system of medicine, Ayurveda emphasizes natural healing therapy, offering solutions that encompass diet,
                lifestyle and preventive care. According to Acharya Charaka, a prominent scholar of Ayurveda, the
                ultimate goal of this science is to maintain the health of the healthy and to cure diseases in the ill.
                The foundation of Ayurveda lies in achieving balance between the mind, body, soul, and social
                well-being. This balance is reflected in the state of ‘Svastha,’ where the three doshas- Vata, Pitta and
                Kapha- harmonize, fostering overall wellness. Through personalized care and Ayurvedic doctor
                consultation, we help individuals achieve this equilibrium. </p>
        </div>
        <!-- conteiner 1 right side box -->
        <div class="con_1_right_box">
            <img src="../../assets/ayurveda/best-ayurveda-treatment-in-bengaluru-rrnagar.png"
                alt="Best Ayurveda Treatment in Bengaluru RR Nagar">
            <div class="con_1_content">
                <p class="con_1_content_1">स्वस्थस्य स्वास्थ्य रक्षणं, आतुरस्य विकार प्रशमनं।</p>
                <p class="con_1_content_1">(चरक संहित सूत्र ३०।२६​)</p>
            </div>
        </div>
    </div>

    <!-- container_2 -->
    <div class="container_2_head">
        <div class="con_3_img_head">
            <img src="../../assets/ayurveda/rashtrotthana-hospital-ayurveda-treatment.png"
                alt="Rashtrotthana Hospital Ayurveda Treatment">
            <p class="con_2_head_txt">Brief Description of Ayurveda</p>
        </div>
    </div>
    <div class="container_2">
        <div class="con_2_para_1">
            <p class="con_2_para_1_txt">Ayurveda is a complete system of medicine where all the branches of modern
                science are integrated in a more holistic form. The fundamental principle of Ayurvedic treatment is to
                address one part of the body without disturbing the balance of the rest. This approach ensures natural
                healing therapy, as the human body is considered a single unit, including the mind. Therefore, somatic
                and psychosomatic diseases are best treated in Ayurveda, making it a preferred choice for comprehensive
                healthcare at the Best Ayurvedic Hospital in RR Nagar Bangalore.</p>
            <div class="con_2_flex">
                <div class="con_2_flex_lft">
                    <p class="con_2_para_2_txt">While curing diseases is a vital part of Ayurveda, it also emphasizes
                        preventing their recurrence through preventive treatments and therapies. This is achieved by
                        providing disease-specific dietary and lifestyle recommendations. Personalized regimens, diets,
                        and exercises ensure optimal health and prevent future ailments, which is a unique feature of
                        Ayurvedic internal medicine. At Rashtrotthana Hospital, a leading name among Ayurveda Hospitals
                        in Bangalore, such practices are meticulously followed to deliver the best care.</p>
                </div>
                <div class="con_2_flex_right">
                    <img src="../../assets/ayurveda/rashtrotthana-hospital-ayurvedic-healing.png"
                        alt="Rashtrotthana Hospital Ayurvedic Healing.png">
                </div>
            </div>
            <p class="con_2_para_3_txt">In today's fast-paced technological era, diseases are still prevalent despite
                advancements in modern medicine. Ayurveda addresses this challenge with its various treatment
                modalities, such as Shodhana (Detoxification), Shamana (Palliative Therapy), and Rasayana
                (Disease-Specific Rejuvenation). These treatments are complemented by the use of natural ingredients,
                such as herbs, minerals, and organic substances, to prepare medicines. This focus on natural healing
                therapy reduces the risk of side effects and strengthens the body’s innate ability to heal itself.</p>
            <p class="con_2_para_3_txt">Our commitment at the Ayurveda hospital in Rajarajeshwari Nagar Bangalore is to
                use certified and genuine medicines to ensure the best possible results for patients. Through therapies
                like <a href="https://en.wikipedia.org/wiki/Category:Panchakarma">Panchakarma</a> treatment in
                Bangalore, we strive to deliver holistic health solutions, reaffirming the relevance and effectiveness
                of Ayurveda in today’s world.</p>
        </div>
    </div>

    <!-- thyroid section -->
    <div class="container">
        <div class="flex">
            <div class="image">
                <img src="../../assets/ayurveda/Ayurvedic-thyroid-treatment-in-bangalore.png"
                    alt="Ayurvedic Thyroid treatment in Bangalore" class="thyroid_img">
            </div>
            <div class="content">
                <div class="subheading">Struggling with thyroid imbalances?</div>
                <div class="para para_margin_bottom">Ayurveda offers a powerful, natural approach to restore your
                    hormonal balance and overall health. By combining ancient wisdom with personalized treatment plans,
                    Ayurveda targets the root cause of thyroid issues, providing long-term relief. Discover how our
                    Ayurvedic treatments can help you manage thyroid disorders effectively. Know more about our thyroid
                    treatments here.</div>
                <!-- <button class="thyroid-btn"></button> -->
                <app-read-more-btn routerLink="/ayurvedic-thyroid-treatment" />
            </div>
        </div>
    </div>

    <!-- Mathrubhava section -->
    <div class="container">
        <div class="flex">
            <div class="content">
                <div class="subheading">Mathrubhava - Ayurvedic Postnatal Care for Mom & Baby</div>
                <div class="para para_margin_bottom">Experience holistic postnatal care at Rashtrotthana Hospital with Mathrubhava, a specialized Ayurvedic program designed to support new mothers and their babies. Our expert-guided therapies, nutritional support and healing treatments ensure a smooth recovery, strength and well-being during this precious phase of life.</div>
                <app-read-more-btn routerLink="/mathrubhava-treatment" />
            </div>
            <div class="image">
                <img src="../../assets/muthrubhava/young-mother-carries-baby.jpg"
                    alt="Ayurvedic Thyroid treatment in Bangalore" class="thyroid_img">
            </div>
        </div>
    </div>


    <!-- container 3 -->
    <div class="container_3">
        <div class="con_3_head">
            <img src="../../assets/ayurveda/panchakarma-treatment-bangalore.png" alt="Panchakarma Treatment Bangalore">
            <p class="con_3_head_txt">Panchakarma</p>
        </div>
        <div class="con_3_des">
            <p class="con_3_des">Panchakarma means 5 Therapeutic procedures. They are basically meant for shodhana or
                purification of the body.</p>
        </div>
        <div class="con_3_content">
            <p class="con_3_content_head">The 5 panchakarma procedures include</p>
            <p class="panchakarma_list">Vamana (Therapeutic Emesis)</p>
            <p class="panchakarma_list">Virechana (Therapeutic Purgation)</p>
            <p class="panchakarma_list">Nasya (Nasal Instillation) </p>
            <p class="panchakarma_list">Vasthi (Medicated Enema)</p>
            <p class="panchakarma_list">Raktamokshana (Bloodletting)</p>
            <p class="pachakarma_description">All these procedures will be done taking into account various factors like
                nature of the illness, condition of the patient etc.</p>
        </div>
    </div>

    <!-- container 4 -->
    <div class="container_4">
        <div class="con_4_content">
            <div class="con_4_row_2">
                <div class="content_box_1 content_box_1_">
                    <div class="circle circle_1"></div>
                    <p class="content_head">1.Vamana </p>
                    <p class="content_paragraph"> Achieving the detoxification from the oral route, that is inducing the
                        therapeutic emesis is called vamana. It is best indicated in the disease of the upper trunk or
                        specifically indicated in the diseases of the morbid “Kapha dosha”. Prescribed in Diseases of
                        the Respiratory tract, diseases of Upper Gastrointestinal tract.</p>
                </div>
                <div class="content_box_1 content_box_2">
                    <div class="circle circle_2"></div>
                    <p class="content_head">2. Virechana </p>
                    <p class="content_paragraph">Achieving the detoxification from the anal route by inducing the
                        therapeutic purgation is called Virechana. It is best indicated in the diseases of morbid “Pitta
                        Dosha”. Best prescribed in ailments of the lower Gastrointestinal Tract and lower limbs.</p>
                </div>
                <div class="content_box_1 content_box_3">
                    <div class="circle circle_3"></div>
                    <p class="content_head">3. Vasthi</p>
                    <p class="content_paragraph"> Rectal deposition of the medicine for the absorption from the lower
                        Gastrointestinal tract is called Basti. It is best indicated in Morbid “Vata dosha” diseases. To
                        name some such as neurological diseases may it be the central nervous system or Peripheral
                        nervous system.</p>
                </div>
                <div class="content_box_1 content_box_4">
                    <div class="circle circle_4"></div>
                    <p class="content_head">4. Nasya</p>
                    <p class="content_paragraph">Nasal instillation of the medicine is called as Nasya. It is indicated
                        in the diseases of the head and neck. It is best prescribed in the diseases such as stroke
                        syndrome, vascular headache, Migraine headache, sinusitis etc.</p>
                </div>
                <div class="content_box_1 content_box_5">
                    <div class="circle circle_5"></div>
                    <p class="content_head">5. Raktamokshana</p>
                    <p class="content_paragraph">Blood letting from various methods such as venesection, scrapping,
                        vacuum cupping or leech application all comes under this. It is kind of localized detoxification
                        where other detoxification are not the procedure of choice and most superficial diseases such as
                        skin diseases, varicose vein etc.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="con_4_des">
        <p class="con_4_des_txt">The above are panchakarma which are used depending on the specificity and location of
            the disease and its morbid dosha. The abhyanga (therapeutic massage) and sweda (steaming) and other
            modalities of the procedure are called as upakarma which are used individually or as preparation for the
            Panchakarma.</p>
    </div>


    <!-- container 5 -->
    <div class="con_5_heading">
        <img src="../../assets/ayurveda/natural-healing-ayurveda.png" alt="Natural Healing Ayurveda">
        <p class="con_5_heading_txt">
            SERVICES PROVIDED
        </p>
    </div>

    <app-ayurveda-carousel></app-ayurveda-carousel>

    <!-- container 6 -->

    <div class="container_6">
        <div class="con_6_lft_side">
            <img src="../../assets/ayurveda/top-ayurvedic-hospital-in-bangalore.png"
                alt="Top Ayurvedic hospital in Bangalore – Rashtrotthana">
        </div>
        <div class="con_6_right_side">
            <div class="con_6_head">
                <img src="../../assets/ayurveda/con_6_icon.png" alt="">
                <p class="con_6_head_txt">Scope of Ayurveda</p>
            </div>
            <div class="con_6_para">
                <p class="con_6_para_txt">Ayurveda has a lot to offer to individuals as well as society. Whether it is
                    Ayurvedic treatment for individuals or prevention and rejuvenation for the community, it is based on
                    the principle that a healthy individual makes a healthy family, a healthy family makes a healthy
                    community, a healthy community makes a healthy society, and a healthy society builds a strong
                    nation. Ayurveda caters to all health needs of society, such as curing or regressing disease
                    conditions, detoxification in chronic illnesses through Panchakarma treatment in Bangalore, and
                    promoting health in individuals with therapies like Kaya Chikitsa treatments. The eight branches of
                    Ayurveda- Kayachikitsa <a routerLink="/best-general-medicine-hospital-in-bangalore">(Internal Medicine)</a>, Bala Chikitsa (Pediatrics), Graha Chikitsa (Psychiatric
                    and Psychosomatic Treatment), Shalakya (Diseases of Neck and Above), Shalya Chikitsa (Surgical
                    Intervention), Agada (Toxicology), Jara (Rejuvenation), and Vrushya (Reproductive Medicine)-
                    contribute to the complete health of a person. At the Best Ayurvedic Hospital in RR Nagar Bangalore,
                    these treatments are carefully designed to address all aspects of wellness, including natural
                    healing therapy and detoxification. In recent years, Ayurveda has gained attention worldwide,
                    leading to increased research and exploration of its principles and practices. While science has
                    existed for thousands of years, some literature and practices have been lost, creating gaps in
                    knowledge. This vacuum presents opportunities to integrate Ayurvedic internal medicine and therapies
                    like Shalakya Tantra Treatment in Bangalore with modern healthcare practices, further strengthening
                    its role in promoting holistic health.</p>
            </div>
        </div>
    </div>

    <!-- container 7 -->

    <div class="container_7">
        <!-- <marquee behavior="alternate" direction="right"> -->
        <div class="con_7_scroll_1">
            <div class="scroll_1_box scroll_box_1">
                <img src="../../assets/ayurveda/holistic-health-care-at-rashtrotthana-hospital.png" alt="Holistic health care at Rashtrotthana Hospital
                ">
                <p class="scroll_1_head">Kayachikitsa</p>
                <p class="scroll_info">Internal medicine</p>
            </div>
            <div class="scroll_1_box scroll_box_2">
                <img src="../../assets/ayurveda/natural-remedies-by-rashtrotthana-hospital.png"
                    alt="Natural remedies by Rashtrotthana Hospital">
                <p class="scroll_1_head">Bala chikitsa</p>
                <p class="scroll_info">Pediatrics</p>
            </div>
            <div class="scroll_1_box scroll_box_3">
                <img src="../../assets/ayurveda/ayurveda-yoga-therapy-rashtrotthana-hospital.png"
                    alt="Ayurveda yoga therapy Rashtrotthana Hospital">
                <p class="scroll_1_head">Graha Chikitsa</p>
                <p class="scroll_info">Psychiatric and Psychosomatic treatment</p>
            </div>
            <div class="scroll_1_box scroll_box_4">
                <img src="../../assets/ayurveda/ayurveda-weight-management-rashtrotthana-hospital.png"
                    alt="Ayurveda weight management Rashtrotthana Hospital">
                <p class="scroll_1_head">Shalakya</p>
                <p class="scroll_info">Diseases of neck and above part</p>
            </div>
        </div>
        <!-- </marquee> -->
        <div class="con_7_scroll_2">
            <div class="scroll_1_box scroll_box_1">
                <img src="../../assets/ayurveda/natural-healing-ayurveda-in-bengaluru.png"
                    alt="Natural Healing Ayurveda in Bengaluru">
                <p class="scroll_1_head">Shalya chikitsa</p>
                <p class="scroll_info">Surgical Intervention</p>
            </div>
            <div class="scroll_1_box scroll_box_1">
                <img src="../../assets/ayurveda/rashtrotthana-hospital-holistic-ayurveda-care.png"
                    alt="Rashtrotthana Hospital holistic Ayurveda care">
                <p class="scroll_1_head">Agada</p>
                <p class="scroll_info">Toxicology</p>
            </div>
            <div class="scroll_1_box scroll_box_1">
                <img src="../../assets/ayurveda/ayurveda_wellness_programs_rashtrotthana_hospital.png"
                    alt="Ayurveda wellness programs Rashtrotthana Hospital">
                <p class="scroll_1_head">Jara</p>
                <p class="scroll_info">Rejuvenation</p>
            </div>
            <div class="scroll_1_box scroll_box_1">
                <img src="../../assets/ayurveda/cure-with-ayurveda-at-rashtrotthana-hospital.png"
                    alt="Cure with Ayurveda at Rashtrotthana Hospital">
                <p class="scroll_1_head">Vrushya</p>
                <p class="scroll_info">Reproductive medicine</p>
            </div>
        </div>
    </div>

    <!-- container 8 -->

    <div class="container_8">
        <div class="con_8_ltf_side">
            <div class="con_8_img">
                <img src="../../assets/ayurveda/traditional-ayurvedic-care-at-rashtrotthana-hospital.png"
                    alt="Traditional Ayurvedic care at Rashtrotthana Hospital" class="con_8_logo">
                <img src="../../assets/ayurveda/ayurveda-for-immunity-at-rashtrotthana-hospital.png"
                    alt="Ayurveda for immunity at Rashtrotthana Hospital" class="con_8_image">
            </div>
            <div class="logo_name">
                <p class="con_8_logo_name">Swarna Bindu Prashana</p>
                <p class="con_8_age">(Age : 0 - 16 Years)</p>
            </div>

            <div class="con_8_contents">
                <p class="con_8_para_txt">Swarna Bindu Prashana is a unique Ayurvedic preparation designed to enhance
                    the immunity and intellect of children. This specialized treatment, available at the Best Ayurvedic
                    Hospital in RR Nagar Bangalore, is rooted in the principles of Ayurveda and is highly recommended
                    for children’s overall health and development. It is recommended to take once in a month on the day
                    of Pushya Nakshatra.</p>
                <div class="con_8_ls_info">
                    <p class="con_8_fees_details">Cost per session: RS 200/-</p>
                    <p class="appointment_txt">For Appointments Call</p>
                    <p class="phone_number"><i class="fa-solid fa-phone"></i><a href="tel:08069239999">08069239999</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="con_8_right_side">
            <p class="con_8_rs_head">Benefits of swarna bindu prashana</p>
            <div class="con_8_row_1">
                <div class="con_8_box_1 con_8_box_1_row_1">
                    <img src="../../assets/ayurveda/ancient-healing-ayurveda-at-rashtrotthana-hospital.png"
                        alt="Ancient healing Ayurveda at Rashtrotthana Hospital">
                    <p class="con_8_head">Bala vardhana</p>
                    <p class="con_8_info">Improves strength & Immunity, thus preventing frequent infection and illness
                    </p>
                </div>
                <div class="con_8_box_1 con_8_box_1_row_2">
                    <img src="../../assets/ayurveda/chronic-disease-ayurveda-care-rashtrotthana-hospital.png"
                        alt="Chronic disease Ayurveda care Rashtrotthana Hospital">
                    <p class="con_8_head">Agni vardhana</p>
                    <p class="con_8_info">Enhances Appetite& Digestion.</p>
                </div>
                <div class="con_8_box_1 con_8_box_1_row_1">
                    <img src="../../assets/ayurveda/ayurvedic-therapies-at-rashtrotthana-hospital.png"
                        alt="Ayurvedic therapies at Rashtrotthana Hospital">
                    <p class="con_8_head">Medho Vardhana</p>
                    <p class="con_8_info">Enhances Intellect & Memory.</p>
                </div>
                <div class="con_8_box_1 con_8_box_1_row_2">
                    <img src="../../assets/ayurveda/rashtrotthana-Hospital-ayurveda-and-lifestyle-care.png"
                        alt="Rashtrotthana Hospital Ayurveda and lifestyle care">
                    <p class="con_8_head">Varnya</p>
                    <p class="con_8_info">Nourishes The Skin</p>
                </div>
            </div>
        </div>
    </div>
    <!-- con_8_img -->

    <!-- container_9 -->
    <app-ayurvedha-doctors-carousel></app-ayurvedha-doctors-carousel>

    <div class="btn">
        <app-arrow-btn></app-arrow-btn>
    </div>

    <!-- youtube container -->
    <div class="con_8_rs_head">Patient Education</div>
    <div class="youtube">
        <iframe src="https://4dc8b019897541d591c8e54e2c147daa.elf.site" frameborder="0"></iframe>
    </div>

    <!-- faq -->
    <div class="faq_section">
        <div style="text-align: center; margin : 0 0 40px 0; color: #008080;" class="heading con_6_head_txt">FAQs</div>
        <div class="faq-container" *ngFor="let faq of faqs; let i = index">
            <div class="ques_ans">
                <div style="margin-top: 20px; font-weight: bold; color: #008080;" class="ques faq-ques-ans">
                    <span>{{i+1}}. </span><span [innerHTML]="faq.questions"></span></div>
                <div style="margin-top: 10px;" class="ans faq-ques-ans" [innerHTML]="faq.answer"></div>
            </div>
        </div>
    </div>

</div>