<head>
    <meta charset="UTF-8">
    <meta name="description" content="Total Knee Replacement Surgery: Regain Mobility and Relieve Pain">
    <meta name="keywords" content="Total Knee Replacement, Knee Replacement Surgery, Knee Pain Causes, Knee Pain Treatment, Knee Pain Reasons">
    <title>Total Knee Replacement</title>
</head>
<div class="main-container">
<div class="first-container">
<!-- <img class="baneer-image" src="../../assets/knee-replace-bg.png"> -->
<button (click)="contactus()" class="container_1_btn">Book your appointment at discounted price <i class="fa-solid fa-angle-right"></i></button>
</div>

<div class="second-container">
    <div class="heading">
        Total Knee Replacement Surgery: Regain Mobility and Relieve Pain
    </div>
    <div class="content">
        At Rashtrotthana Hospital, our team of skilled orthopedic surgeons is dedicated to providing comprehensive care and advanced surgical solutions to help you regain mobility and improve your quality of life. Contact us today to discuss your symptoms and determine if knee replacement surgery is the right option for you.
    </div>
</div>
<div class="what-is-knee-replacement">
    <div class="what-is-knee-replacement-content">
        <div class="heading-1">
            What is Total Knee Replacement (TKR)?
        </div>
        <div class="content-1">
            Total Knee Replacement (TKR) is a surgical procedure designed to relieve knee joint pain and improve function by replacing the damaged parts of the knee joint with artificial components. This surgery involves removing damaged cartilage and bone from the knee and replacing it with prosthetic implants made of metal, high-grade plastics and polymers. TKR surgery is a highly effective solution for those suffering from severe knee discomfort, helping them regain mobility and improve their quality of life.   
        </div><br>
        <div class="content-1">
            At Rashtrotthana Hospital, we specialize in addressing the underlying knee pain causes to provide comprehensive care for patients requiring knee replacement surgery.
        </div>
    </div>
    <div class="what-is-knee-replacement-image">
        <img  class="knee-image-1"  src="../../assets/knee-image-1.png">
    </div>
</div>
<div class="why-choose-knee-replacement">
    <div class="why-choose-knee-replacement-content">
        <div class="heading-2">
            Who Should Consider TKR Surgery?
        </div>
        <div class="content-2">
            TKR surgery is typically recommended for individuals who experience chronic knee joint pain that interferes with daily activities and does not respond to nonsurgical treatments. While it is most commonly performed on patients aged 60 and older, younger patients with severe knee damage due to arthritis or injury can also benefit from the procedure. Candidates for TKR often suffer from:
        </div><br>
        <div class="content-2">
            <ul>
                <li>Severe knee discomfort that limits daily activities such as walking, climbing stairs and sitting or rising from chairs.</li>
                <li>Moderate or severe knee pain while resting, both day and night.</li>
                <li>Chronic knee inflammation and swelling that doesn’t improve with rest or medications.</li>
                <li>Knee deformity, where there is a noticeable arching in or out of the knee.</li>
                <li>No significant relief from other knee pain treatments such as physical therapy, medications, or injections.</li>
                <li>Various knee pain causes such as osteoarthritis, rheumatoid arthritis, post-traumatic arthritis, injury and overuse.</li>
            </ul>
        </div>
    </div>
    <div class="why-choose-knee-replacement-image">
        <img class="knee-image" src="../../assets/knee-image-2.png">
    </div>
</div>
<div class="what-is-knee-replacement">
    <div class="what-is-knee-replacement-content">
        <div class="heading-2">
            Why is TKR Surgery Recommended?
        </div>
        <div class="content-2">
            TKR surgery is recommended when other treatments for knee discomfort have failed to provide relief. This includes:
        </div><br>
        <div class="content-2">
            <b>Knee Pain Causes:</b> Osteoarthritis, rheumatoid arthritis, post-traumatic arthritis, injury, overuse.
        </div><br>
        <div class="content-2">
            <b>Knee Pain Treatment:</b> Physical therapy, medications, lifestyle modifications, surgery.
        </div><br>
        <div class="content-2"><b>Knee Pain Reasons: </b>Degenerative joint disease, injuries, aging, overuse.
        </div><br>
        <div class="content-2">
            By replacing the damaged knee joint with a prosthetic one, TKR surgery can effectively reduce pain, improve function and enhance the overall quality of life for patients with severe knee issues.
        </div><br>
    </div>
    <div class="what-is-knee-replacement-image">
        <img class="knee-image-1" src="../../assets/knee-image-3.png">
    </div>
</div>
<div class="why-choose-knee-replacement">
    <div class="why-choose-knee-replacement-content">
        <div class="heading-2">
            How We Help at Rashtrotthana Hospital
        </div>
        <div class="content-2">
            At Rashtrotthana Hospital, we understand the importance of addressing knee joint pain causes and providing comprehensive care for patients requiring knee transplant surgery. Our team of expert orthopedic surgeons, state-of-the-art facilities and personalized treatment plans ensure that each patient receives the highest standard of care.
        </div><br>
        <b><div style="margin-bottom: 2rem; font-size: 18px;">Our Speciality in TKR Surgery</div></b>
        <div class="content-2">
            <ul>
                <li>
                    Expert Team: Our surgeons are highly experienced in performing TKR surgeries, having successfully conducted numerous procedures with excellent outcomes.
                    </li>
                <li>Advanced Technology: We utilize the latest surgical techniques and advanced technology to ensure precision and effectiveness in every TKR surgery..</li>
                <li>Personalized Care: Each patient receives a customized treatment plan tailored to their specific needs, ensuring the best possible results.</li>
                <li>Comprehensive Rehabilitation: Post-surgery, we provide thorough rehabilitation programs to help patients recover quickly and regain their mobility.</li>
            </ul>
        </div>
    </div>
    <div class="why-choose-knee-replacement-image">
        <img class="knee-image" src="../../assets/knee-image-4.png">
    </div>
</div>
<div class="success">
<div class="heading">
    From Knee Pain to Freedom: Our Success in TKR Surgeries
</div>
<div class="content-1">
    At Rashtrotthana Hospital, our commitment to excellence shines through in our track record of success in total knee replacement (TKR) surgeries. With over 100 successful TKR surgeries performed to date, our exceptional outcomes and satisfied patients underscore our expertise and dedication to knee replacement procedures.
</div>
</div>
<div class="success">
    <div class="heading-1">
        Real Stories of Recovery and Renewal!
    </div>
    <div>
        <ul>
            <li class="content-1">Meet Ms. Anuradha, our inspiring example! Just six weeks after knee replacement surgery on both knees, she's walking, climbing and living her best life! Her journey shows how knee replacement surgery can be life-changing.</li>
        </ul>
        <div style="text-align: center;" class="link-content">
            <a class="link" href="https://youtu.be/mp0IOxR5-xQ?si=6bl3MIvPMjM8fASP">The TRUTH About Knee Replacement Surgery - Anuradha's Amazing Recovery Story!</a>
        </div>
    </div>
    <div>
        <ul>
            <li class="content-1">Meet Ms. Anuradha, our inspiring example! Just six weeks after knee replacement surgery on both knees, she's walking, climbing and living her best life! Her journey shows how knee replacement surgery can be life-changing.</li>
        </ul>
        <div style="text-align: center" class="link-content">
            <a class="link" href="https://youtu.be/qcR4evvQ03Q?si=FWC90KBtKhCYAnfG">KNOW the truth about KNEE REPLACEMENT SURGERY! ✅</a>
        </div>
    </div>
    <div class="content-1">
        Knee replacement isn't a last resort; it's a way to get back your freedom and enjoy moving again. Whether it's due to arthritis, injury or other conditions, this surgery aims to relieve pain, improve function and make your life better.
    </div>
</div>
<div class="success">
    <div class="heading">
        Conclusion
    </div>
    <div class="content-1 conclusion">
        If you are suffering from severe knee pain and other knee pain treatments have not provided relief, TKR surgery at Rashtrotthana Hospital may be the solution you need. Our team is here to guide you through every step of the process, from initial consultation to post-surgery rehabilitation. Contact us today to schedule an appointment and take the first step towards a pain-free life. Don't let knee pain hold you back from enjoying life to the fullest.
    </div>
    </div>

    <div class="heading">
        <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
    </div>

    <div class="doc_container">
        <div class="doctors_flex">
          <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
            <div class="doc_1">
              <img [src]="slide.image" alt="{{ slide.name }}" />
              <p class="doc_name">{{ slide.name }}</p>
              <p class="designation">{{ slide.designation }}</p>
            </div>
          </div>
        </div>
      </div>

    <!-- youtube -->
    <div class="title-container testimonials">
        <app-title-button text='PATIENT TESTIMONIALS'></app-title-button>
    </div>
    <div class="youtube">
        <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/3_t5sd3Cy8w?si=7D-n3sHMz6-5BiPZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/qcR4evvQ03Q?si=6YaHJIzmuNZhCeJX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/mp0IOxR5-xQ?si=1JKtmiGQanrzyvpl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
</div>

