.rootContainer{
  background-color: #FBFFF4;
}

.container-1{
  /* position: relative; */
  margin-top: 120px;
}

.bannerIMage img{
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.tabBanner{
  display: none;
}

.mobileBanner{
  display: none;
}


.bannerButton{
  position: relative;
  bottom: 60px;
  margin-left: 3%;
}

.container_1_btn{
  border-radius: 8px;
  background: #FBCA51;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 10px 20px;
  height: 40px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.heading{
  color: #008080;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.para{
  color: #000;
  text-align: justify;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 15px;
}

.link{
  color: #008080;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.containerMargin{
  margin-top: 50px;
  padding: 0 5%;
}

.s_image{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.s_image img{
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.doc-heading{
  color: #222;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.doctors{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.doctor-container{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.youtube{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width : 1100px){
  .container_1_btn{
    font-size: 14px;
  }
}

@media (max-width : 800px){
  .tabBanner{
    display: block;
  }
  
  .mobileBanner{
    display: none;
  }

  .desktopBanner{
    display: none;
  }

  .container_1_btn{
    font-size: 14px;
  }

  .flex{
    flex-direction: column;
  }

  .column_reverse{
    display: flex;
    flex-direction: column-reverse;
  }

  .doc-heading{
    font-size: 32px;
  }
}

@media (max-width : 480px){
  .tabBanner{
    display: none;
  }

  .flex{
    gap: 40px;
  }

  .heading{
    font-size: 24px;
  }

  .para{
    font-size: 14px;
  }
  
  .mobileBanner{
    display: block;
  }

  .desktopBanner{
    display: none;
  }

  .container_1_btn{
    font-size: 12px;
  }

  .bannerButton{
    bottom: 50px;
  }

  .s_image img{
    width: 300px;
    height: auto;
  }

  .doc-heading{
    font-size: 24px;
  }

  .youtube{
    gap: 50px;
  }
}