<div class="root-container">
    <app-speciality-header main_heading="Rheumatology " />

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>

        <div class="contents">
            <h1 class="s_h1">Rheumatology Hospital in Bangalore</h1>
            <div class="para_image">
                <div class="s_content">
                    <h2 class="s_subheadings">Comprehensive Care for Arthritis, Autoimmune Diseases and Joint Pain</h2>
                    <div class="s_para">Rheumatology is a specialized branch of medicine that deals with autoimmune,
                        inflammatory and musculoskeletal disorders affecting the joints, bones and connective tissues.
                        These
                        conditions can lead to chronic pain, stiffness, swelling and reduced mobility, significantly
                        impacting daily life. At Rashtrotthana Hospital, we offer expert <a href="https://en.wikipedia.org/wiki/Rheumatology" target="_blank">rheumatology</a> care to diagnose,
                        treat and manage a wide range of rheumatic and autoimmune diseases, helping patients improve
                        their
                        quality of life and prevent long-term complications.</div>
                    <div class="s_para">Our Rheumatology Department specializes in the treatment of conditions such as
                        rheumatoid arthritis, osteoarthritis, psoriatic arthritis, lupus, vasculitis, osteoporosis and
                        gout.
                        Early diagnosis and intervention play a crucial role in reducing inflammation, slowing disease
                        progression and preventing joint damage. We use advanced diagnostic techniques, including blood
                        tests, autoimmune screenings, imaging studies and inflammatory markers, to provide accurate
                        diagnoses and customized treatment plans.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/joint-pain-treatment-at-rashtrotthana-hospital.jpg" alt="Rheumatologist treating arthritis patient">
                </div>
            </div>

            <div class="para_image row-reverse">
                <div class="s_image">
                    <img src="../../assets/rheumatologist-treating-arthritis-patient.jpg" alt="Rheumatologist treating arthritis patient">
                </div>
                <div class="s_content">
                    <h2 class="s_subheadings">Conditions We Treat</h2>
                    <div class="s_para">Our expert team provides specialized care for a wide range of rheumatic
                        conditions,
                        including:</div>
                    <ul>
                        <li class="s_para"><b>Arthritis & Joint Disorders</b> - Rheumatoid Arthritis, Osteoarthritis,
                            Psoriatic <a href="https://en.wikipedia.org/wiki/Arthritis" target="_blank">Arthritis</a>, Ankylosing Spondylitis and Gout</li>
                        <li class="s_para"><b>Connective Tissue Diseases</b> - Lupus, Sjogren’s Syndrome, Systemic
                            Sclerosis
                        </li>
                        <li class="s_para"><b>Vasculitis & Inflammatory Disorders</b> - Blood Vessel Inflammation,
                            Sarcoidosis</li>
                        <li class="s_para"><b>Bone Health & Metabolic Disorders</b> - Osteoporosis, Osteopenia, Vitamin
                            D
                            Deficiency</li>
                        <li class="s_para"><b>Recurrent Pregnancy Losses</b> - Autoimmune-related pregnancy
                            complications
                        </li>
                    </ul>
                </div>
            </div>

            <div class="para_image">
                <div class="s_content">
                    <h2 class="s_subheadings">Why Choose Rashtrotthana Hospital for Rheumatology?</h2>
                    <ul>
                        <li class="s_para"><b>Expert Rheumatology Care</b> - Specializing in autoimmune diseases,
                            arthritis
                            treatment and chronic pain management.</li>
                        <li class="s_para"><b>Comprehensive Diagnostic Approach</b> - Utilizing advanced imaging,
                            autoimmune
                            screenings and lab tests for accurate diagnosis.</li>
                        <li class="s_para"><b>Cutting-Edge Treatment Protocols</b> - Offering biologic therapies,
                            disease-modifying drugs and lifestyle interventions</li>
                        <li class="s_para"><b>Holistic & Personalized Care</b> - Customizing treatment plans to improve
                            overall well-being and joint function</li>
                    </ul>
                </div>
                <div class="s_image">
                    <img src="../../assets/joint-pain-hopital-near-me.jpg" alt="Joint pain hopital near me">
                </div>
            </div>

            <!-- <div class="para_image">
        <div class="s_image">
            <img src="" alt="">
        </div>
        <div class="s_content">
            <h2 class="s_subheadings"></h2>
            <div class="s_para"></div>
        </div>
    </div> -->

        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Advanced Treatment & Personalized Care</h2>
            <div class="s_para">At Rashtrotthana Hospital, we take a patient-first approach to ensure the most
                effective treatment for every individual. Our team offers comprehensive and evidence-based
                treatments, including:</div>
            <ul>
                <li class="s_para"><b>Early Arthritis Diagnosis & Management</b> - Detecting arthritis in its
                    initial stages for better long-term outcomes.</li>
                <li class="s_para"><b>Biologic & Immunosuppressive Therapies</b> - Targeted treatments to
                    control
                    autoimmune diseases and prevent disease progression.</li>
                <li class="s_para"><b>Pain Management & Joint Care</b> - Personalized medication plans to reduce
                    inflammation, relieve pain and restore mobility</li>
                <li class="s_para"><b>Lifestyle Modifications & Rehabilitation</b> - Guidance on exercise,
                    physiotherapy, diet and bone health management</li>
                <li class="s_para"><b>Multidisciplinary Collaboration</b> - Coordination with orthopedics,
                    nephrology, pulmonology and physiotherapy for holistic care</li>
            </ul>
        </div>
        <div class="s_image">
            <img src="../../assets/joint-pain-hoapital-in-bangalore.jpg" alt="Joint pain hoapital in bangalore">
        </div>
    </div>

    <div class="para_image container-padding container-margin">
        <div class="s_content">
            <h2 class="s_subheadings">Take the First Step Towards Better Joint Health</h2>
            <div class="s_para">If you are experiencing joint pain, swelling, stiffness, fatigue, or difficulty in
                movement,
                seeking early medical intervention can help prevent complications and improve long-term health. Book an
                appointment today at Rashtrotthana Hospital to receive expert rheumatology care tailored to your needs.
            </div>
        </div>
    </div>

    <div class="doc-container container-padding container-margin">
        <div class="doctors">
            <div class="doc-heading">Meet Our Medical Team</div>
            <div class="doctor-container">
                <div *ngFor="let doctor of doctors">
                    <app-speciality-doctors [name]="doctor.doctor_name" [experience]="doctor.experience"
                        [image]="doctor.doctor_image" [alt]="doctor.docalt"></app-speciality-doctors>
                </div>
            </div>
        </div>
    </div>
</div>