<div class="main-container">
    <div style="margin-top:17vh" >
        <img class="banner-image" src='../../assets/radiology-bg.png'>
    </div>
    <div class="heading">
        Radiology Services
    </div>
    <div class="facility">
        <div class="facility-content">
            <div class="heading-container">Radiology Services</div>
            <div class="content-container" >
                <div class="content">
                    Rashtrotthana Hospital offers a wide range of radiology services to assist in accurate diagnosis and treatment planning. Cutting-edge imaging technology, including <a href="https://en.wikipedia.org/wiki/X-ray">X-rays</a>, ultrasounds, MRIs and CT scans, equips our advanced radiology department. Our team of experienced radiologists conducts each procedure with precision and care, providing reliable results for informed decision-making by our medical professionals.
                </div>
                <div class="side-heading">
                    Comprehensive diagnostic imaging solutions:
                </div>
                <div class="content">
                    Our radiology department provides comprehensive diagnostic imaging solutions to meet various medical needs. From detecting fractures and internal injuries to screening for underlying health conditions, our advanced imaging services offer invaluable insights. With a focus on timely and accurate diagnosis, we aim to support effective healthcare management and improve patient outcomes.
                </div>
                <div class="side-heading">
                Patient-Focused Approach and Timely Results:
                </div>
                <div class="content">
                    At Rashtrotthana Hospital, we prioritize patient satisfaction and well-being. We have designed our radiology services with your comfort and convenience in mind. From scheduling appointments to delivering prompt results, we ensure a seamless experience for our patients. With our patient-focused approach and commitment to excellence, you can rely on us for accurate diagnostics and personalized care.
                </div>
            </div>
            <div class="Meet_Medical_Team">
                <!-- heading -->
                <h2 class="mmt_heading">Meet Our Medical Team</h2>
                <!-- doctor image and name -->
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-59.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Nagesh R</p>
                        <p class="exp">Years of Experience: 10</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-58.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr Nishitha A</p>
                        <p class="exp">Years of Experience: 1+</p>
                    </div>
                    </div>
                <!-- view all button -->
                <div class="view_all_btn_box">
                    <app-arrow-btn></app-arrow-btn>
                </div>
          
        </div>
        </div>
        <div>
            <div class="o_menu">
                <!-- menu heading -->
                <div class="gm_m_heading">
                    <span class="more_specs">More Facilities</span>
                </div>
                <!-- menu contents -->
                <div class="menu_contents">
                    <div class="op_names">
                        <!-- general medicine -->
                        <div class="menu_list_box" routerLink="/facility/health-insurance-plans-bangalore" routerLinkActive="active">
                            <p class="menu_list general_medicine">Insurance</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- general Surgery -->
                        <div class="menu_list_box"routerLink="/facility/best-emergency-trauma-multispeciality-hospital-bangalore" routerLinkActive="active">
                            <p class="menu_list general_Surgery">Emergency & Trauma Care</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Obstetrics & Gynaecology -->
                        <div class="menu_list_box"routerLink="/facility/inpatient-facility-bangalore" routerLinkActive="active">
                            <p class="menu_list Obstetrics_Gynaecology">In-patient facility</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Paediatrics & Neonatology -->
                        <div class="menu_list_box" routerLink="/facility/best-kidney-dialysis-multispeciality-hospital-bangalore" routerLinkActive="active">
                            <p class="menu_list Paediatrics_Neonatology">Dialysis Unit</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Nephrology -->
                        <div class="menu_list_box" routerLink="/facility/operation-theatre-bangalore" routerLinkActive="active" >
                            <p class="menu_list Nephrology">Operation Theatre</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Urology -->
                        <div class="menu_list_box" routerLink="/facility/best-intensive-care-unit-multispeciality-hospital-bangalore" routerLinkActive="active">
                            <p class="menu_list Urology">ICU</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Orthopedics -->
                        <div class="menu_list_box" routerLink="/facility/top-diagnostics-multi-speciality-hospital-bangalore" routerLinkActive="active">
                            <p class="menu_list Orthopedics">Radiology Services</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Gastrosciences -->
                        <!-- Cardiac Sciences -->
                        <div class="menu_list_box" routerLink="/facility/24-hours-pharmacy-store-bangalore" routerLinkActive="active">
                            <p class="menu_list Cardiac_Sciences">Pharmacy</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Pulmonology -->
                        <div class="menu_list_box" routerLink="/facility/best-ambulance-service-rashtrotthana-hospital-bangalore" routerLinkActive="active">
                            <p class="menu_list Pulmonology">Ambulance Services</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Ophthalmology -->
                        <div class="menu_list_box" routerLink="/facility/dietary-services-bangalore" routerLinkActive="active">
                            <p class="menu_list Ophthalmology">Dietary</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Dental Sciences -->
                        <div class="menu_list_box" routerLink="/facility/physiotherapy-services-bangalore" routerLinkActive="active">
                            <p class="menu_list Dental_Sciences">Physiotherapy</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- ENT -->
                        <div class="menu_list_box" routerLink="/facility/laboratory-services-bangalore" routerLinkActive="active">
                            <p class="menu_list ENT">Laboratory Services</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Neurosciences -->
                        <div class="menu_list_box" routerLink="/facility/endoscopy-services-bangalore" routerLinkActive="active">
                            <p class="menu_list Neurosciences">Endoscopy</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                        <!-- Endocrinology -->
                        <div class="menu_list_box" routerLink="/facility/nutrition-dietetics-services-bangalore" routerLinkActive="active">
                            <p class="menu_list Endocrinology">Nutrition & Dietetics</p>
                            <i class="fa-solid fa-angle-down arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    