<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/internal-medicine-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/internal-medicine-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best Internal Medicine Care in Bangalore</h1>

            <div class="para_image">
                <div class="s_content">
                    <p class="s_para">A sudden fever that won’t go away, a dry cough that lingers, or ongoing cold and
                        flu symptoms can disrupt your daily life. Sometimes it’s even long-term conditions like diabetes
                        or high blood pressure that need constant care. At Rashtrotthana Hospital, our general medicine
                        doctors in Bangalore are the first point of contact for families looking for affordable and
                        trusted care.</p>
                    <p class="s_para">We are recognized among the best hospitals in Bangalore for common cold and flu
                        treatment and are known for comprehensive care for diabetes and chronic diseases with a
                        patient-first approach. </p>
                </div>
                <div class="s_image">
                    <img src="../../assets/internal-medicine.png" alt="Internal Medicine">
                </div>
            </div>

            <div class="contents container-margin">
                <h2 class="s_subheadings">Your First Stop for Everyday and Chronic Health Issues</h2>

                <div class="para_image row-reverse">
                    <div class="s_image">
                        <img src="../../assets/best-general-physician-near-me.png" alt="Best General Physician Near Me">
                    </div>
                    <div class="s_content">
                        <p class="s_para">General medicine, also known as internal medicine, is all about adult health
                            care. Here, we treat everything from cold and flu to chronic diseases like diabetes,
                            hypertension, and thyroid problems. Many of our patients walk in thinking it’s “just a
                            seasonal fever” or “probably allergies,” but early evaluation helps us catch bigger issues
                            before they become serious.</p>
                        <p class="s_para">If you’ve been searching for the best general medicine doctor near me or a
                            general family doctor in Bangalore who can handle multiple concerns in one visit, our
                            department is designed exactly for that.</p>
                    </div>
                </div>
            </div>

            <div class="s_contents container-margin">
                <h2 class="s_subheadings">When Should You See a General Medicine Doctor?</h2>

                <div class="para_image">
                    <div class="s_content">

                        <p class="s_para">General medicine doctors, also called internal medicine specialists, treat
                            everyday health issues and guide you if you need further specialty care. Visit us if you
                            have:
                        </p>
                        <ul class="grid">
                            <li class="s_para">High fever or temperature not improving in 2-3 days</li>
                            <li class="s_para">Dry cough, cold or flu-like symptoms</li>
                            <li class="s_para">Typhoid disease or stomach infections</li>
                            <li class="s_para">Diabetes or sugar level monitoring</li>
                            <li class="s_para">Allergies, mild asthma or breathing difficulties</li>
                            <li class="s_para">Ongoing chronic diseases like hypertension or thyroid issues</li>
                        </ul>
                        <p class="s_para">If you’re unsure where to begin, start with general medicine - we assess,
                            diagnose
                            and refer you to other specialists if needed.</p>
                    </div>
                    <div class="s_image">
                        <img src="../../assets/ceneral-health-doctor.png" alt="Ceneral Health Doctor">
                    </div>
                </div>
            </div>

            <div class="contents container-margin">
                <h2 class="s_subheadings">Conditions We Commonly Treat</h2>
                <div class="para_image row-reverse">
                    <div class="s_image">
                        <img src="../../assets/family-health-specialist.png" alt="Cold, Headache and Flu Treatment">
                    </div>
                    <div class="s_content">
                        <div class="s_para">Our general medicine hospital in Bangalore manages both acute illnesses and
                            long-term conditions, including:</div>

                        <ul class="grid">
                            <li class="s_para">Fever, common cold and flu treatment</li>
                            <li class="s_para">Best doctor for dry cough and allergies in Bangalore</li>
                            <li class="s_para">Typhoid disease diagnosis and treatment in Bangalore</li>
                            <li class="s_para">Diabetes and sugar checkups with follow-up care</li>
                            <li class="s_para">Chronic diseases management including thyroid and blood pressure</li>
                            <li class="s_para">Comprehensive chronic disease care in Bangalore multispeciality hospital
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents_2">

        <div class="para_image container-padding">
            <div class="s_content">
                <h2 class="s_subheadings">Why Choose Rashtrotthana Hospital for General Medicine?</h2>
                <div>
                    <ul class="grid">
                        <li class="s_para">Experienced internal medicine specialists for accurate diagnosis and
                            effective care</li>
                        <li class="s_para">24/7 support for emergencies like fever, dehydration, or infections</li>
                        <li class="s_para">Multispecialty support with quick referrals to cardiology, pulmonology or
                            endocrinology</li>
                        <li class="s_para">Affordable consultations and treatments for families managing multiple health
                            needs</li>
                        <li class="s_para">Preventive care focus to detect and manage conditions early</li>
                    </ul>
                </div>
            </div>
            <div class="s_image" style="width: 30%; display: flex; justify-content: center;">
                <img src="../../assets/images/best_general_medicine_treatment_in_bengaluru.png"
                    alt="Allergy Specialist in RR Nagar Bangalore">
            </div>
        </div>

        <div class="para_image container-padding container-margin" style="margin-bottom: 40px;">
            <div class="s_image row-reverse">
                <img src="../../assets/experienced-general-physicians-in -rr-nagar-bangalore.png"
                    alt="Experienced General Physicians in RR Nagar Bangalore">
                <img src="../../assets/sctheoscope-rashtrotthan-hospital-bangalore.jpg" alt="Scthoscope Image Rashtortthana Hospital">
            </div>
            <div class="s_content">
                <h2 class="s_subheadings">How We Help You Recover</h2>
                <p class="s_para">We keep our care simple and practical:</p>
                <ul class="">
                    <li class="s_para"><b>Diagnosis</b>: Checking symptoms, recommending tests only when needed (blood
                        tests, scans).</li>
                    <li class="s_para"><b>Treatment</b>: Medicines, lifestyle advice and regular follow-up for full
                        recovery.</li>
                    <li class="s_para"><b>Prevention</b>: Tips to avoid repeated illnesses and manage chronic conditions
                        better.</li>
                </ul>
            </div>
        </div>

        <div class="para_image container-padding container-margin" style="margin-bottom: 40px;">
            <div class="s_content">
                <h2 class="s_subheadings">Affordable Care for Everyday Health Problems</h2>
                <p class="s_para">We ensure affordable general medicine consultations in Bangalore, especially for
                    diabetes, typhoid disease, dry cough and allergies. Patients trust us for comprehensive chronic
                    disease care and complete family health support - all in one hospital.</p>
            </div>
        </div>

        <div class="para_image container-padding container-margin" style="margin-bottom: 40px;">
            <div class="s_content">
                <h2 class="s_subheadings">Visit Rashtrotthana Hospital Today</h2>
                <p class="s_para">Don’t wait for symptoms like persistent fever, chronic cough or fatigue to worsen.
                    Visit the General Medicine department at Rashtrotthana Hospital for accurate diagnosis, affordable
                    treatment and ongoing support for chronic diseases. </p>
            </div>
        </div>
    </div>
    
    <div class="form-container container-padding">
        <div class="form">
            <app-speciality-form [doctor]="formDoctors" />
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.name" [experience]="doctor.experience" [image]="doctor.image"
                    [alt]="doctor.alttext"></app-speciality-doctors>
            </div>
        </div>
    </div>

    <!-- faq -->
    <div class="faq">
        <div class="faq-heading" style="margin-top: 30px;">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>