<div class="root-container">
    <div class="speciality-header">
        <img src="../../assets/internal-medicine-banner-desktop.jpg" class="desktop"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <img src="../../assets/internal-medicine-banner.jpg" class="mobile"
            alt="ENT Department care banner at Rashtrotthana Hospital, Bangalore">
        <div class="header_button">
            <a href="tel:+918069239999" class="contact_button" (click)="trackPhoneClick()">Contact Now</a>
        </div>
    </div>

    <div class="container-2">
        <div class="sidebar">
            <app-sidebar />
        </div>
        <div class="contents">
            <h1 class="s_h1">Best Internal Medicine Hospital in RR Nagar Bangalore | Expert General Physicians</h1>

            <div class="para_image">
                <div class="s_content">
                    <div class="s_para">The Internal Medicine Department at Rashtrotthana Hospital is dedicated to delivering comprehensive healthcare solutions, making it the Best Internal Medicine Hospital in RR Nagar Bangalore. Our expert General Medical Specialists in RR Nagar Bangalore focus on diagnosing, treating and managing a wide range of acute and chronic conditions, ensuring that patients receive top-tier medical care.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/internal-medicine.png" alt="Internal Medicine">
                </div>
            </div>

            <div class="para_image row-reverse">
                <div class="s_image">
                    <img src="../../assets/best-general-physician-near-me.png" alt="Best General Physician Near Me">
                </div>
                <div class="s_content">
                    <h2 class="s_subheadings">Expert Care for Chronic & Acute Health Conditions</h2>
                    <div class="s_para">Our Experienced General Physicians in RR Nagar Bangalore specialize in treating diabetes, hypertension, cardiovascular diseases, respiratory disorders and other chronic illnesses. As one of the Best Internal Medicine Hospitals in RR Nagar Bangalore, we also provide top-notch care for infectious diseases, including cold, fever, headache, flu and allergies.</div>
                </div>
            </div>

            <div class="para_image">
                <div class="s_content">
                    <h2 class="s_subheadings">Advanced Diagnosis & Personalized Treatment</h2>
                    <div class="s_para">We utilize cutting-edge diagnostic tools, including imaging, blood panels and metabolic testing, ensuring accurate and early diagnosis. Our hospital is known as the Best Hospital in RR Nagar Bangalore for Fever with Cough and Cold, offering 24/7 emergency services to handle urgent health conditions.</div>
                </div>
                <div class="s_image">
                    <img src="../../assets/ceneral-health-doctor.png" alt="Ceneral Health Doctor">
                </div>
            </div>

            <div class="para_image row-reverse">
                <div class="s_image">
                    <img src="../../assets/family-health-specialist.png" alt="Cold, Headache and Flu Treatment">
                </div>
                <div class="s_content">
                    <h2 class="s_subheadings">Preventive Healthcare & Health Check-ups</h2>
                    <div class="s_para">At Rashtrotthana Hospital, our team emphasizes preventive healthcare with routine screenings and health assessments. As the Best Hospital for Health Check-ups in Rajarajeshwari Nagar Bangalore, we help patients detect potential health risks early and adopt preventive strategies.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents_2">

        <div class="para_image container-padding">
            <div class="s_content">
                <h2 class="s_subheadings">Why Choose Us?</h2>
                <div>
                    <ul>
                        <li class="s_para">Best Physicians in RR Nagar Bangalore for comprehensive healthcare.</li>
                        <li class="s_para">General Health Doctors with vast experience in treating cold, fever, flu and allergies.</li>
                        <li class="s_para">Best Health Consultants in Rajarajeshwari Nagar Bangalore for chronic disease management.</li>
                        <li class="s_para">Top Family Health Specialists for long-term well-being.</li>
                        <li class="s_para">Best Diabetes Hospital in RR Nagar Bangalore, providing advanced <a routerLink="/health-check-up-packages-bangalore">diabetic care</a> solutions.</li>
                    </ul>
                </div>
            </div>
            <div class="s_image" style="width: 30%; display: flex; justify-content: center;">
                <img src="../../assets/images/best_general_medicine_treatment_in_bengaluru.png" alt="Allergy Specialist in RR Nagar Bangalore">
            </div>
        </div>

        <div class="para_image container-padding container-margin" style="margin-bottom: 40px;">
            <div class="s_image row-reverse">
                <img src="../../assets/experienced-general-physicians-in -rr-nagar-bangalore.png" alt="Experienced General Physicians in RR Nagar Bangalore">
            </div>
            <div class="s_content">
                <h2 class="s_subheadings">Multispeciality Care with Expert Physicians</h2>
                <div class="s_para">Being one of the Best Multispeciality Hospitals in Bangalore, we offer specialized services such as diabetes management, allergy treatment and cardiovascular care. Our Allergy Specialists in RR Nagar Bangalore provide effective solutions for seasonal allergies and respiratory issues, ensuring long-term relief.</div>
            </div>
        </div>
    </div>

    <!-- doctors -->
    <div class="doctors">
        <div class="doc-heading">Meet Our Medical Team</div>
        <div class="doctor-container">
            <div *ngFor="let doctor of doctors">
                <app-speciality-doctors [name]="doctor.name" [experience]="doctor.experience"
                    [image]="doctor.image" [alt]="doctor.alttext"></app-speciality-doctors>
            </div>
        </div>
    </div>

     <!-- faq -->
    <div class="faq">
        <div class="faq-heading"  style="margin-top: 30px;">FAQs</div>
        <div class="ques_ans" *ngFor="let faq of faqs; let i = index">
            <div style="color: #008080;" class="ques s_para"><b>Q{{i+1}}. {{faq.ques}}</b></div>
            <div class="ans s_para">{{faq.ans}}</div>
        </div>
    </div>
</div>