<div class="main_container">
    <div class="gm_poster">
            <h2 class="o_heading">Internal Medicine</h2>
            <P class="o_info">Leading the way with 15+ specialties in modern medicine.</P>
    </div>
    <!-- common box or container for menu and content, "dispaly: flex" -->
    <div class="menu_n_content"> 
        <!-- menu -->
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">more Specialties</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/specialities/internal-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Internal medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/specialities/best-general-surgery-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">General Surgery</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/specialities/best-obstetrics-and-gynecologist-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">Obstetrics & Gynaecology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box"routerLink="/specialities/best-paediatric-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Paediatrics & Neonatology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box"routerLink="/specialities/best-nephrology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Nephrology">Nephrology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box"routerLink="/specialities/best-urology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">Urology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box"routerLink="/specialities/best-orthopaedics-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Orthopaedics</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-gastroenterology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Gastrosciences">Gastrosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-cardiology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Cardiac Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box"routerLink="/specialities/best-pulmonology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Pulmonology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box"routerLink="/specialities/best-eye-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Ophthalmology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-dental-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Dental Sciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box"routerLink="/specialities/best-ent-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">ENT</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box"routerLink="/specialities/best-neurology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Neurosciences</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box"routerLink="/specialities/best-endocrinology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Endocrinology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Psychiatry -->
                    <div class="menu_list_box"routerLink="/specialities/best-pshychiatry-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Psychiatry">Psychiatry</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Oncology -->
                    <div class="menu_list_box"routerLink="/specialities/best-oncology-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list Oncology">Oncology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- Anesthesiology -->
                    <div class="menu_list_box"routerLink="/specialities/best-anesthesiology-hospital-in-india" routerLinkActive="active">
                        <p class="menu_list Anesthesiology">Anesthesiology</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <!-- emergency medicine -->
                    <div class="menu_list_box"routerLink="/specialities/best-emergency-medicine-hospital-in-bangalore" routerLinkActive="active">
                        <p class="menu_list emergency_medicine">Emergency Medicine</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->
        <div class="o_container">
            <!-- general medicine heading -->
            <div class="o_h_general_medicine">
                <p class="o_h_heading">Internal Medicine</p>
            </div>
            <!-- paragraph and image -->
            <div class="con_n_img">
                <div>
                    <p class="gm_content">The Internal Medicine Department at Rashtrotthana Hospital is dedicated to providing comprehensive, patient-focused care for a wide range of adult health concerns. Our specialists are skilled in diagnosing, treating and managing both acute and chronic conditions, ensuring patients receive long-term support for their wellness journey. Common conditions managed by our team include <a href="https://en.wikipedia.org/wiki/Chronic_condition">chronic illnesses</a> such as diabetes, hypertension, cardiovascular diseases and respiratory disorders. Our expertise extends to infectious diseases, including respiratory infections and viral illnesses, as well as preventive care measures like screenings and health assessments to identify risk factors early and promote preventive healthcare.</p>
                    <p class="gm_content">Our hospital offers advanced diagnostic and treatment options, utilizing cutting-edge imaging tools, blood panels and metabolic testing to guarantee accuracy in diagnosis. We prioritize patient safety with 24/7 emergency services, available for immediate response to acute health needs and provide preoperative and postoperative care to ensure a smooth recovery process. Our internal medicine team places great emphasis on empathy and individualised care, leveraging the latest in medical research and technology to deliver optimal outcomes for each patient. For those seeking expert guidance in managing chronic conditions or overall health, scheduling a consultation with our specialists is the first step towards a healthier life.</p>
                </div>
                <img src="../../assets/images/Gm_page_img.jfif" alt="General Medicine" class="gm_o_image">
            </div>
            <!-- Meet our medical team -->
            <div class="Meet_Medical_Team">
                <!-- heading -->
                <h2 classs="mmt_heading">Meet Our Medical Team</h2>
                <!-- doctor image and name -->
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-49.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. H. M. Krishnamurthy</p>
                        <p class="exp">Years of Experience: 36</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-20.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Sindhu P. Madanshetty</p>
                        <p class="exp">Years of Experience: 9</p>
                    </div>

                    
                </div>
                <div class="doc_common_box">                        
                    <div class="doc_details">
                        <img src="../../assets/doctor-46.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Harshitha R</p>
                        <p class="exp">Years of Experience: 3</p>
                    </div>
                    <div class="doc_details">
                        <img src="../../assets/doctor-47.png" alt="">   <!-- doctor image -->
                        <p class="doc_name">Dr. Bhavya</p>
                        <p class="exp">Years of Experience: 7</p>
                    </div>
                    
                    
                </div>
                <!-- view all button -->
                <div class="view_all_btn_box">
                    <app-arrow-btn></app-arrow-btn>
                </div>
            </div>
        </div>
    </div>
</div>

