.root_container {
    padding: 0;
    margin: 0;
    background-color: #FBFFF5;
}

/* container 1 */

.container_1{
    margin-top: 120px;
}

.Proctology_Poster_Desktop{
    width: 100%;
    height: 100%;
}

.Proctology_Poster_Tablet{
    display: none;
}

.Proctology_Poster_Mobile{
    display: none;
}

.Book_appointment_btn{
    position: relative;
    bottom: 100px;
}

.container_1_btn {
    display: inline-flex;
    height: 52px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #fbca51;
    color: #ffffff;
    border: none;
    margin-left: 50px; 
}

/* container 2 */


.container_2{
    padding: 5% 7% 0 7%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.image img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.para{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.6%; /* 25.308px */
    margin-top: 15px;
}

.heading{
    color: #008080;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.con-margin{
    margin-top: 20px;
}

.para-margin{
    margin-top: 15px;
}


.doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.doctor-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.doctor_heading {
    margin: 40px 0;
    font-size: 30px;
    font-family: poppins;
    font-weight: 700;
    text-align: center;
}

.doctors_flex {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.doc_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: -25px 25px 0 rgb(218, 218, 218);
    width: 250px;
    background-color: #ffffff;
}

.doc_1 img {
    width: 250px;
    height: 250px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.doc_name {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    margin-top: 20px;
    font-weight: 700;
}

.section,
.designation,
.department {
    color: #0392CE;
    font-family: Inter, sans-serif;
}

.doc_Exp {
    font-family: "inter";
    font-size: 14px;
    font-weight: 400;
}

.view_all_btn_box {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.flex iframe{
    width: 480px;
    height: 310px;
}

@media only screen and (max-width: 1300px){

    .Proctology_Poster_Desktop{
        display: none;
    }
    
    .Proctology_Poster_Tablet{
        display: block;
        width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 500px){
    .Book_appointment_btn{
        bottom: 0px;
    }

    .para{
        font-size: 12px;
    }

    .heading{
        font-size: 24px;
    }

    .image img{
        width: 300px;
    }

    .con_margin{
        margin-top: 30px;
    }
    
    .para_margin{
        margin-top: 10px;
    }

    .flex{
        flex-direction: column;
        gap: 30px;
    }

    .col-rev{
        display: flex;
        flex-direction: column-reverse;
    }

    .flex iframe{
        width: 300px;
        height: 200px;
    }
}

@media only screen and (max-width: 440px){
    /* container 1 */


    .container_1_btn{
        margin-left: 10px;
        padding: 10px 9px;
    }
}