<div class="root_container">

    <!-- container 1 -->

    <div class="container_1">
        <img src="../../assets/Proctology_Hernia_Assets/Proctology_Poster_Desktop.png" alt="" class="Proctology_Poster_Desktop">
        <img src="../../assets/Proctology_Hernia_Assets/Proctology_Poster_Tablet.png" alt="" class="Proctology_Poster_Tablet">
        <img src="../../assets/Proctology_Hernia_Assets/Proctology_poster_mobile.png" alt="" class="Proctology_Poster_Mobile">
    </div>

    <div class="Book_appointment_btn">
        <button class="container_1_btn">Book your appointment at discounted price <i class="fa-solid fa-angle-right"></i></button>
    </div>

    <!-- container 2 -->

    <div class="container_2">
        <p class="con_2_head_txt">What is Proctology?</p>
        <p class="para_txt">Proctology, a highly specialized area of medicine also known as colorectal surgery, is a medical specialty focused on diagnosing and treating disorders of the rectum, anus and colon.</p>
    </div>

    <!-- container 3 -->

    <div class="container_3">
        <!-- container 3 image -->
        <div class="con_3_img">
            <img src="../../assets/Proctology_Hernia_Assets/Proctology_container_3_image.png" alt="">
        </div>
        <!-- container 3 content -->
        <div class="con_3_content">
            <p class="con_3_head">What is Proctology?</p>
            <p class="con_3_para">Colorectal surgeons treat intestinal tract disorders. This tract consists of the colon, rectum, anal canal and perianal area. The intestinal tract's conditions include:</p>
            <ul class="con_3_list">
                <li class="con_3_list_item">
                    <span class="con_3_property">Abscesses and fistulae: </span>
                    <span class="con_3_value">These are infections near the anus and rectum</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Anal skin tags: </span>
                    <span class="con_3_value">These are small skin bumps around the anus.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Colon and rectal cancer: </span>
                    <span class="con_3_value">This cancer begins in the colon or rectum.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Diverticulitis: </span>
                    <span class="con_3_value">This is a disease that causes pouches to form in weak spots along the digestive tract.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Fissures: </span>
                    <span class="con_3_value">These are small tears in the anal lining.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Hemorrhoids: </span>
                    <span class="con_3_value">These are swollen veins that can form internally or externally around the anus.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Inflammatory bowel disease (IBD):</span>
                    <span class="con_3_value">IBD is a group of inflammatory disorders that includes ulcerative colitis and Crohn’s disease.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Irritable bowel syndrome (IBS): </span>
                    <span class="con_3_value">IBS is a group of intestinal symptoms unrelated to IBD that can include bloating, cramping, constipation and diarrhea.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Polyps: </span>
                    <span class="con_3_value">These are precancerous growths that have the potential to become colorectal cancer.</span>
                </li>
                <li class="con_3_list_item">
                    <span class="con_3_property">Rectal prolapse: </span>
                    <span class="con_3_value">This is a condition in which the rectum begins to fall from its position into the anal opening.</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- container 4 -->

    <div class="container_4">
        <!-- container 4 content -->
        <div class="con_4_content">
            <p class="con_4_head_1">Additionally, colorectal surgeons can treat sexually transmitted infections (STIs), including:</p>
            <ul class="con_4_list_1">
                <li class="list_1_items">Chlamydia</li>
                <li class="list_1_items">Genital herpes</li>
                <li class="list_1_items">Gonorrhea</li>
                <li class="list_1_items">Syphilis</li>
            </ul>
            <p class="con_4_head_2">When to See a Proctologist:</p>
            <p class="con_4_head_3">You should see a proctologist if you have diseases concerning:</p>
            <ul class="con_4_list_2">
                <li class="list_2_items">Persistent rectal pain or bleeding</li>
                <li class="list_2_items">Anal itching or burning</li>
                <li class="list_2_items">Changes in bowel habits, such as chronic constipation or diarrhea</li>
                <li class="list_2_items">Unexplained weight loss or fatigue</li>
                <li class="list_2_items">Lumps or swelling around the anus</li>
                <li class="list_2_items">Severe abdominal pain or cramping</li>
            </ul>
            <p class="con_4_para">Our colorectal surgeons fully understand your symptoms in order to accurately diagnose and determine the best treatments. Open communication is crucial; without it, you might face unnecessary tests or delayed treatment, which can impact your health. Discussing rectal, anal and gastrointestinal issues can be sensitive, but our experienced surgeons are trained to listen without judgment and handle these discussions daily. By openly sharing your symptoms, you help us provide accurate and effective care, ensuring your health and well-being remain our top priorities.</p>
        </div>
        <!-- container 4 image -->
        <div class="con_4_img">
            <img src="../../assets/Proctology_Hernia_Assets/Proctology_container_4_image.png" alt="">
        </div>
    </div>

    <!-- container 5 -->

    <div class="container_5">
        <!-- container 5 image -->
        <div class="con_5_img">
            <img src="../../assets/Proctology_Hernia_Assets/Proctology_container_5_image.png" alt="">
        </div>
        <!-- container 5 content -->
         <div class="con_5_content">
            <p class="con_5_heading_1">Diagnostic and Treatment Options: </p>
            <p class="con_5_heading_2">Colorectal surgeons are trained to perform a variety of diagnostic tests and surgical procedures:</p>
            <ul class="con_5_lists">
                <li class="con_5_list_item">
                    <span class="property_list">Anoscopy: </span>
                    <span class="value_list">This procedure helps identify abnormalities in the anus and rectum.</span>
                </li>
                <li class="con_5_list_item">
                    <span class="property_list">Colonoscopy: </span>
                    <span class="value_list">During a colonoscopy, the doctor examines the entire colon and screens for colorectal cancer. They may also remove polyps</span>
                </li>
                <li class="con_5_list_item">
                    <span class="property_list">Digital rectal exams: </span>
                    <span class="value_list">During this physical examination, the doctor uses their fingers to examine the lower rectum and prostate.</span>
                </li>
                <li class="con_5_list_item">
                    <span class="property_list">Endorectal ultrasound: </span>
                    <span class="value_list">This is an imaging test to help diagnose colorectal cancer.</span>
                </li>
                <li class="con_5_list_item">
                    <span class="property_list">Proctoscopy: </span>
                    <span class="value_list">In this procedure, the doctor examines the rectum and anus, takes tissue for biopsy or removes polyps.</span>
                </li>
                <li class="con_5_list_item">
                    <span class="property_list">Sigmoidoscopy: </span>
                    <span class="value_list">The doctor examines the sigmoid colon, the lower third of your colon, during this procedure.</span>
                </li>
            </ul>
            <p class="con_5_para">If you're experiencing symptoms related to the rectum and anus, such as itching, burning, constipation, diarrhea, rectal bleeding, abdominal discomfort or pain, seeking consultation with a proctologist is advisable. At Rashtrotthana Hospital, we offer the best proctology care, ensuring accurate diagnosis and appropriate treatment. It's crucial to share all symptoms openly with our specialists to facilitate an accurate assessment. Our experienced proctologists, renowned for their comprehensive understanding of anorectal anatomy and pathology, utilize advanced minimally invasive techniques for optimal patient outcomes. Contact us today!!</p>
         </div>
    </div>
</div>
