<div class="maternity_container">
  <!-- container 1 -->
  <div class="container_1">
    <!-- box_1 -->
    <div class="container_1_content_box">
      <div class="topbox">
        <div class="content_heading_box">
          <div class="container_1_heading">JANANI SAMRIDDHI:</div>
          <div class="heading_des">Mom & Baby, Covered</div>
        </div>
        <div class="discount_tag">
          <img src="../../assets/discounttg.png" alt="">
        </div>
      </div>
      <!-- box_1 -->
      <div class="container_1_heading_points">
        <ul class="container_1_list">
          <li class="container_1_list_item">1. Secure Your Package : Book with a 20% advance.</li>
          <li class="container_1_list_item">2. Rooms Upgrades: Options for semi-private, private and suite accommodations.</li>
          <li class="container_1_list_item">3. Flexible Options: personalized additions for a C-section, painless delivery and more.</li>
        </ul>
      </div>
    </div>
    <div class="button_container">
      <button (click)="contactus()" class="container_1_btn">Book your package today! <i class="fa-solid fa-angle-right"></i></button>
    </div>
  </div>

  <div class="page_content">
    <div class="pc_heading">Experience Quality Maternity Care &#64; Rashtrotthana Hospital and best in Normal Delivery
    </div>
    <div class="pc_para">Rashtrotthana Hospital offers the <b>JANANI SAMRIDDHI</b> package, a high-quality,
      all-inclusive maternity service. Our team of <b>experienced gynecologists is available 24/7</b> to ensure prompt
      care in any emergency, prioritizing the safety and well-being of both mother and child.</div>
    <div class="pc_description">Renowned Gynaecologist For Safe & Normal Deliveries Now Available at Rashtrotthana
      Hospital at just Rs. 50,000*</div>
  </div>

  <!-- maternity doc profile -->
  <div class="m_doc_profile">
    <!-- left side box -->
    <div class="dp_left">
      <div class="bg_image">
        <img src="../../assets/maternity_con_2_bg.png" alt="">
      </div>
      <!-- contents -->
      <div class="con2_contents">
        <div class="m_doc_name">Dr. Latha Venkataraman</div>
        <div class="doc_desig">Senior Consultant - Obstetrics & Gynecology MRCOG (UK), MRCP (I), FRCOG (UK)</div>
        <div class="m_expertise">
          <div class="expertise_points_wrapper" *ngFor="let expertise of doc_expertise">
            <img src="../../assets/Pin.svg" alt="">
            <div class="expertise_points">{{expertise}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- right side box -->
    <div class="dp_right">
      <img src="../../assets/maternity_doc.png" alt="">
    </div>
  </div>
  <!-- container 2 -->
  <div class="container_2">
    <div class="container_2_box">
      <div class="container_2_para">In addition to exceptional medical care, we offer <b>Holistic Yoga Programs for
          Expecting and New Mothers.</b> Our specialized <b>Antenatal & Postnatal Yoga</b> sessions are designed to
        empower your body and mind through every stage of pregnancy and postnatal care. Whether you're preparing for
        birth or focusing on postnatal wellness, our programs support you in staying healthy, flexible and relaxed.
      </div>
      <div class="container_2_para">Experience the journey of motherhood with confidence and care at Rashtrotthana
        Hospital, where your comfort and health are our top priorities.</div>
    </div>
    <div class="container_2_box">
      <div class="container_2_heading_1">Mathruswasthyam Lokaswasthyam</div>
      <div class="container_2_para">At Rashtrotthana Hospital, we stand out for our holistic approach to maternity care,
        combining cutting-edge medical practices with personalized, compassionate attention. Our team of renowned
        specialists, including obstetricians, yoga practitioners and Ayurvedic experts, ensures that every aspect of
        your pregnancy journey is covered - from high-risk pregnancies to postnatal recovery. We prioritize both
        physical and emotional well-being through our integrated services, such as antenatal yoga and Ayurvedic
        postnatal care, offering mothers and babies a nurturing environment throughout their experience. With
        round-the-clock care, state-of-the-art facilities and a commitment to patient-centered service, we provide
        exceptional care that supports both the health of the mother and the development of the child.</div>
    </div>
  </div>
  <!-- container 3 -->
  <div class="container_3">
    <div class="container_3_heading">Our Expertise in Maternity Care Includes:</div>
    <div class="container_3_contents">
      <div class="container_3_lists">
        <ul class="expertise_lists">
          <li class="expertise_list_item">Vaginal Delivery</li>
          <li class="expertise_list_item">High-Risk Pregnancy Management</li>
          <li class="expertise_list_item">Diabetes & Pregnancy</li>
          <li class="expertise_list_item">Medical Disorders in Pregnancy</li>
          <li class="expertise_list_item">Recurrent Pregnancy Loss Treatment</li>
          <li class="expertise_list_item">Emergency Obstetric Care</li>
          <li class="expertise_list_item">Vaginal Surgeries</li>
        </ul>
      </div>
      <div class="container_3_image">
        <img src="../../assets/Maternity/Maternity_container_3_image.png" alt="">
      </div>
    </div>
    <div class="container_3_description">We understand the importance of personalized attention during pregnancy and our
      team of highly qualified doctors is dedicated to providing the best care throughout this journey.</div>
  </div>
  <!-- container 4 -->
  <div class="container_4">
    <div class="container_4_heading">Integrated Maternity Packages</div>
    <div class="container_4_para">Starting from the 3rd month of pregnancy, our Integrated Maternity Care Packages offer
      a comprehensive approach to maternal health, ensuring you receive complete support for a healthy pregnancy and
      postpartum recovery.</div>
    <ul class="container_4_lists">
      <li class="container_4_list_items">
        <b>Yoga for Expecting Mothers: </b>Tailored sessions to improve digestion, mood, flexibility and reduce
        pregnancy-related discomforts like stress and anxiety.
      </li>
      <li class="container_4_list_items">
        <b>Post-Delivery Home Care Package (Ayurvedic Treatment): </b>A specialized postpartum care package designed to
        help you recover fully and regain your strength after delivery.
      </li>
    </ul>
    <div class="container_4_description">Antenatal and postnatal yoga offer numerous benefits for both expecting and new
      mothers. Antenatal yoga helps improve physical strength and flexibility, which can ease common pregnancy
      discomforts such as back pain, swelling and fatigue. It also promotes relaxation, which may help reduce stress and
      anxiety during pregnancy. Regular practice can enhance breath control, which is beneficial during labor. Postnatal
      yoga focuses on recovery, helping to restore core strength, improve posture and support mental well-being after
      childbirth. It also aids in managing stress and improving energy levels, which are essential during the postnatal
      period. Additionally, both antenatal and postnatal yoga can foster a sense of community, allowing mothers to
      connect and share experiences with others going through similar stages of motherhood.</div>
  </div>
  <!-- container 5 -->
  <div class="container_5">
    <img src="../../assets/Maternity/container_5_image_1.png" alt="">
    <img src="../../assets/Maternity/container_5_image_2.png" alt="">
    <img src="../../assets/Maternity/container_5_image_3.png" alt="">
  </div>
  <!-- conatainer 6 -->
  <div class="container_6">
    <img src="../../assets/Maternity/container_6_poster.png" alt="">
    <div class="container_6_poster">Join our expert-guided sessions, tailored to support physical and emotional
      well-being throughout your motherhood journey.</div>
  </div>
  <!-- doctor details -->

  <div class="heading">
    <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
  </div>

  <div class="doc_container">
    <div class="doctors_flex">
      <div class="doc_details" *ngFor="let slide of doctors; let i = index" [ngClass]="{ active: i === 0 }">
        <div class="doc_1">
          <img [src]="slide.image" alt="{{ slide.name }}" />
          <p class="doc_name">{{ slide.name }}</p>
          <p class="doc_Exp">{{ slide.experience }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="doc_container">
    <div class="doctors_flex">
      <div class="doc_details" *ngFor="let slide of doctors2; let i = index" [ngClass]="{ active: i === 0 }">
        <div class="doc_1">
          <img [src]="slide.image" alt="{{ slide.name }}" />
          <p class="doc_name">{{ slide.name }}</p>
          <p class="doc_Exp">{{ slide.experience }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- view all button -->
  <div class="view_all_btn_box">
    <app-arrow-btn></app-arrow-btn>
  </div>

  <!-- youtube videos -->

  <div class="title-container testimonials">
    <app-title-button text='PATIENT TESTIMONIALS'></app-title-button>
  </div>

  <div class="youtube">
    <iframe src="https://9f7e294a6f1e4d8483ede5b5c74dc2af.elf.site" frameborder="0"></iframe>
  </div>

</div>