<div>
    <div>
        <div class="container_2">
            <div class="advisory-board-members">
                <div class="advisory-board-member" *ngFor="let member of boardMembers" (click)="showPopup(member)">
                    <div class="advisory-board-member-photo">
                        <img class="image_3" [src]="member.photo" [alt]="member.name" />
                    </div>
                    <div class="advisory-board-member-info">
                        <div>{{ member.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedMember" class="popup">
    <div class="popup-content">
        <div class="group-parent">
            <div class="rectangle-parent">
                <div class="group-child">
                </div>
                <img class="group-item" alt="" [src]="selectedMember.photo">
            </div>
            <div class="dr-shivarama-varambally-container">
                <span class="dr-shivarama-varambally-container1">
                    <p class="dr-shivarama-varambally">
                        <b class="dr-shivarama-varambally1">{{selectedMember.name}}</b>
                    </p>
                    <b>
                        <p class="professor-of-psychiatry">{{selectedMember.designation}}</p>
                    </b>
                    <p class="professor-of-psychiatry_1">{{selectedMember.department}}</p>
                    <b>
                        <p class="professor-of-psychiatry">{{selectedMember.role}}</p>
                    </b>
                    <p class="professor-of-psychiatry_1">{{selectedMember.place}}</p>
                    <p class="professor-of-psychiatry">Specialty: {{selectedMember.speciality}}</p>
                </span>
            </div>
            <img class="cancel-icon" alt="" (click)="closePopup()" src="../../assets/cancel.svg" id="cancelIcon">
        </div>


    </div>
</div>