* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  line-height: 39px;
}
.home-bg {
  width: 100%;
  height: 100vh;
  padding-top: 17vh;
}
.video{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin-top: 17vh;
}
.second-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.second-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/bg-second.png") no-repeat center center/cover;
  z-index: -2;
  border-radius: 30px;
}

.second-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 20%); /* Change color and opacity as needed */
  z-index: -1;
}

.container {
  text-align: center;
  padding: 20px 97px;
  border-radius: 15px;
  width: 90%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  gap: 60px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 33px;
  cursor: pointer;
}

.icon img {
  width: 210px;
  height: 240px;
  margin-bottom: 10px;
}

.text-container {
  margin-top: 20px;
}

.number-one {
  font-size: 2em;
  color: #1aaf5d;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}

.text-container .content {
  font-size: 18px;
  font-weight: bold;
  color: #244c61;
}

.content{
  height: 180px;
  width: 100%;
  /* padding-top: 2rem; */
  line-height: 25px;
}
.title{
  height: 30px;
  width: 100%;
  color: #38A495;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: relative;
bottom: 30px;
}

.naturopathy,
.ayurveda {
  margin-bottom: 120px;
}
.modern-medicine {
  margin-bottom: 223px;
}

.sheild {
  margin-top: -203px;
  /* width: 241px;
    height: 209px; */
}
.form-container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

form {
  display: flex;
  gap: 45px;
}

.form-input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 14px;
  width: 285px;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #1aaf5d;
}

.submit-button {
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 3px;
  background: linear-gradient(90deg, #022b50 0%, #279797 100%);
  box-shadow: 3px 4px 15px rgba(63, 176, 206, 0.65);
  border-radius: 30px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
.submit-button-form{
  display: flex;
    justify-content: center;
    align-items: center;
}
.submit-text {
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}
.submit-arrow {
  width: 37px;
  height: 37px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 18.5px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.arrow {
  width: 10.2px;
  height: 37px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Font Awesome 5 Free;
  font-weight: 900;
  line-height: 37px;
  word-wrap: break-word;
}
.third-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0;
}
.fourth-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.morning{
  font-weight: 700;
  color: #222;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 202px;
  text-align: center;
  border: 2px solid #008080;
}
.card-header {
  color: #008080;
  font-size: 20px;
  font-weight: bold;
}
.m-0 {
  font-size: 14px;
}
.third-container,
.fourth-container,
.fifth-container,
.sixth-container,
.seventh-container,
.department {
  background-color: #fbfff4;
}
.fifth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-header {
  margin: 3rem;
  color: #008080;
  font-size: 36px;
  font-weight: bold;
}
.service-container {
  display: flex;
  gap: 40px;
  margin: 2rem;
}
.doctor-container{
  border-radius: 20px;
background: #FFF;
width: 370px;
height: 482px;
flex-shrink: 0;
}
.doctor-image{
  width: 370px;
  height: 370px;
  border-radius: 20px;
}
.doctor-section{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* padding-left: 6rem; */
  padding: 5rem 3rem 3rem 8rem;
}
.doctor-content{
  color: #0E3672;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 175% */
text-align: center;
padding-top: 15px;
}
.read-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: Poppins;
}
.doctor-view-all{
  background-color: #fbfff4;
}
.bg-service {
  position: relative;
  
  max-width: 100%; 
}
.bg-service img {
  width: 200px;
  height: 240px;
  display: block;
  cursor: pointer;
  /* max-width: 100%;
  height: auto; */
}
.bg-service .secondary {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.bg-service:hover .secondary {
  opacity: 1;
}
.bg-care {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 20px;
  /* background-color: #FFF; */
}
ol{
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.surgery{
  color:#FBCA51;;
  text-decoration: underline;
  width: 100%;
  padding: 0 10px 0 0;

}

.meno{
  display: flex;
  border-radius: 10px;
background: #FFF;
box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.15);
width: 538px;
height: 153px;
flex-shrink: 0;
cursor:pointer
  
}
.meno:hover{
  background: #008080;
  transition: 1s ease-in-out;
  .meno-arrow{
    transition: 2s;
    background-image: url('../../assets/care-arrow.png');
  }
}
.meno-content{
  width: 70%;
  position: relative;
  left: 1rem;
  top:1rem;
  color: #222;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 110% */
}
.meno-img{
  width: 96px;
height: 96px;
flex-shrink: 0;
position: relative;
left:1rem;
top:1rem;
}
.meno-arrow{
  position: relative;
left:1rem;
top:10px;
width: 40px;
height: 40px;
background-image: url('../../assets/Yellow\ Arrow.png');
}

/* .bg-care img {
  width: 476px;
  height: 153px;
  display: block;
  cursor: pointer;
  /* max-width: 100%;
  height: auto; */
/* }
.bg-care .secondary {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1.5s ease;
}
.bg-care:hover .secondary {
  opacity: 1;
} */ 

.bg-features {
  position: relative;
  max-width: 100%; 
}
.bg-features img {
  width: 164px;
  height: 191px;
  display: block;
  cursor: pointer;
  /* max-width: 100%;
  height: auto; */
}
.bg-features .secondary {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.bg-features:hover .secondary {
  opacity: 1;
}
.bg-features:hover .primary{
  opacity: 0;
}


.about-div {
  padding-left: 10rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.about-text {
  width: 60px;
  height: 45px;
  left: 60px;
  top: 2px;
  position: absolute;
  opacity: 0.2;
  background: #008080;
}
.about {
  left: 80px;
  top: 11px;
  position: absolute;
  color: #008080;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.about-content-div {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 4rem;
}
.about-image-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 4rem; */
}
.sixth-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 0rem;
}
.about-image {
  width: 401px;
  height: 471px;
}
.about-us-heading {
  padding-top: 2rem;
  padding-left: 4rem;
  color: #222222;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 55px;
  word-wrap: break-word;
  width: 70%;
  padding-bottom: 3rem;
}
.about-us-content {
  padding-top: 2rem;
  padding-left: 4rem;
  color: #222222;
  font-size: 18px;
  font-family: inter;
  font-weight: 400;
  width: 534px;
  word-wrap: break-word;
  text-align: justify;
}
.read-button {
  padding-left: 4rem;
  padding-top: 2rem;
}
.about-image-content {
  padding-top: 2rem;
  color: black;
  font-size: 12px;
  font-family: inter;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
  width: 401px;
}
.seventh-container {
  gap: 20px;
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.count{
  width: 255px;
  height: 190px;
}
.eight-container {
  width: 100%;
  display: flex;
}
.achieve-content,
.achieve-image {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  background-color: #ffffff;

}
.achieve-image {
  display: flex;
  width: 50%;
  height: 600px;
  align-items: center;
  background-color: #ffffff;

}
.NABH {
  width: 382px;
  height: 375px;
}
.achieve-content {
  background: linear-gradient(180deg, #fbca51 -73.53%, #008080 100%);
  color: white;
}
.achieve-heading {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 2rem;
}
li {
  width: 599px;
  color: #fff;
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.28px;
}
.last-li {
  padding-bottom: 5rem;
}
.ninth-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.specialities {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.four {
  display: flex;
  width: 50%;
}
.department {
  width: 100%;
  overflow-x: hidden;
  padding-top: 4rem;
}
.hospital {
  display: flex;
  flex-direction: column;
}
.dept,
.care-image {
  padding-left: 2rem;
}
.dept-div {
  padding-left: 10rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.dept-text {
  width: 100px;
  height: 45px;
  left: 130px;
  top: 2px;
  position: absolute;
  opacity: 0.2;
  background: #008080;
}
.dept-1 {
  left: 150px;
  top: 11px;
  position: absolute;
  color: #008080;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.about {
  left: 80px;
  top: 11px;
  position: absolute;
  color: #008080;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.about-image-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding-left: 6rem;
}


.about-us-heading {
  padding-top: 2rem;
  padding-left: 4rem;
  color: #222222;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 55px;
  word-wrap: break-word;
  width: 620px;
}
.about-us-content {
  padding-top: 2rem;
  padding-left: 4rem;
  color: #222222;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  width: 534px;
  word-wrap: break-word;
  
}
.read-button {
  padding-left: 4rem;
  padding-top: 2rem;
}
.about-image-content {
  padding-top: 2rem;
  color: black;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
  width: 401px;
}

.eight-container {
  width: 100%;
  display: flex;
}
.achieve-content,
.achieve-image {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.achieve-image {
  padding-top: 3rem;
}
/* .NABH {
  width: 382px;
  height: 375px;
} */
.achieve-content {
  background: linear-gradient(180deg, #fbca51 -73.53%, #008080 100%);
  color: white;
}
.achieve-heading {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 2rem;
}
li {
  width: 599px;
  color: #fff;
  
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.28px;
}
.last-li {
  padding-bottom: 5rem;
}
/* .ninth-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4rem;
} */
.specialities {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.four {
  display: flex;
  width: 50%;
  padding-top: 3rem;
}
.department {
  width: 100%;
  overflow-x: hidden;
  padding-top: 4rem;
}
.hospital {
  display: flex;
  flex-direction: column;
}
.dept,
.care-image {
  padding-left: 2rem;
}
.dept-div {
  padding-left: 10rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.dept-text {
  width: 100px;
  height: 45px;
  left: 130px;
  top: 2px;
  position: absolute;
  opacity: 0.2;
  background: #008080;
}
.dept-1 {
  left: 150px;
  top: 11px;
  position: absolute;
  color: #008080;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.tenth-container {
  width: 100%;

  background: url("../../assets/service.png") no-repeat;
  background-size: cover;
}
.corporate {
  padding: 2rem;
  text-align: center;
  color: #008080;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}
.hope {
  padding: 1rem;
  text-align: center;
  color: #1e0b9b;
  text-shadow: 0px 0px 50px rgba(251, 202, 81, 0.4);
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}
.benefit {
  padding: 2rem;
  text-align: center;
  color: #1e0b9b;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}
.free-div {
  padding-top: 5rem;
  padding-left: 10rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.free-text {
  width: 100px;
  height: 45px;
  left: 625px;
  top: 2px;
  position: absolute;
  opacity: 0.2;
  background: #008080;
}
.free-1 {
  left: 650px;
  top: 11px;
  position: absolute;
  color: #008080;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.empty {
  padding-top: 10rem;
}
.empty-1 {
  padding-bottom: 12rem;
}
.button {
  cursor:pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
.text-benefit {
  color: #1e0b9b;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}
.donate-button {
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 3px;
  border-radius: 30px;
  background: linear-gradient(90deg, #fbca51 -22.35%, #07ccec 118.82%);
  box-shadow: 3px 4px 15px 0px rgba(63, 176, 206, 0.65);
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.donate-text {
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}
.donate-arrow {
  width: 37px;
  height: 37px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 18.5px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.arrow {
  width: 10.2px;
  height: 37px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Font Awesome 5 Free;
  font-weight: 900;
  line-height: 37px;
  word-wrap: break-word;
}
.title-container {
  display: flex;
  padding: 0 10%;
}
.box{
  border-radius: 10px;
background: #FFF;
box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.15);
width: 255px;
height: 190px;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.number{
  color: #1E0B9B;
text-align: center;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 100% */
padding: 5px 0;
}
.statement{color: #013243;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.card-header{
  border-bottom: none;
  background-color: white;
}
.box-animation{
  width:100%;
  height:300px;
}
.card_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.testinomial_image {
  width: 100px;
  height: 100px;
}

.review {
  font-family: poppins;
  line-height: 25px;
  
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.name {
  font-weight: 700;
  font-family: inter;
  font-size: 18px;
  margin-top: 20px;
}

.place {
  color: #0994f7;
  font-family: poppins;
  font-size: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   /* Custom color for arrows */
   background-color: grey;
   width: 30px;
   height: 30px;
   border-radius: 50%;

}
.book-appoint{
  position: fixed;
  right: 0;
  bottom:10px;
  width: 100%;
  height: 100%;
  z-index: 1000000000000000000000;
}
.Google_review{
  position: fixed;
  height: 700px;
  width: 400px;
  left: 0;
  bottom: 10px;
  margin-top: 100px;
  z-index: 1;
  
}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polygon points="70,105 25,40 115,40" fill="%23000"/></svg>') no-repeat right 10px center;
  background-size: 10px;
  padding: 10px 40px 10px 10px; /* Adjust padding to match the design */
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust border radius to match the design */
}
.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 100%;
}
.whatsapp-chat{
  position: fixed;
  bottom: 20px;
left: 20px;
  border-radius: 50%;
  width: 50px;
  height:50px;
}

.google_review_container{
  margin-top: 50px;
}

.google_reviews{
  width: 100%;
  height: 600px;
}

.youtube_testimonials{
  width: 100%;
  height: 550px;
}

.news_and_events{
  padding: 0 10%;
}

.instagram_feed{
  width: 100%;
  height: 600px;
}

.testimonials{
  margin-top: 50px;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Poppins;
}

.news_and_events_heading .heading-text{
  font-family: poppins;
  font-size: 24px;
  text-align: center;
}
.surgery-package{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.15);
  /* width: 437px; */
  height: 150px;
  flex-shrink: 0;
  cursor:pointer
}
.maternity{
  text-decoration: none;
  color:#000
}
.meno-content-2{
  font-size: 14px;
  line-height: 24px;
  margin-top: 32px;
}
@media only screen and (max-width:1390px){
  .container{
    padding: 20px 35px;
    width: 100%;
  }
  .bg-features img{
    width: 150px;
    height: 180px;
  }
  .naturopathy{
    margin-bottom: 90px;
  }
  .modern-medicine{
    margin-bottom: 184px;
  }
  .title{
    height: 20px;
    font-size: 24px;
    position: relative;
    bottom:51px;
  }
  .text-container .content{
    font-size: 14px;
    padding-top: 0;
    position: relative;
    bottom: 30px;
  }
  .doctor-container{
    border-radius: 20px;
  background: #FFF;
  width: 370px;
  height: 482px;
  flex-shrink: 0;
  }
  .form-container{
    height: 15vh;
  }
  .submit-button-form{
    position: relative;
    top: 8px;
  }
  .button {
    cursor:pointer;
    position: relative;
    left: 342px;
    width: 50%;
  }
  .empty{
    padding-top: 8rem;
  }
  .tenth-container{
    background-size: contain;
  }
  .surgery-package{
    height: 200px;
  }
}
@media only screen and (max-width:1030px){
  .container{
    padding: 20px 20px;
    width: 100%;
  }
  .box-animation{
    width:100%;
    height:400px;
  }
  .icons{
    gap: 40px;
  }
  .text-container{
    position: relative;
    top: 90px;
  }
  .card{
    width: 303px;
    height: 201px;
  }
.card-header{
  font-size: 16px;
}
.doctor-container{
  border-radius: 20px;
background: #FFF;
width: 300px;
height: 419px;
flex-shrink: 0;
}
.doctor-section{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* padding-left: 6rem; */
  padding: 5rem 2rem 3rem 3rem;
}
.doctor-image{
  width: 300px;
  height: 320px;
}
  form{
    gap: 10px;
  }
  .form-container{
    padding: 20px 17px;
  }
  .form-input{
    padding: 4px 13px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    width: 274px;
    outline: none;
    transition: border-color 0.3s;
  }
  .bg-service img{
    width: 160px;
    height: 200px;
  }
  .about-us-heading{
    font-size: 22px;
  }
  .about-content-div{
    padding: 2rem;
  }
  .box{
    width: 179px;
    height: 152px;
  }
  .number{
    font-size: 26px;
  }
  .statement{
    font-size: 14px;
  }
  .button{
    width: 20%;
  }
  .bg-features{
    width: 113px;
    height: 96px;
  }
  .about-image{
    width: 378px;
  
    height: 448px;
}
.about-us-content{
  font-size: 16px;
}
.ninth-container{
  padding: 2rem;
}
.meno{
  width: 437px;
    height: 150px;
}
.meno-content{
  font-size: 18px;
  width: 60%;
}
.four-image{
  width: 88%;
  height: 68%;
  position: relative;
  top: 150px;
}
.corporate{
  font-size: 36px;
}
.hope{
  font-size: 30px;
}
.free-1{
  left: 482px;
}
.free-text{
  width: 100px;
  height: 45px;
  left: 453px;
  top: 2px;
  position: absolute;
  opacity: 0.2;
  background: #008080;
}

.empty{
  padding-top: 2rem;
}
.empty-1{
  padding-bottom: 4rem;
}
.button{
  left:430px;
}
li{
  font-size: 14px;
  width: 390px;
  padding-left: 2rem;
  font-family: inter;
}}


@media only screen and (max-width:900px){
  .bg-features img{
    width:109px;
    height:149px;
  }
  .icon{
    margin-right: 34px;
  }
  .sheild{
    width: 200px;
  }
  .title{
    margin-top: 75px;
    font-size: 36px;
  }
  .text-container .content{
    font-size: 16px;
  }
  .form-input{
    width: 174px;
  }
  .doctor-image{
    width: 230px;
    height: 250px;
  }
  .doctor-container{
    width: 230px;
    height: 360px;
  }
  .doctor-content{
    color: #0E3672;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 291.667% */
  }
  .doctor-section{
padding: 5rem 0rem 3rem 1rem;
  }
  .card{
    width: 230px;
  }
  .card-header{
    font-size: 12px;
  }
  .m-0{
    font-size: 10px;
  }
  .service-header{
    font-size: 32px;
  }
  .bg-service img{
    width: 120px;
    height: 150px;
  }
  .about-us-heading{
    font-size: 16px;
    padding-left: 0;
    width: 459px;
  }
  .about-us-content{
    font-size: 12px;
    padding-left: 0;
    padding-top: 0;
    width: 300px;
  }
  .about-image {
    width: 346px;
    height: 307px;
    padding-left: 3rem;
  }
  .about-image-container{
    padding-left: 0;
  }
  .about-image-content{
    width: 363px;
    font-size: 12px;
  }
  .box{
    width: 129px;
    height: 136px;
  }
  .statement{
   font-size: 12px;
  }
  .number{
    font-size: 22px;
  }
  li{
    font-size: 12px;
    width: 347px;
    padding-left: 2rem;
}
.achieve-image{
  padding-top: 9rem;
}
.care-image{
  padding-left: 0;
}
.meno{
  width: 314px;
  height: 125px;
}
.meno-img{
  width: 69px;
  height: 69px;
}
.meno-content{
  font-size: 14px;
  
}
.corporate{
  font-size: 26px;
  padding: 1rem;
}
.hope{
  font-size: 20px;
  padding: 0;
}
.benefit{
  font-size: 20px;
  padding: 1rem;
}
.button{
  left: 294px;
  bottom: 30px;
  width: 25%;
}
.free-div{
  padding-top: 4rem;
}
.free-text{
  left: 310px;
}
.free-1{
  left: 343px;
  font-size: 12px;
}
.Youtube{
  width: 100%;
  height: 600px;
}
.surgery-package{
  width: 318px;
  height: 150px;
}
.acheive-points{
  width: 100%;
}
}

@media  only screen and (max-width:430px){
  .whatsapp{
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 45px;
    height: 45px;
  }
  .video{
    height: fit-content;
    margin-top: 13vh;
  }
  .second-container {
    height: 734px;
  }
.text-container{
  top: 0;
}
.text-container .content{
  padding-top: 6rem;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 20px 51px;
}
.title{
  display: none;
  font-size: 14px;
}
.doctor-section{
  grid-template-columns: 50%;
  justify-content: center;
  padding: 0;
}
.doctor-container{
  margin-top: 2rem;
  width: 230px;
  height: 360px;
}
.form-input{
  padding: 4px 13px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 14px;
  width: 285px;
  outline: none;
  transition: border-color 0.3s;
}
.text-container .content{
 
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  /* padding-top: 4rem; */
}
.text-container{

  margin-bottom: 30px;
  top: 25px;
}
.bg-features:hover .secondary {
  opacity: 0;
}
.bg-features:hover .primary{
  opacity: 1;
}
/* .icons{
  display: grid;
  grid-template-columns: 51% 25%;
  gap: 47px;
}
.homeopathy:nth-child(5){
  grid-column: span 2;
      justify-self: center;
}
  .icon{
    margin-right: 0;
  }
  .yoga{
    margin-top:0;
  }
  .naturopathy{
    margin-bottom: 0;
  }
  .modern-medicine{
    margin-bottom: 0;
  }
  .ayurveda{
    margin-bottom: 0;
  }
  .homeopathy{
    margin-top:0;
  } */
  .icons{
    margin-right: 113px;
    gap:39px;
  }
  .icon img{
width:109px;
height:149px
  }
  .modern-medicine{
    margin-bottom: 0;
    bottom: 110px;
    left: 13px;
  }
  .naturopathy{
    margin-bottom: 0;
    right: 47px;
    bottom: 110px;
  }
  .bg-features{
    width: 0;
    height:0;
  }
  .ayurveda{
    margin-bottom: 0;
    left: 76px;
    bottom: 110px;
  }
  .sheild{
    margin-top: 0;
    width: 100px;
    height: 90px;
  }
  .icon img {
    width: 123px;
    height: 143px;
    margin-bottom: 0px;
  }
  .yoga{
    position: relative;
    top: 271px;
    left:98px;
  }
  .homeopathy{
    position: relative;
    top: 271px;
    right: 62px;
  }
  .bg-features .secondary{
    opacity: 1;
  }
  .bg-features .primary{
    opacity: 0;
  }
  .bg-features:hover .secondary{
    opacity: 1;
  }
  .bg-features:hover .primary{
    opacity: 0;
  }
  .icon img .secondary{
    /* height: 147px; */ 
  }
form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-input{
    width: 272px;
        height: 50px;
  }
  .form-container{
    height:270px;
  }

  .third-container{
    height: 450px;
  }
  .fourth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  .card-header{
    border-bottom: none;
    color: #008080;
    font-size: 20px;
    font-weight: bold;
    background: white;
  }
  .card{
    margin-bottom:2rem;
    width: 360px;
  height: 202px;
  }
 
    .service-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
  .bg-service:nth-child(5){
      grid-column: span 2;
      justify-self: center;
      width: 180px; /* Adjust as needed */
      
  }

  .bg-service {
      width: 100%; /* Adjust as needed */
      padding: 10px;
  }

  .bg-service img {
      width: 100%; /* Adjust as needed */
      height: 105% ;/* Adjust as needed */
      margin-bottom: 5px;
  }
  /* .bg-service .third{
    width: 140px;
    height: 186px;
  } */

  .bg-service p {
      font-size: 12px; /* Adjust as needed */
  }
  
  .eight-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .achieve-content{
    width: 100%;
    height: 100%;
  }
  .achieve-image{
    width: 100%;
    height: 100%;
  }
 .acheive-points{
  padding-left: 2rem;
  width: 100%;
 
 }
 .acheive-points ul li{
  word-wrap: break-word;
 }
 .four{
  display: none;
 }
 .ninth-container{
 display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
 }
 .about-us-heading{
  font-size: 16px;
  width: 328px;
  line-height: 20px;
  padding-left: 1rem;
 
 }
.meno{
  width: 170%;
  background-color: #008080;
  height:74px;
}
.meno-arrow{
  width: 25px;
  height: 25px;
  background-image: url('../../assets/hover-arrow.png');
  background-repeat: no-repeat;
}
.surgery{
  color: #FBCA51;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.meno:hover{
  .meno-arrow{
    transition: none;
    width: 25px;
    height: 25px;background-image: url('../../assets/hover-arrow.png');
  }
}

.meno-content{
  color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 228px;
}
.meno-img{
  width: 38px;
  height: 38px;
}
.tenth-container{
  
    width: 100%;
    background: url("../../assets/dontaion-home-bg.png") no-repeat;
    background-size: contain;
    height: 880px;
  }
  .free-div,.benefit,.hope,.corporate{
    display: none;
  }
.sixth-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
}

.about {
  font-size: 12px;
  left:22px;
}
.about-us-content{
  font-size: 12px;
  padding:0;
  line-height: 20px;
  width: 333px;

}
.about-us-heading{
  font-size: 14px;
  padding: 0;
  padding-top:2rem;
  padding-bottom: 2rem;
}
.about-content-div{
  padding: 0;
}
.about-image-container{
  padding-left: 0;
  padding-top: 1rem;
}
.about-image{
  width: 311px;
  height: 319px;
  padding-left: 2.5rem;
  position: relative;
  bottom: 62px;
}
.about-image-content{
  font-size: 12px;
  width: 333px;
  padding: 0;
}
.about-text{
  left:3px;
}
.achieve-image{
  padding-top: 2rem;
}
.seventh-container {

  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap:50px;
  padding-top: 6rem;
}
.box:nth-child(5) {
  grid-column: span 2;
  justify-self: center;
}
.box{
  width: 150px;
}
.number{
  font-size: 20px;
}
.statement{
  font-size: 16px;
}

.button{
  width: 50%;
  left: 113px;
  top: 524px;
}

li{
  width: 349px;
  font-size: 12px;
}
.read-button{
  padding-left: 6rem;
  padding-top: 2rem;
  position: relative;
  top: 756px;
  width: 170%;
}
.surgery{
top:0;
}

.Youtube{
  width: 100%;
  height: 650px;
}
.surgery-package, .maternity-package{
  height: 150px;
}
.meno-content-2{
  font-size: 12px;
  line-height: 20px;
  margin-top: 28px;}
}
@media only screen and (max-width:380px){
.card{
  width: 326px;
}
li{
  width: 320px; /* Adjust as needed */
 
}
.container{
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
}
.button{
  top: 481px;
  left: 98px;
}
.card-header{
  font-size: 18px;
}
.meno{
  width: 205%;
}
.icons{
  gap:30px
}
.icon img{
  width: 95px;
  height:110px
    }
    .icon{
margin-right:17px;
    }
  .homeopathy{
    right:25px;
  }
  .yoga{
    left:52px;
  }
  .text-container{
    top: 16px;
  }

.surgery-package{
  height: 150px;
}
}
@media only screen and (max-width:365px){
  .tenth-container{
  
    width: 100%;
    background: url("../../assets/dontaion-home-bg.png") no-repeat;
    background-size: cover;
    height: 733px;
  }
  .about-us-content,.about-image-content{
    width: 280px;
  }
  .icon img{
    width: 95px;
    height:110px
      }
      .icons{
        gap:30px
      }
      .icon{
        margin-right:17px;
        /* top:16px; */
              }
  

    .homeopathy{
      right:25px;
    }
    .yoga{
      left:52px;
    }
  .read-button{
    padding-left: 3rem;
    padding-top: 2rem;
    position: relative;
    top: 670px;
    width: 198%;
}
.about-image {
  padding-left: 25px;
  width: 270px;
  height: 310px;
  }
  .about-image-content{
    padding-top: 0;
  }
  .doctor-section{
    grid-template-columns: 65%;
  }
.box{
  width: 130px;
  height:142px;
}
.statement{
  font-size: 12px;
}
.number{
  font-size: 14px;
}
.NABH{
  width: 100%;
}
li{
  width: 280px;
}
.achieve-heading{
  padding-right: 0;
  width: 280px;
  font-size: 20px;
}
.about-us-heading{
  width:288px;
}
.button{
  top: 474px;
}
.donate-text{
  font-size: 14px;
}

}
@media only screen and (max-width:325px){
  .tenth-container{
  
    width: 100%;
    background: url("../../assets/dontaion-home-bg.png") no-repeat;
    background-size: cover;
    height: 655px;
  }
  .video{
    height: fit-content;
    margin-top: 17vh;
  }
  .second-container {
   height: 734px;
  }
  .card{
    width: 100%;
    height:100%;
  }
  .form-container{
    width: 280px;
    padding: 10px ;
  }
  .about-us-content{
    width: 280px;
  }
  .about-image{
    padding-left: 0;
    width: 280px;
    height: 300px;
  }
  .about-image-content{
    width: 280px;
  }
  li{
    width: 264px;
  }
  .about-us-heading{
    width:288px;
  }
  .achieve-heading{
    padding-right: 0;
    width: 280px;
    font-size: 20px;
  }
  .read-button{
    padding-left: 3rem;
    padding-top: 2rem;
    position: relative;
    top: 654px;
    width: 215%;}
    .box{
      width: 130px;
      height:142px;
    }
    .statement{
      font-size: 12px;
    }
    .number{
      font-size: 14px;
    }
    .NABH{
      width: 100%;
    }
    .service-header{
      margin: 1rem;
      color: #008080;
      font-size: 28px;
      font-weight: bold;
    }
    .sixth-container{
      padding: 1rem;
    }
    .meno{
      width: 204%;
    }
    .meno-content{
      width: 211px;
    }
    .care-image{
      padding-left: 0rem;
    }
    .button{
      width: 57%;
      left: 84px;
      top: 394px;
    }
}
@media only screen and (max-width:322px){
  /* .second-container {
    height: 734px;
  } */
}