<div class="popup-overlay" *ngIf="showPopup">
    <div class="popup-content">
        <span class="close-icon" (click)="closePopup()">&times;</span>
      <!-- <img src="../../assets/free health camp.jpeg" alt="Popup Image" /> -->
      <img src="../../assets/radiologist-career.jpeg" alt="Free hearing camp at RR Nagar" />
    </div>
  </div>


  <div class="popup-overlay" *ngIf="showPopup2">
    <div class="popup-content">
        <span class="close-icon" (click)="closePopup2()">&times;</span>
      <!-- <img src="../../assets/free health camp.jpeg" alt="Popup Image" /> -->
      <img src="../../assets/consultant-emergency=medicine-career.jpeg" alt="Free hearing camp at RR Nagar" />
    </div>
  </div>