<div class="main-container">
<div style="margin-top:17vh" >
    <img class="banner-image" src="../../assets/dialysis-bg.png">
</div>
<div class="heading">
    Dialysis Unit
</div>
<div class="facility">
    <div class="facility-content">
        <div class="heading-container">Dialysis Unit</div>
        <div class="content-container">
            <div class="side-heading">
                “Quality Dialysis at Affordable cost at Rashtrotthana Hospital”
            </div>
            <div class="content">
                Hon’ble Cabinet Minister of Education and Skill Development, Govt. of India Shri Dharmendra Pradhan ji inaugurated 8-Bedded State-of-the-Art advanced Dialysis unit at Jayadev Memorial Rashtrotthana Hospital & Research Centre on 4th March, 2023 at 11.30 AM.
The Dialysis Unit & RC is fully equipped dialysis centre operational round the clock with qualified and experienced professionals focusing on optimal patient care through Standard Operational Protocols. 24/7 ICU and intensivist support is available to handle any kind of emergencies.
                
            </div>
            <div>
                <p>High Quality Dialysis &#64;Affordable rates.</p>
                <p>Haemodialysis &#64;Rs. 1500/- per session.</p>
                <p>Dialysis Dept Highlights:</p>
                <li>Qualified & Experienced Professionals</li>
                <li>24X7 ICU & Ambulance support</li>
                <li>Hygienic Environment</li>
                <li>State of the art infrastructure & equipments</li>
                <li>Standardized protocols ensure optimal patient care.</li>
                <li>Dialysis Pt. Renal Profile Investigation  available &#64; Rs. 900 only.</li>
                <p>Rashtrotthana Hospital in RR Nagar, Bangalore, provides comprehensive <a href="https://en.wikipedia.org/wiki/Kidney_dialysis">kidney dialysis</a> services within a modern, multispeciality facility. Equipped with advanced dialysis units and supported by experienced nephrologists and skilled staff, the hospital prioritizes safe and compassionate care for kidney health. Through a holistic approach, Rashtrotthana Hospital enhances patient outcomes by integrating preventive care, dietary guidance and routine monitoring. The multispeciality setup allows patients convenient access to additional services, ensuring a seamless healthcare experience under one roof, with a strong commitment to accessible, high-quality kidney care for the community.</p>
            </div>

        </div>
        <div class="image-container">
            <img class="image" src='../../assets/dialysis-rec-1.png' >
            <img class="image" src='../../assets/dialysis-2.png' >
        </div>
    </div>
    <div>
        <div class="o_menu">
            <!-- menu heading -->
            <div class="gm_m_heading">
                <span class="more_specs">More Facilities</span>
            </div>
            <!-- menu contents -->
            <div class="menu_contents">
                <div class="op_names">
                    <!-- general medicine -->
                    <div class="menu_list_box" routerLink="/facility/health-insurance-plans-bangalore" routerLinkActive="active">
                        <p class="menu_list general_medicine">Insurance</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- general Surgery -->
                    <div class="menu_list_box"routerLink="/facility/best-emergency-trauma-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list general_Surgery">Emergency & Trauma Care</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Obstetrics & Gynaecology -->
                    <div class="menu_list_box"routerLink="/facility/inpatient-facility-bangalore" routerLinkActive="active">
                        <p class="menu_list Obstetrics_Gynaecology">In-patient facility</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Paediatrics & Neonatology -->
                    <div class="menu_list_box" routerLink="/facility/dialysis" routerLinkActive="active">
                        <p class="menu_list Paediatrics_Neonatology">Dialysis Unit</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Nephrology -->
                    <div class="menu_list_box" routerLink="/facility/operation-theatre-bangalore" routerLinkActive="active" >
                        <p class="menu_list Nephrology">Operation Theatre</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Urology -->
                    <div class="menu_list_box" routerLink="/facility/best-intensive-care-unit-multispeciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Urology">ICU</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Orthopedics -->
                    <div class="menu_list_box" routerLink="/facility/top-diagnostics-multi-speciality-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Orthopedics">Radiology Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Gastrosciences -->
                    <!-- Cardiac Sciences -->
                    <div class="menu_list_box" routerLink="/facility/24-hours-pharmacy-store-bangalore" routerLinkActive="active">
                        <p class="menu_list Cardiac_Sciences">Pharmacy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Pulmonology -->
                    <div class="menu_list_box" routerLink="/facility/best-ambulance-service-rashtrotthana-hospital-bangalore" routerLinkActive="active">
                        <p class="menu_list Pulmonology">Ambulance Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Ophthalmology -->
                    <div class="menu_list_box" routerLink="/facility/dietary-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Ophthalmology">Dietary</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Dental Sciences -->
                    <div class="menu_list_box" routerLink="/facility/physiotherapy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Dental_Sciences">Physiotherapy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- ENT -->
                    <div class="menu_list_box" routerLink="/facility/laboratory-services-bangalore" routerLinkActive="active">
                        <p class="menu_list ENT">Laboratory Services</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Neurosciences -->
                    <div class="menu_list_box" routerLink="/facility/endoscopy-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Neurosciences">Endoscopy</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <!-- Endocrinology -->
                    <div class="menu_list_box" routerLink="/facility/nutrition-dietetics-services-bangalore" routerLinkActive="active">
                        <p class="menu_list Endocrinology">Nutrition & Dietetics</p>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

