<div class="heading">
  <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
</div>

<div class="doc_container">
  <div class="doctors_flex">
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Venkatesh H. S | Best Ayurveda Endocrinologist in Bangalore | Rashtrotthana Hospital" src="../../assets/Dr-Venkatesh-H-S.jpg">
        <p class="doc_name">Dr. H. S Venkatesh</p>
        <p class="section">BSc, BAMS, FAHO, FAGE</p>
        <p class="designation">Ayurveda Specialist</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 25</p>
      </div>
    </div>
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Sapna S | Best Ayurveda Specialist in Bangalore | Rashtrotthana Hospital" src="../../assets/dr-sapna-dr-page.png">
        <p class="doc_name">Dr. Sapna S</p>
        <p class="section">MD (Ayu) in Rasa Shastra and Bhaishajya Kalpana, PG Dip (Yoga) Diploma in Medical Astrology</p>
        <p class="designation">Ayurveda Specialist</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 20</p>
      </div>
    </div>
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Kavyashree Kulamarva | Ayurvedic Psychiatry Consultant in Bangalore | Rashtrotthana Hospital" src="../../assets/Dr-Kavya.png">
        <p class="doc_name">Dr. Kavya N </p>
        <p class="section">BAMS, MD (Ay), (PhD)</p>
        <p class="designation"></p>
        <p class="department">Ayurveda</p>
        <p class="exp">Years of Experience: 15</p>
      </div>
    </div>
    <!-- <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Kavyashree Kulamarva | Ayurvedic Psychiatry Consultant in Bangalore | Rashtrotthana Hospital" src="../../assets/Dr-Kavyashree-Kulamarva.png">
        <p class="doc_name">Dr. Kavyashree Kulamarva</p>
        <p class="section">MD, PDF</p>
        <p class="designation">Ayurvedic Psychiatry Consultant</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 6</p>
      </div>
    </div> -->
  </div>
  <div class="doctors_flex">
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K. R | Ayurveda doctor in Bangalore | Rashtrotthana Hospital" src="../../assets/Ayurveda-doctors/Dr.RohithKR.png">
        <p class="doc_name">Dr. Rohith K R</p>
        <p class="section">BAMS</p>
        <p class="designation">Resident Medical Officer </p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 3</p>
      </div>
    </div>
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Kishan G. N – Ayurveda, Rashtrotthana Hospital Bangalore" src="../../assets/dr-kishan-g-n-doc-page.png">
        <p class="doc_name">Dr. Kishan G. N</p>
        <!-- <p class="section">BAMS</p> -->
        <p class="designation">Ayurveda (Panchakarma and Ayurvedic Medicine)</p>
        <!-- <p class="department">Agnivesha Institute Of Ayurveda</p> -->
        <p class="exp">Years of Experience: 14+</p>
      </div>
    </div>
  </div>

</div>