<div class="heading">
  <p class="doctor_heading">MEET OUR MEDICAL TEAM</p>
</div>

<div class="doc_container">
  <div class="doctors_flex">
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K R" src="../../assets/doctor-61.jpg">
        <p class="doc_name">Dr. H. S Venkatesh</p>
        <p class="section">BSc, BAMS, FAHO, FAGE</p>
        <p class="designation">Ayurveda Specialist</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 25</p>
      </div>
    </div>
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K R" src="../../assets/doctor-60.jpg">
        <p class="doc_name">Dr. Sapna S</p>
        <p class="section">MD (Ayu) in Rasa Shastra and Bhaishajya Kalpana, PG Dip (Yoga) Diploma in Medical Astrology</p>
        <p class="designation">Ayurveda Specialist</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 20</p>
      </div>
    </div>
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K R" src="../../assets/doctor-48.png">
        <p class="doc_name">Dr. Kavyashree Kulamarva</p>
        <p class="section">MD, PDF</p>
        <p class="designation">Ayurvedic Psychiatry Consultant</p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 6</p>
      </div>
    </div>
  </div>
  <div class="doctors_flex">
    <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K R" src="../../assets/Ayurveda-doctors/Dr.RohithKR.png">
        <p class="doc_name">Dr. Rohith K R</p>
        <p class="section">BAMS</p>
        <p class="designation">Resident Medical Officer </p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 3</p>
      </div>
    </div>
    <!-- <div class="doc_details ">
      <div class="doc_1"><img alt="Dr. Rohith K R" src="../../assets/Ayurveda-doctors/Dr.Alekhya.png">
        <p class="doc_name">Dr. Alekhya R</p>
        <p class="section">BAMS</p>
        <p class="designation">Resident Medical Officer </p>
        <p class="department">Agnivesha Institute Of Ayurveda</p>
        <p class="exp">Years of Experience: 2</p>
      </div>
    </div> -->
  </div>

</div>